[2015-04-17 12:35] mgreenegit opened #1 "xDSCWebService needs to detect OS version"
The provider strings are different between 2012 and 2012 R2

[2015-05-17 04:19] TravisEz13 opened #11 "xPackage should allow you to specify what hive InstalledCheckRegKey is in"
Since WMF 5 allows you to run as the user, you might be concerned about another hive other than local machine, which is currently hard coded.

[2015-05-28 12:23] adweigert opened #14 "xService throws error when service already exists"
When the Path property is provided the DSC resource throws an error if the service exists instead of returning true for Test-TargetResource or continuing with the WriteWriteProperties calls for Set-TargetResource. The Path property will always be present in the configuration.

[2015-05-29 20:42] rdean716 opened #15 "xRemoteFile is not idempotent"
During testing we noticed that remote resources were being downloaded each time the configuration is applied.  We debugged the issue back to the location in which the resource is caching the remote resources metadata for later comparison, "$env:ProgramData\Microsoft\Windows\PowerShell\Configuration\BuiltinProvCache\MSFT_xRemoteFile", by default.  The LCM can write to that path during the initial a

[2015-05-29 21:06] KarolKaczmarek commented on #15
I'm assuming you are using Start-DscConfiguration during your testing. If that's the case, this behavior is by design, because BuiltinProvCache is being cleaned every time Start-DscConfiguration is called. As a result, every time you apply the configuration manually (using Start-DscConfiguration), cache is not present and remote resources will be downloaded.

Main purpose of the cache is to not do

[2015-05-29 23:03] rdean716 commented on #15
Thanks for the quick reply.  Yes, we were using Start-DscConfiguration to test.  I guess I should be using Update-DscConfiguration to  force a consistency check on WMF5?

A couple of additional question:
BuiltinProvCache - is that a special thing?  Why did the resource behave differently when I changed the path to something that does not include BuiltinProvCache?

I also noticed that the xArchive

[2015-05-29 23:21] KarolKaczmarek commented on #15
Usually there's no need to manually force consistency engine to run, but for testing purposes you can achieve it by calling the cim method directly:

```Invoke-CimMethod -Namespace  root/Microsoft\windows/DesiredStateConfiguration -Cl MSFT_DSCLocalConfigurationManager -Method PerformRequiredConfigurationChecks -Arguments @{Flags = [System.UInt32]1} ```

BuiltinProvCache is a special directory for

[2015-06-01 15:55] rdean716 commented on #15
Got it.  Thanks again for the quick feedback.

[2015-06-01 15:55] #15 closed

[2015-06-09 05:28] chrissimon-au opened #16 "xArchive doesn't calculate cache hash code correctly - race condition when multiple archives in one configuration"
Get-CacheEntry calculates a cache key using:

    $key = [string]::Join($args).GetHashCode().ToString()

Unfortuntaely, [string]::Join requires the separator as the first argument, so this will always result in calculating the hash code of the empty string - or 371857150.

If you have multiple archives in the same configuration, they will all get cached to the same key - sometimes this isn't a pro

[2015-06-09 05:29] chrissimon-au commented on #16
Note - the same bug applies to the default "Archive" DSC resource.

[2015-06-09 05:40] chrissimon-au commented on #16
See PR #17

[2015-06-10 12:40] glatzert opened #19 "xGroup should allow using domain accounts without passing credentials"
xGroup complains about missing credentials, if members or membersToInclude contains Domain users - this is not neccessary in most cases.
If no credential is given, xGroup should try to connect to the target Domain without providing credentials:

New-Object System.DirectoryServices.AccountManagement.PrincipalContext -ArgumentList ([System.DirectoryServices.AccountManagement.ContextType]::Domain,$sc

[2015-06-24 05:27] hahndorf opened #23 "xDSCWebService has no support for Absent"
As far as I can see, there is no support for removing the Web Services in the MSFT_xDSCWebService resource.

In Test-TargetResource:

        Write-Verbose "Check Ensure"
        if(($Ensure -eq "Present" -and $website -eq $null) -or ($Ensure -eq "Absent" -and $website -ne $null))
        {
            $DesiredConfigurationMatch = $false
            Write-Verbose "The Website $EndpointName is not

[2015-06-24 06:01] hahndorf opened #24 "xDscWebService: PSDSCComplianceServer returns HTTP Error 401.2"
When accessing http://localhost:9080/PSDSCComplianceServer.svc in IE I get:

`HTTP Error 401.2 - Unauthorized`

the reason is:

which is the base for:

has this node:

        <security>
            <authentication>
                <anonymousAuthentication enabled="false" />
                <basicAuthentication enabled="false" />
                <windowsAuthentication enabled="true" />

[2015-06-24 18:35] vors commented on #23
It would be awesome, if you can write [a pester test](https://github.com/pester/Pester) that fails.

[2015-06-24 18:36] vors commented on #24
:+1:

[2015-06-24 22:58] KarolKaczmarek commented on #16
Fixed by #17

[2015-06-24 22:58] #16 closed

[2015-06-25 10:17] hahndorf opened #26 "xDSCWebService - $PhysicalPath default not a good one"
The defaults for the physical path for the two new DSC pull server sites are:

    $env:SystemDrive\inetpub\wwwroot\$EndpointName

which means these files are physically located under the document root of the default web site, that's a bad idea. These files should be separate from each other. I suggest changing the defaults to:

    $env:SystemDrive\inetpub\$EndpointName

[2015-06-25 10:36] hahndorf opened #27 "PSWSIISEndpoint.psm1 - Test-IISInstall error"
In:

line 93:

        $iisVersion = (Get-ItemProperty HKLM:\SOFTWARE\Microsoft\InetStp -ErrorAction silentlycontinue).MajorVersion + (Get-ItemProperty HKLM:\SOFTWARE\Microsoft\InetStp -ErrorAction silentlycontinue).MinorVersion

on 2012 R2: $iisVersion is 13, because the code just adds 8 + 5

luckily there is no older IIS version that adds up to greater than 7, so this code actually works.

I wou

[2015-06-25 12:29] hahndorf commented on #1
Can you be a bit more specific where this problem is?

[2015-06-25 12:49] mgreenegit commented on #1
It is referenced in the Appendix of the updated Pull Server document (work in progress).  The file type will be different based on how the machine was built.
https://github.com/mgreenegit/Whitepapers/blob/master/PullServerCPIG/PullServerCPIG.md

[2015-06-25 13:59] hahndorf commented on #23
I've written the code to implement Absent, but want to wait for my previous pull request (#25) to go through before bringing this in. I will think about some pester tests.

[2015-06-25 15:21] hahndorf opened #28 "xDSCWebService: Adding Firewallrule without checking for existing one."
As part of the installation of the DSC WebService, the resources adds a new Firewall rule:

I ran a configuration using that resource a few times and I now have **24** of the above rules, all with the same name.

Before adding this rule the code should check whether it already exists.

[2015-06-25 18:30] KarolKaczmarek commented on #11
@TravisEz13 Looks like you have fix ready, are you planning to send PR?

[2015-06-25 18:56] TravisEz13 commented on #11
already fixed:  https://github.com/PowerShell/xPSDesiredStateConfiguration/commit/c0126f8e7ae96d2c72e3487f2ce99ef5d5b2f0b1

[2015-06-25 18:56] #11 closed

[2015-06-25 21:06] hahndorf commented on #28
I'm happy to fix this

[2015-06-25 21:06] hahndorf commented on #27
I'm happy to fix this

[2015-06-25 21:07] hahndorf commented on #26
I'm happy to fix this. Do you agree with my suggestion?

[2015-06-25 21:08] KarolKaczmarek commented on #28
Thanks Peter!

[2015-06-25 21:08] KarolKaczmarek commented on #27
Thanks!

[2015-06-25 21:11] KarolKaczmarek commented on #26
Thanks! I'll let @rayhayes chime in

[2015-06-25 21:20] #24 closed

[2015-06-26 05:18] hahndorf opened #29 "xDSCWebService - Setup problem when FTP site exists"
During the setup of the Pull Server sites, all IIS web sites are stopped.

If an FTP site exists on the server or a stopped web site with the same binding as another site, the resource breaks.

Also an attempt is made to stop and start the pool named DefaultAppPool, while this pool exists on a fresh IIS install, it may not be there. (I don't have it on any of my servers anymore)

I'm looking into

[2015-06-26 05:31] hahndorf commented on #29
At the end of `New-PSWSEndpoint` the following is called:

    Update-AllSites start

starting all web sites on the server, even if they were not started before.

This also fails for FTP sites and web sites with duplicate bindings.

Why are all sites stopped and restarted? Why is the DefaultAppPool restarted? Is this really required to add the news DSC pull sites?

To fix these things I need addit

[2015-07-07 14:36] mgr32 opened #31 "xPackage - logging underlying exception message"
When using xPackage and process fails to run, the error message does not state what the actual problem is, which makes is hard for troubleshooting. Consider following script that tries to run an empty .bat file:

    $filePath = 'c:\invalid.bat'

    Configuration Test {
    Import-DSCResource -ModuleName xPSDesiredStateConfiguration

        xPackage TestPackage {
            Name = 'Test'

[2015-07-07 21:25] nitinbps opened #32 "xGroup doesn't work properly on domain controller."
A local user is created under and added to admin group and then machine was promoted to DC. After that consistency checks fails as xGroup resource is not able to resolve local user (now domain controller admin).
Prior to promoting to a DC, the members were all local users and they are resolved using the PrincipalContext for the local system and no credentials are needed.  After promotion, the memb

[2015-07-08 00:06] KarolKaczmarek commented on #31
Thanks @mgr32, this is definitely a valid point and outputting additional information will provide better user/developer experience. Could you please send PR with the commit you linked to?

[2015-07-20 21:25] #31 closed

[2015-07-28 23:15] KarolKaczmarek commented on #23
Closed by #30

[2015-07-28 23:15] #23 closed

[2015-07-28 23:15] KarolKaczmarek commented on #26
Closed by #30

[2015-07-28 23:15] #26 closed

[2015-07-28 23:16] KarolKaczmarek commented on #27
Closed by #30

[2015-07-28 23:16] #27 closed

[2015-07-28 23:16] KarolKaczmarek commented on #28
Closed by #30

[2015-07-28 23:16] #28 closed

[2015-07-28 23:16] KarolKaczmarek commented on #29
Closed by #30

[2015-07-28 23:16] #29 closed

[2015-08-16 11:24] robwaldron opened #39 "Cannot process Cmdlet Definition XML"
I'm trying to dynamically build configuration scripts in C# using PowerShell 5 Preview, but unfortunately i'm receiving the following error:

Exception	{"Cannot process Cmdlet Definition XML for the following file: C:\\WINDOWS\\system32\\WindowsPowerShell\\v1.0\\Modules\\PSDesiredStateConfiguration\\Remove-DscConfigurationDocument.cdxml. There is an error in XML document (33, 31). Object reference

[2015-08-18 18:31] alc6379 commented on #14
Any ETA on this being included in the dev branch? Alternatively, I could just pull down this change and merge in myself locally if @mgr32 is confident that it works.

[2015-08-19 18:03] KarolKaczmarek commented on #14
It's already available in the dev branch, https://github.com/PowerShell/xPSDesiredStateConfiguration/pull/36 has been merged.
Closing this issue, but feel free to reopen if you have further questions.

[2015-08-19 18:03] #14 closed

[2015-08-19 21:40] alc6379 commented on #14
Awesome!

[2015-08-30 01:58] Dan1el42 opened #40 "MSFT_xPackageResource is failing basic schema validation tests with Test-xDscResource"
- Test-ParameterMetaDataIsDscResourceProperty : The schema and module don't both have the ValidateSet tag for property InstalledCheckRegHive.
- Test-SetHasExactlyAllNonReadProperties : The functions Set-TargetResource and Test-TargetResource must take all Key, Required and Write properties. There is an issue with the
parameter InstalledCheckRegHive defined in the schema.

[2015-08-31 22:38] #40 closed

[2015-09-01 21:13] ferventcoder opened #42 "xWindowsOptionalFeature should work on Windows 2012 R2"
It's apparently included in Windows 2012 R2, but the check is explicit about client only for the dsc resource (and the built-in resource as well).

https://github.com/PowerShell/xPSDesiredStateConfiguration/blob/f5e56030da118ea10bbec70a890ce7b24602daea/DSCResources/MSFT_xWindowsOptionalFeature/MSFT_xWindowsOptionalFeature.psm1#L256-L259

![image](https://cloud.githubusercontent.com/assets/63502/96

[2015-09-11 22:53] JVimes opened #44 "Support UNC paths in xRemoteFile"
I'd like xRemoteFile to be able to download to a UNC path.

of UNC path.

[2015-09-15 23:50] KarolKaczmarek commented on #44
Hi,

Could you tell me what is the scenario you are trying to accomplish?

Do you want to specify UNC path on the local machine for some reason?
Or you want to specify UNC path to point DestinationPath to the remote node?

[2015-09-16 00:05] JVimes commented on #44
Sure. I want to download from the Internet to a shared folder accessed via UNC path.

I'm in the process of converting a provisioning script to DSC. I have several VMs that share a folder. The first VM to be configured downloads some large install media to the shared folder and runs the media. Then, subsequent VMs can skip the download to save time/bandwidth. I'm using VirtualBox's shared folders,

[2015-10-13 14:45] mgr32 opened #45 "xRemoteFile re-downloads file every time (request to implement MatchSource property)"
I'm using push mode and need to download a large file from HTTP server. `xRemoteFile` works ok, but it always downloads the file (even if it didn't change), which takes long time to finish. This is because `xRemoteFile` uses local cache and compares LastWriteTime, but the cache is cleared every time I run Start-DscConfiguration.

`MSFT_xRemoteFile.psm1:`
[code]

If we're not able to have a persist

[2015-10-13 17:29] KarolKaczmarek commented on #45
Hi @mgr32
Cache is being cleared every time Start-DscConfiguration is being run manually, but not when the consistency engine kicks in. So in a usual scenario where you rely on DSC engine to maintain state of your machines, file will not be redownloaded every time.
If that doesn't satisfy your scenario, could you please give more details about it?
Thanks!

[2015-10-14 07:06] mgr32 commented on #45
I'm using DSC for deploying an application in push mode (from CI server) - like described in [this blog entry](http://colinsalmcorner.com/post/using-webdeploy-in-vnext-releases) but using [PSCI](https://github.com/ObjectivityBSS/PSCI) ([example](https://github.com/ObjectivityBSS/PSCI/wiki/Getting%20started%20-%20Deploy%20scripts)) instead of TFS Release Management. I need to have control when exac

[2015-10-14 17:32] KarolKaczmarek commented on #45
In that case a workaround you could use is to change path where cache for this resource is being stored, line 14:
[code]
If you change it to some custom folder (needs to be outside of the BuiltinProvCache directory), it will not be cleared.

[2015-10-14 18:31] mgr32 commented on #45
Thanks for the workaround. However, as this doesn't seem to be acceptable final solution, I understand we're not currently able to fix it on the dev branch.

[2015-10-14 20:49] KarolKaczmarek commented on #45
I think we should implement the MatchSource property in a similar way to how File resource implements it, however until it's done, the above workaround is the only way to get this scenario working.

[2015-10-14 21:06] mgr32 commented on #45
Thank you, if that's the case I will try to provide a pull request when time allows :)

[2015-10-14 21:09] KarolKaczmarek commented on #45
Thanks! That would be much appreciated.

[2015-10-17 18:07] iainbrighton opened #46 "Skip xPackage Post Validation"
This one might be a bit of an edge-case, but I thought I would throw it out there for discussion. It might be a feature worth adding? If not, I can implement in my own fork/repository.

The 'xPackage' resource supports installing a package where the dependency check is a registry key/value and not necessarily Add/Remove Programs. It also supports supplying credentials when running an exexcutable u

[2015-10-19 18:44] KarolKaczmarek commented on #46
I think this is worth supporting, but perhaps instead of coupling the solution to the specific use case when we have Registry resource depending on the xProcess which creates registry key, we should add this functionality to the resource itself.

What I mean is, instead of adding SkippostValidationCheck to simply skip the validation check, we could add CreateCheckRegValue parameter which, when set

[2015-10-19 19:39] iainbrighton commented on #46
I get you! Are you happy for the parameter to be called 'CreateCheckRegValue'? If so, I'm happy to implement and send a pull request ;)

[2015-10-19 21:17] KarolKaczmarek commented on #46
Sure, unless a better name comes to your mind ;) Thanks!

[2015-10-27 09:09] Zuldan commented on #45
I'm having this exact same issue. Some sort of MatchSource would be perfect.

@KarolKaczmarek, the README.md file under xRemoteFile

"Ensure: Ensures that the local file is Present or Absent on the local system", however the Ensure property doesn't exist.

[2015-10-28 10:33] iainbrighton commented on #46
@KarolKaczmarek Pull request sent for this functionality :)

[2015-10-29 18:27] KarolKaczmarek commented on #45
@Zuldan It actually have Ensure property, however it's read only:
https://github.com/PowerShell/xPSDesiredStateConfiguration/blob/dev/DSCResources/MSFT_xRemoteFile/MSFT_xRemoteFile.schema.mof#L10

It's main purpose is to tell you whether file in path specified by DestinationPath is present or not. I agree the name doesn't reflect it's meaning very well, but it's a common pattern among multiple res

[2015-11-03 00:00] #46 closed

[2015-11-10 18:40] #45 closed

[2015-11-18 19:44] ArieHein commented on #44
@JVimes: Either I'm missing something or youre not using the resource correctly.
For start, the error message should have said "\\VBOX.." so i hope thats not a mistype from your side on the DesitnationPath. Never the less the resource description states: "ensures the presence of remote files on a local machine". From my understanding, this resource would make sure a file on a share will be compare

[2015-11-19 00:19] JVimes commented on #44
The resource description can and should be changed if it makes the resource better. Supporting UNC paths would make it better. It is a reasonable use case.

The install media I'm downloading is about 4 GB, so downloading multiple times is not an option.

There was a second slash in my config, as evidenced by the error message.

[2015-11-19 00:31] KarolKaczmarek commented on #44
The main reason UNC paths are not supported is that resource should be configuring state of the current node. We download remote file on the local machine, thus changing it's state. If we were downloading the file onto another machine, we would be changing state of the other machine instead.

The workaround for your scenario would be what @ArieHein proposed - use xRemoteFile on VM hosting the shar

[2015-11-19 00:57] JVimes commented on #44
If a resource finds that its state already exists, it just moves on. So the
subsequent VMs will find that the file is already in the destination and
keep going. This seems like a perfectly fine scenario for desired state
configuration. The destination state is shared between VMs, as is the
configuration.

It's unnecessarily complicated to make my script span both the VM host and
the VM's. And it's

[2015-11-19 16:58] ArieHein commented on #44
@JVimes: "If a resource find that its state..."  its not the resource state, its the node state. Since the share isnt on a "node" but a general share, theres no state as theres no node. If the share was on a VM running windows OS for example then yes, you could have used this resource on the script that runs on that node.

I do think your requirement is valid but just not using the right resource.

[2015-11-19 18:31] JVimes commented on #44
Conceptually, the share is part of the node. I think you're being idealistic at the expense of usefulness. But I'm not going to keep arguing. I gave up on DSC for a few reasons, this only being one of them. Best of luck with it.

[2015-11-20 18:51] KarolKaczmarek commented on #44
Sorry to hear that. If you would like to discuss those reasons, we would be glad to hear that. Microsoft Connect is good place for general DSC requests/bugs: https://connect.microsoft.com/PowerShell

[2015-11-24 18:58] #44 closed

[2015-11-26 08:54] AlexisColes opened #49 "DSC V5 - Keeps attempting to reapply a failed configuraiton"
We have started using DSC to deploy some applications. We are pushing out the configurations and only want it to run this configuration once and then stop. However it seems that if a configuration fails we end up with a pending configuration which DSC seems to keep attempting to reapply. Is this intended behavior? Is there anyway for us to prevent this happening.

Here are our LCM settings

Action

[2015-11-26 11:50] iainbrighton commented on #49
HI @AlexisColes - As far as I'm aware this is intended behaviour. By using DSC to configure the node you have said you WANT that configuration and it will attempt to configure the node until it's configured appropriately.

You should be able to remove the pending configuration from the node with `Remove-DscConfigurationDocument -Stage Pending`, but that doesn't solve your real problem..

[2015-11-26 12:21] AlexisColes commented on #49
Thanks for your response @iainbrighton .  I know the problem is the desired state configuration we are running is not really the desired state, more like a base desired state.

In order to fix the real problem we need to artifact all our builds, tag the correct versions of our artifacts into a release, then tag the environment with that release version and get it to dynamically generate a mof file

[2015-12-07 06:31] wasabii opened #51 "xPackage CreateCheckRegValue when key is not a string"
I'm trying to install .Net 4.6.1, which requires me to set SOFTWARE\Microsoft\NET Framework Setup\v4\Full:Release to a given numerical value in order for xPackage to work. The installer does not set this flag until the reboot. And xPackage fails to consider the package as successfully installed if the value is not set. So I intend to have it set by xPackage, so that it considers it installed.

How

[2015-12-07 06:38] #51 closed

[2015-12-07 08:14] wasabii opened #52 "xPackage should allow some option to not validate installation until after reboot"
Line 982+ of `MSFT_xPackageresource.psm1`:

[code]

This happens immediately after the package has installed. Whether a reboot has been requested or not. Some packages do not complete their installation until after a reboot. An example is .Net 4.6.1. The registry keys that one can use to determine whether it is installed or not do not actually appear until after the reboot.

So, xPackage fails. Ev

[2015-12-11 19:26] CtrlC-Root opened #53 "xArchive does not allow $Checksum to be specified."
So as far as I can tell there's no way to specify the checksum xArchive should use when comparing two files. I believe the default value results in comparing file names which is inadequate for all of my use cases. It looks like the functionality to use alternate algorithms is already implemented just not broken out using any resource parameter.

[2015-12-13 20:08] iainbrighton commented on #42
This is also needed to enable features on Nano server! I'll put something together..

[2015-12-14 19:03] r14git opened #54 "xGroup with MembersToInclude throws error "The specified account name is already a member of the group.""
[code]

When I run script for the first time user is added to local administrators group properly.
When I run script for the second time I got error:

VERBOSE: [TEST1A]: LCM:  [ Start  Resource ]  [[User]LocalAdmin]
VERBOSE: [TEST1A]: LCM:  [ Start  Test     ]  [[User]LocalAdmin]
VERBOSE: [TEST1A]:                            [[User]LocalAdmin] A user with the name Admin2 exists.
VERBOSE: [TEST1A]:

[2015-12-15 20:57] PrahlM93 opened #56 "xDscWebService does not detect change in CertificateThumbPrint"
Hello,
The xDscWebService does not seem to change the SSL certificate associated with the binding if you push a new configuration with a different CertificateThumbPrint value. The binding's SSL certificate stays the same and DSC says the configuration is consistent. If I change the port number of the binding alongside of the CertificateThumbPrint, then the SSL certificate is changed.

Based on wha

[2015-12-16 13:39] mprahl opened #57 "Specify Certificate Subject for xDSCWebService"
Hello,
I was reading the [Configuration Planning and Installation Guide](https://github.com/PowerShell/Whitepapers/blob/master/PullServerCPIG/PullServerCPIG.md) and under the section "Advanced configuration for Windows Server 2012 R2", it shows that you can specify the CertificateSubject instead of the CertificateThumbPrint. Based on trying this and looking through the code in this repository, it

[2016-01-14 11:49] Timor1986 opened #60 "Add Recovery on Failure and Autostart with Delay to xService"
Please add the option to Add the Recovery on Failure and Autostart with delay to the xService resource.

[2016-01-19 21:42] #42 closed

[2016-01-19 21:59] ferventcoder commented on #42
Thanks @iainbrighton

[2016-01-27 22:33] TravisEz13 opened #62 "xService: errors creating a service are not logged"
Wesley Smith posted the following question for xPSDesiredStateConfiguration Module – PowerShell DSC Resource Kit on Wednesday, October 1, 2014. View online.

**Errors creating a service are not logged**

Using ModuleVersion = '3.0.2.0': When using xService, if the service doesn't get created due to a configuration error, then the DSC log doesn't show the error message. I believe that this is becau

[2016-01-27 22:39] #62 closed

[2016-02-09 21:12] AceHack opened #65 "How to upgrade new versions of a service using xService"
If I try to combine this with File resource I get file in use errors, I'm trying to figure out the correct workflow for upgrading services.  I need to stop\uninstall the service, copy new files, then install\start the service.  Is there any way to accomplish this with xSevice and combining other resources, or am I going to have to write my own custom resource.  Thanks.

[2016-02-09 21:34] AceHack commented on #65
Here is an example of my config

`    Configuration ServiceTestConfiguration {
        Import-DscResource -ModuleName PSDesiredStateConfiguration
        Import-DscResource -ModuleName xPSDesiredStateConfiguration

        Node localhost
        {
            File EnsureLatestServiceExist {
                Ensure = 'Present'
                Type = 'File'
                Checksum = 'ModifiedDate'

[2016-02-14 20:29] ArturDorochowicz opened #66 "xService doesn't work with Credential specified"
xService resource fails to create a service when Credential option is specified. It only works when the service already exists and the operation reconfigures it.

This is on Windows 10, using xPSDesiredStateConfiguration 3.7.0.0.

The log that I get on first attempt is the following:

[code]

When the service already exists, things work fine:
[code]

[2016-02-16 23:36] nanalakshmanan opened #67 "xUser and xService Resource should set 'Deny Access to this Computer from the Network' policy"

[2016-02-16 23:44] nanalakshmanan opened #68 "xService: errors creating a service are not logged"

[2016-02-18 18:30] nanalakshmanan opened #69 "xWindowsFeature: Domain Controller with WindowsFeature Resource Error"
This issue is coming from a customer email

The customer is trying to create a domain controller with this snippet in his DSC configuration:

WindowsFeature InstallAD-Domain-Services
{
    Ensure = "Present"
    Name = "AD-Domain-Services"
}

Once the domain controller is created he is seeing these errors:

VERBOSE: Perform operation 'Invoke CimMethod' with following parameters, ''methodName' = Se

[2016-02-18 19:42] nanalakshmanan opened #70 "Need better error handling in package resource"
Need better error handling when there is an exception from msi interfaces.

This bug is about adding try/catch to package provider that calls Get-MsiProductEntry to do better logging when there is an exception from msi routine.

See the line 645 in package provider psm1 in \dsc\providers\package\:

                # check if Msi package contains the ProductName and Code specified

[2016-02-22 04:22] AceHack opened #71 "xService Get-TargetResource fails when service does not exist"
Like when you are trying to ensure Absent or if the service was manually deleted.

Below is an example of a config that will fail Get

        xService RemoveService {
            Ensure = 'Absent'
            Name = 'TestService'
            DisplayName = 'TestService'
            Description = 'TestService'
            Path = 'c:\testservice.exe'
            StartupType = 'Automatic'

[2016-03-01 18:49] CtrlC-Root opened #72 "xService does not update the binary path."
The `xService` module does not update the installed service if the `Path` parameter changes. This is inconvenient because if it changes you have to first remove the service and then re-add it. Since the `Name` parameter is required for both operations and it's a key you can't do this in a single DSC configuration block.

My thought is the resource should check if the path needs to be updated and i

[2016-03-04 06:15] amccool opened #74 "How do I set a service's Recovery options"
I need to set an xService's recovery options for
first
second
subsequent
reset fail count after x days
restart service after x minutes
etc

I dont see these options available.  Does this feature need to be created?

[2016-03-07 05:32] AceHack opened #76 "xService does not add log on as service"
Hope this gets fixed soon.  Thanks.

[2016-03-07 13:39] AlexisColes opened #77 "Desired state configuration life time (dispose)"
This is more of a feature request rather than a issue, this is the best place I could find to make it, hope this is ok.

I am not sure what the lifetime of a DscResource class is but could it be for the lifetime of 1 run and contain a dispose method.

I am looking to write some configuration transformation logic into dsc resource.  The basic plan of attack is to run a transformation process agains

[2016-03-07 16:22] AceHack opened #78 "xGroup Please create a Name key property"
I don't want this do anything other than let me make this unique.  Right now I'm hitting a bug that produces the following error.  This is not xGroup itself causing the bug, I believe it's a MOF generation issue.  I've had this exact same problem with my own Resources and solved it by added a completely unused Name key that will just allow me to make it unique.

The WS-Management service cannot pr

[2016-03-14 19:18] BerheAbrha opened #83 "Move integration test for xDSCWebservice resource."
There are set of tests under xPSDesiredStateConfiguration\Examples\ which validate pull server deployment. This issue is to make those test part of an integration test so that future change to the resource will be validated.

[2016-03-21 17:39] megamorf opened #91 "MDB file created with 3.8.0.0 and Server 2012 R2 WMF5"
Hey guys,

I've used the recently released 3.8.0.0 version of the xPSDesiredStateConfiguration module to set up a demo Pull Server. It seems you've changed the db provider to ESENT for Server 2012 R2 in #88. But here's the thing: my "C:\inetpub\PSDSCPullServer\web.config" contains these lines:

[code]
Yet it still creates an mdb in the DSC Service directory:
[code]

Upon registration of a Pull ser

[2016-03-21 17:45] megamorf commented on #91
I see that the Errors and StatusData are now binary fields in comparison to plain text in the mdb :(

![dbresult](https://cloud.githubusercontent.com/assets/1732128/13928138/e57063a8-ef94-11e5-8fc1-50ce0cc5b65a.png)

[2016-03-21 17:56] NarineM commented on #91
@megamorf ,
Devices.mdb is created in DSC Service directory for supporting downlevel OS such as Win8 and Win2008 R2 Server. xWebService resource automatically installs the database provider for you based on the OS type you are installing pull server on. It is documented in xWebService resource. On Windows 2012 R2 full sku you can still switch to mdb if that is a requirement for you by changing the

[2016-03-21 18:03] megamorf commented on #91
Ah thanks for the clarification. I didn't know that OLE isn't supported on 2012 R2 Core.
I think it's worth adding this to the documentation. I'll go ahead and create a PR for that.

PS: Can you recommend a tool that allows me to read the binary fields in the edb?

[2016-03-21 18:03] NarineM commented on #91
@megamorf
If you use REST API to query Errors and StatusData fields you will see them in plain text regardless you use ESENT or OLE providers.
For a given node (identified by AgentID that can be retrieved by running glcm cmdlet in powershell) you can get the assiated reports as shown in below example:

Invoke-WebRequest –Uri "<http://name:port>/PSDSCPullServer/PSDSCPullServer.svc/Nodes(AgentId='yo

[2016-03-21 20:07] #91 closed

[2016-03-22 12:49] ArieHein opened #93 "Removing ComplianceServer"
You're basically forcing people to not upgrade to WMF 5.
If I have a working environment based on v4, I cant enjoy any of the good things in WMF5 just bacuase theres no backward compatibility now for my ComplianceServer.

A better way would be to check if the caller is a v5 or a v4, and then enable to disable the ComplianceServer resource, no ?

[2016-03-22 13:15] Zuldan commented on #93
I agree with Arie to some extent.

To add to his post...IsComplianceServer functions perfectly fine in WMF5.

There are two methods in DSC 5 to register nodes and two methods to reporting. The problem is...

1. Nodes using the Configuration ID method can only be reported on by using a "Compliance Server" (IsComplianceServer).

2. Nodes using Registration Keys method can only be reported on by usin

[2016-03-22 17:22] NarineM commented on #93
@ArieHein,
Compliance server was reporting server for high level pull operations only. In WMF 5 we extended that functionality by introducing reporting server. You can read more about it here: https://msdn.microsoft.com/en-us/powershell/dsc/reportserver
In WMF 5 pull client supports sending detailed status reports for pull as well as push operations.

@Zuldan ,
#1 and #2 bullets in your comments s

[2016-03-22 17:39] eshaparmar opened #94 "xPackage resource should handle valid exit codes returned by msi (3010/1641) while setting DSCMachineStatus flag to 1"

[2016-03-22 23:38] ArieHein commented on #93
Ok, seems like the newly updated docs make more sense now.

[2016-03-22 23:38] #93 closed

[2016-03-22 23:44] ArieHein opened #96 "ReportServerWeb"
per :  https://msdn.microsoft.com/en-us/powershell/dsc/reportserver

        ConfigurationRepositoryWeb CONTOSO-PullSrv
        {
            ServerURL = 'https://CONTOSO-PullSrv:8080/PSDSCPullServer.svc'
            RegistrationKey = 'fbc6ef09-ad98-4aad-a062-92b0e0327562'
        }

        ReportServerWeb CONTOSO-PullSrv
        {
            ServerURL = 'https://CONTOSO-PullSrv:8080/PSDSCPullSe

[2016-03-23 10:38] Zuldan opened #97 "ReportServerWeb - Broken with ConfigurationID method"
Apologies if this should be on UserVoice instead of here. I'm happy to move it if need be.

The ReportServerWeb works perfectly fine when using RegistrationKeys but breaks when using Configuration IDs.

To prove this I created Sample_RegistrationKeys.ps1 which sets up a DSC Pull Server, configures a nodes LCM and then retrieves some report data.

I then cloned Sample_RegistrationKeys.ps1 to Sample

[2016-03-23 22:13] kamranayub commented on #97
This is made worse by the fact you cannot use partial configurations with configuration names--the LCM doesn't pull configurations if you try to use partials with configuration name, you have to set `ConfigurationID` for partial configs to work.

[2016-03-23 22:30] NarineM commented on #97
@Zuldan
Looks like you are missing a step in ConfigurationId scenario that creates configuration document mof (guid.mof)  file and its checksum and place it on the pull server, in Configuration repository as documented in https://msdn.microsoft.com/en-us/powershell/dsc/pullserver

[2016-03-23 22:34] kamranayub commented on #97
@NarineM I assume he's in the same boat as me. I have all the required MOF files and checksums, because configuration *pulls* fine. But it still can't send status report, same error as above.

[2016-03-23 23:16] Zuldan commented on #97
@Narine, thank you so much for your response.

I purposely did not create a MOF file for the node. I simple wanted to configure the nodes LCM and then get a status report from the Report Server. The samples are to show that the Report Server does not function when the Pull Server is in ConfigurationID mode. As kamranayub has said, even if you create the MOF files and the node pulls the config, the

[2016-03-28 19:37] NarineM commented on #96
@ArieHein ,
Reporting server stores detailed information about node configuration run status not only for pull but also for push operations. One can setup a node in push mode using a meta configuration with just ReportServerWeb and no ConfigurationRepositoryWeb block. By default (and if no ReportServerWeb is specified in meta configuration) the reporting is turned off.
When the reporting is turned

[2016-03-28 20:10] #96 closed

[2016-03-28 21:05] Zuldan commented on #97
@NarineM, could you kindly confirm if this is a bug?

[2016-03-28 23:03] theonlyway opened #98 "ReportServer"
Hi,

I deployed a new V2 Pull server using the example here: https://msdn.microsoft.com/en-us/powershell/dsc/pullserver

I then applied a configuration to a node and attempted to check the report server to see if the node was compliant much like I was able to do while using the compliance server in V1. I've configured the nodes report and pull server to be the same endpoint (Both to PSDSCPullServe

[2016-03-29 00:21] Zuldan commented on #98
@theonlyway, 'PSDSCReportServer.svc' is a typo in the documentation. If you want a working example, see here https://gist.github.com/Zuldan/c679bae20de0c2dcf1aa

Note: Only registrationkey Pull/Node servers are able to performing reporting. Reporting for ConfigurationID Pull/Node servers is broken as far as I can tell. See https://github.com/PowerShell/xPSDesiredStateConfiguration/issues/97

[2016-03-29 03:48] theonlyway commented on #98
@Zuldan thanks for that your sample works. Unfortunate that a typo on the doco like that creates so much confusion! Do you know if there is anything similar to what the compliance server did where it actually said weather or not the node was compliant? It doesn't appear like it's something the report server returns from the looks of it.

[2016-03-29 05:15] Zuldan commented on #98
Good question, I'm trying to find out the same thing. I was hoping to use ODataExplorer to discover what information is available in the Report Server OData feed but it appears ODataExplorer is not working with it. I'm hoping Doug Finke can get it going. See https://github.com/dfinke/ODataExplorer/issues/1

[2016-03-31 15:20] jmcook01 commented on #98
@NarineM
I'd also like to know if there is further documentation on what's exposed by the web service. I'm able to get status data for individual machines using the AgentID using the examples provided on MSDN but like @Zuldan I'd like to have an overall status report like I could easily generate in previous version. I've opened up the database in Access to look at the tables and I suppose if I wan

[2016-03-31 20:21] NarineM commented on #98
@jmcook01
I am planning to post a blog about what is exposed by the web service in a few days. For now you can use examples on msdn. For your question about all AgentIDs, WMF 5 does not support get all. You will need to iterate over each agentID to get the data.

[2016-03-31 20:59] jmcook01 commented on #98
I'm fine with iterating over each AgentID to get the status data, however I need a way to know what the agentID is for every machine that has registered with the pull server. Is there a way to get that via the webservice? I look forward to your blog post.

[2016-03-31 21:02] Zuldan commented on #98
@Narine, that is fantastic news about the blog!

Will it include examples on how to report on both AgentID and ConfigurationID nodes?

[2016-03-31 21:16] NarineM commented on #98
@jmcook01
AgentID can be retrieved from each node by running (glcm).AgentId on the node. This is the ID that the node is using to get registered to DSC pull/reporting servers and is being stored in web server's database(registration table). The web service in WMF 5 does not expose a REST API to get all AgentIDs.

[2016-03-31 22:45] NarineM commented on #97
@Zuldan , @kamranayub
If the node is setup to use ConfigurationID , ConfigurationID.mof has to present on the pull/reporting server (in the DSCService\Configuration folder).  This ID is used by reporting server to authorize the client for send report operation. If a file with the name <ConfigurationId>.mof does not present on the reporting server, the server would reject the client request to send

[2016-03-31 22:47] NarineM commented on #97
@Zuldan , @kamranayub
It is similar to registrationKey scenario where the node has to be setup with a registration key and that key is required to present on the reporting server (in DSCService\RegitrationKey.txt file) . This key is used by the reporting server to authorize the client for sending status report operations.

[2016-04-01 15:16] jmcook01 commented on #98
Are there plans to add this functionality to the API or can it be considered for a future release? It's not really practical for me to try and query every machine in my environment for their AgentID so I can generate an overall status report. Otherwise I'll have to look at collecting the AgentID via another inventory method which seems unnecessary when it's already in the DSC database.

[2016-04-05 02:07] Zuldan commented on #97
Hi Narine, thank you for your persistence with this. I feel a bit silly I can't get this working.

I updated the Sample https://gist.github.com/Zuldan/c0fd292838b8d35c6383 to include build a config for the Node Server (client) and place the mof file in C:\Program Files\WindowsPowerShell\DscService\Configuration, however the node is still unable to report to the Pull Server

Log Name:      Microsof

[2016-04-05 20:52] NarineM commented on #97
Hi @Zuldan ,
Let us try the following steps to see what is wrong in your setup.
Make sure the 1d545e3b-60c3-47a0-bf65-5afc05182fd0.mof and its checksum present on the machine that is setup as a pull server under DSCService\Configuration folder.
Run iisreset on the machine that is setup as pull endpoint.
Since you are looking at ETW logs, can you delete all the existing ETW logs on the pull node ?

[2016-04-05 21:36] sssalib42 opened #103 "xPackage does not include a Version property!!!"
The xPackage resource doesn't include a 'Version' property as presented in the attached screenshot:
![image](https://cloud.githubusercontent.com/assets/10172212/14298595/63181d84-fb4b-11e5-84b1-9696ec0d8489.png)

However, the gethub documentation claims that the xPackage includes a Version property!!!
![image](https://cloud.githubusercontent.com/assets/10172212/14298800/7dfe575c-fb4c-11e5-99f8-c9b

[2016-04-06 14:40] gigi81 opened #104 "xDscWebService: DefaultAppPool crash. AcceptSelfSignedCertificates should default to $false"
Trying to use the xDscWebService resource, the DefaultAppPool crashes on a 64bit win2012 server with the following message:

The Module DLL 'C:\Windows\SysWOW64\inetsrv\IISSelfSignedCertModule.dll' could not be loaded due to a configuration problem. The current configuration only supports loading images built for a AMD64 processor architecture. The data field contains the error number. To learn mo

[2016-04-07 14:29] jmcook01 commented on #98
Any updates on the blog post @NarineM ?

[2016-04-07 21:40] sssalib42 commented on #66
Why do you need to specify a credential property to a service anyway!!??? It's sufficient if it works without having to specify the credential property. I believe what's happening is that it's attempting to "change" the credential of a service rather than "run as" credential.

[2016-04-08 18:32] ArturDorochowicz commented on #66
@sssalib42 Hm, so you are suggesting that this is the credential to run the DSC operation under, right?

My assumption was entirely different - that it's the "run as" credential of the service. And, as I describe above, it does work this way when the service already exists. Also this is what I gather from reading the  docs [1] of the Service resource (AFAIK this is closely related to xService). It

[2016-04-08 18:50] iainbrighton commented on #66
@ArturDorochowicz You are correct, the `Credential` parameter should set a service's logon account.

@sssalib42  By default the Local Configuration Manager (LCM) runs under the local system's context. The `PSDSCRunAsCredential` is a built-in WMF 5 parameter used to elevate the LCM process to run under different credentials.

[2016-04-08 18:54] iainbrighton commented on #103
@sssalib42 `Version` is a read-only property returned by the `Get-TargetResource` method (along with PackageDescription, Publisher, InstalledOn and Size). The documentation needs updating to reflect this. Would you like to submit a PR for this change?

[2016-04-08 18:59] iainbrighton commented on #78
@AceHack The `GroupName` property is currently the key. Why would adding another `Name` key help in your instance?

[2016-04-08 19:03] sssalib42 commented on #66
@iainbrighton I do understand this very well.

@ArturDorochowicz your assumption is incorrect. I'm sorry, I was deceived as well! As you read in @iainbrighton comment, `PSDSCRunAsCredential` is what you need to "run as". My advice is that you should eliminate the `Credential` property from his Service resource to avoid this error. It worked for me. I hope my intervention is helpful.

[2016-04-08 20:22] Zuldan commented on #97
@NarineM, is there anything else you would like me to do?

[2016-04-11 16:23] gigi81 opened #106 "xDscWebService Reporting errors"
I installed the dsc pull server with the xDscWebService resource with this configuration:

xDscWebService PSDSCPullServer
{
	Ensure                  = "Present"
	EndpointName            = "PSDSCPullServer"
	Port                    = 8082
	PhysicalPath            = "$env:SystemDrive\inetpub\PSDSCPullServer"
	CertificateThumbPrint   = "AllowUnencryptedTraffic"
	ModulePath              = "$env:PROGRA

[2016-04-11 16:26] gigi81 commented on #104
It turned out that the AcceptSelfSignedCertificates default value is set to true.
I think that it should be set to false by default, for at least 3 reasons:
- it's not documented (yet)
- it lowers security standards
- it doesn't work properly (it installs x86 binaries on x64 systems)

[2016-04-11 17:14] NarineM commented on #104
@gigi81
Yes, I saw it too. I am working on updating the resource to enable self signing only when the resource instance sets this property. Thanks for reporting this issue.

[2016-04-11 17:16] NarineM commented on #97
Hi @Zuldan
What OS and WMF configuration you have on the pull server and the pull node?

[2016-04-11 17:19] NarineM commented on #106
@gigi81
In ConfigurationId protocol you need to have 7e00c0e2-9df9-41aa-948b-96b4e8ee771c.mof and its '7e00c0e2-9df9-41aa-948b-96b4e8ee771c.mof.checksum in DSCService\Configuration repository. This is how reporting server authorizes the node for sending status reports.

[2016-04-11 17:28] gigi81 commented on #106
Hi @Narinem,
The files are there and as I said before they do get downloaded and applied on the client. The part that fail is the reporting back to the compliance server that is the same endpoint as the pull server using the configuration above.

[2016-04-11 21:07] Zuldan commented on #97
@NarineM, for both I'm using Windows 2012 R2 Standard (Update) and WMF info is below...

Name                           Value
----                           -----
PSVersion                      5.0.10586.117
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.10586.117
CLRVersion                     4.0.30319.34014
WSManStackVersion              3.0
PSRemotin

[2016-04-11 21:18] Zuldan commented on #106
@gigi81, same issue is at https://github.com/PowerShell/xPSDesiredStateConfiguration/issues/97

Nodes can't report back to the Pull server. This only seems to occur when you use ConfigurationIDs. @NarineM is kindly assisting us with the issue.

[2016-04-11 22:00] gigi81 commented on #106
Hi @Zuldan,
Sorry I missed that. This is definitely a duplicate of #97. I will close this issue and follow updates there.

[2016-04-11 22:00] #106 closed

[2016-04-12 00:53] NarineM commented on #97
@Zuldan
Was the pull server deployed on a machine with just WMF 5 RTM? Were there any older WMFs installed? After you installed WMF 5, did you re-install the pull server endpoint? Are you using xWebService resource for deploying an endpoint? Which version of xPSDesiredStateconfiguraiton module you have?

[2016-04-12 11:52] Zuldan commented on #97
@NarineM, yes im using xWebService for deploying an endpoint. See https://gist.github.com/Zuldan/c0fd292838b8d35c6383

xPSDesiredStateConfiguration v3.7.0.0

[2016-04-12 12:45] kamranayub commented on #97
Sorry, following the thread, but wanted to chime in and mention I am using
the exact same configuration as Zuldan as well. Fresh VMs, fresh installs,
latest versions of everything.

Narine, are you able to confirm this scenario works with partial configs?
Or are you attempting to reproduce this in a lab? Have you run the sample
code provided to reproduce? Appreciate the help!

On Tue, Apr 12, 2016

[2016-04-12 19:17] NarineM commented on #97
@kamranayub
After I fixed Sample_ConfigurationIDs.ps1  to deploy guid.mof and guid.mof.checksum in pull server configuration repository, I can not repro the issue. I see exact same error only when the guid.mof does not present in the pull server repository.

[2016-04-12 20:15] kamranayub commented on #97
But does the pull client still pull the partial configuration appropriately
then? The documentation makes it seem like in WMF 5 partial MOFs MUST be
named Name.Guid.mof, not just Guid.mof.

On Tue, Apr 12, 2016, 14:17 NarineM <notifications@github.com> wrote:

[2016-04-12 21:25] Zuldan commented on #97
@NarineM, Sample_ConfigurationIDs.ps1 (https://gist.github.com/Zuldan/c0fd292838b8d35c6383) already has code to deploy guid.mof and guid.mof.checksum (see below). Could you kindly post your version of Sample_ConfigurationIDs.ps1 so we can see what we're doing wrong?

#region Node Config
Configuration IisWebServer
{
    Node $ConfigID
    {
        WindowsFeature IIS
        {
            Ensure="P

[2016-04-12 21:42] NarineM commented on #97
Here is the part that needs to be changed:
 $requestUri = "$serviceURL/Nodes(ConfigurationId= '$ConfigurationId')/Reports"
 $request = Invoke-WebRequest -Uri $requestUri  -ContentType "application/json;odata=minimalmetadata;streaming=true;charset=utf-8" `
               -UseBasicParsing -Headers @{Accept = "application/json";ProtocolVersion = "2.0"} `
             -ErrorAction SilentlyContinue -Er

[2016-04-13 10:54] Zuldan commented on #97
@NarineM, we are having a win! I can now report on the node thanks to your code change. I've updated the Sample https://gist.github.com/Zuldan/c0fd292838b8d35c6383

<b>Question 1:</b>How do I tell if the node is consistent/compliant?

<code>
JobId                : 574ab0d4-0163-11e6-80cb-005056b6357a
OperationType        : Consistency
ReportFormatVersion  : 2.0
ConfigurationVersion :
StartTime

[2016-04-13 18:52] NarineM commented on #97
@Zuldan,
If the consistency failed to apply the configuration you will see the errors in Errors field. That will tell that the node is not compliant.  Reporting using ConfigurationID in WMF 5 has limited StatusData content. When you switch to use registrationKey, reporting data contains additional fields such as the overall status of the operation in "Status" property, also populates detailed info

[2016-04-13 18:57] NarineM commented on #97
@Zuldan
For your question #2. I do not think there should be an error about the node not being able to send reports to the reporting server when it actually does.
If your question is about a node that is not sending any reports with that error. then these are the possible causes:
1. Given configurationId,mof does not present on the pull server configuration repository
2. client is using WMF 5, but

[2016-04-13 22:54] gigi81 commented on #97
Hi @NarineM,
As specified here #106, I'm having the same issue reported by @Zuldan regarding node reporting errors.
It seems quite clear to me that this is a bug.
I can confirm that in my configuration:
1. the mof and checksum files are there
2. WMF5 is installed on both client and server

Are we sure that the dll installed by the xDscWebService resource in the web service endpoint is the correct

[2016-04-14 01:10] NarineM commented on #97
@gigi81
In @Zuldan 's scenario he is able to pull the node status records from the reporting server now (after changing the request URLs), but sill continues seeing BadRequest in ETW log.
Is it similar to what you are seeing?

[2016-04-14 06:32] gigi81 commented on #97
Yes, I'm having the same BadRequest error in the log.

[2016-04-14 11:40] iainbrighton opened #108 "xPackage: Does not remove CreateCheckRegValue on uninstall"
I have a resource configured like so:
[code]
This works as expected, i.e. the HKLM\Software\VirtualEngine\Example` is checked for existence. If it doesn't exist, the package is run/installed and the registry value created.

However, if I specify that I want the package removed with `Ensure = 'Absent'`, like this:
[code]
This doesn't work as expected. The first pass correctly removes the package __

[2016-04-14 13:32] kamranayub opened #110 "Cannot re-register node after using ConfigurationId when switching back to ConfigurationNames"
WMF5, xPSDesiredStateConfiguration upgraded from 3.7 to 3.9 (switched to ESENT database).

I had previously had a successful pull client enrolled in my pull server when using partial configurations--i.e. it was able to pull config and update itself.

I've since been testing Composite Resources instead of partials, so I'm now trying to *switch* the pull client from using a ConfigurationId + Partial

[2016-04-14 18:15] NarineM commented on #97
@gigi81,
I will look into this ETW message and see why it is being logged when the operation is sucesful, for now you can ignore it.

[2016-04-14 21:43] sssalib42 commented on #103
I apologize, I'm not sure what you meant by submitting a "PR" (possibly meaning a press release!). @iainbrighton , what I know is as you said, the documentation need to note what you mentioned. Also, I have struggled so much to find a way to examine the version/release of a specific package to reinstall it if the setup.exe is of a newer version/release. Currently my script installs the package onl

[2016-04-14 23:30] NarineM commented on #97
Closing the thread since original issue with not being able to send and retrieve reports got addressed. The remaining is the ETW events with BadRequest despite the operation is successful.

[2016-04-14 23:30] #97 closed

[2016-04-14 23:33] NarineM commented on #98
Closing this thread. Stay tuned for the blog post on web services supported APIs that will be published on powershell blog.

[2016-04-14 23:33] #98 closed

[2016-04-15 01:43] jpicklyk opened #112 "xGroup fails with cross forest account"
Environment:
2 forests with a one way forest trust between them.  User accounts in Forest A, Forest B created with outbound Forest Trust to Forest A.  DSC run on Forest B Domain Controller.

Using the following DCS where the Credential is for Forest A where the labadmins group exists.
xGroup AddToAdministrators
{
        Ensure = "Present"
	GroupName = "Administrators"
	MembersToInclude = "labadmi

[2016-04-18 10:57] gigi81 opened #113 "DscService Esent Database Uncontrolled Growth"
Hi,
I created a DSC Pull server and configured 7 client to pull configurations and report to this server.
Other than the problem report here #106, I'm now starting to have an issue with the esent report database growing at a rate of more than 300MB per day. Currently more than 3000 files of 128KB in size named edb**.log are created every day. The clients are configured to check the dsc configurati

[2016-04-18 12:32] ArieHein commented on #110
ConfigurationNames only works with AgentID registration, not ConfigurationID

[2016-04-18 12:55] ArieHein opened #114 "MountRequiredRegistryHives and SetupProvider functions in MSFT_xRegistryResource"
Please swap to using Switch statements instead of If statements.
Its a bad progrmming practice and wasting time re-evaluating strings when its not needed.

same with $KeyName.Value.ToString(). Just set it ouside the logic section and then call it and manipulate it inside.

[2016-04-18 13:05] ArieHein opened #115 "Upgrade option for existing pull server local db"
Becuase of the rapid release of new module versions, i have to build a new pull server every time based on the new resource. On the other hand i dont have to do anything on the LCM side.

This means i loose all the information my LCMs registerd in the local db on the pull server.

Would there be an option to use the same local db and part of the resource will be a upgrade script if those are neede

[2016-04-18 13:53] gigi81 commented on #97
Hi @NarineM,
I tried to retrieve the status report with the powershell script by @Zuldan but the response returned by the server is empty (content.value is empty to be more precise).
Here is the ouput from the command:

StatusCode        : 200
StatusDescription : OK
Content           : {"odata.metadata":"http://localhost:8050/PSDSCPullServer.svc/$metadata#StatusReport","value":[]}
RawContent

[2016-04-18 14:17] iainbrighton commented on #115
And this leads to another question: how do we create a high availability deployment, e.g. load balanced DSC pull servers? Presumably there needs to be some persistence of the back-end data which is related to @ArieHein 's question.

[2016-04-18 15:00] ArieHein commented on #115
you cant do a high availability deployemnt when you have a file based database, whats why you have clusters, unless you use some log-shipping or replication.

[2016-04-18 15:07] megamorf commented on #115
@ArieHein  @iainbrighton In addition to the points mentioned above doesn't the repeated rebuild of the Pull Server also create a lot of obsolete **DSC-OaaS**  certificates on the target nodes when they're re-registered?

But yeah, some sort of clustering/back and front-end load-balancing is needed as well as a clear upgrade path for the Pull Server to prevent the loss of information from the local

[2016-04-18 15:14] ArieHein commented on #115
@megamorf yes i think JustinKing found those extra certs and i think he wrote something to handle it iirc, but those will happen anyway even if you dont recreate a pull server, everytime you create a new LCM script iirc

[2016-04-18 15:33] iainbrighton commented on #115
@ArieHein Where is this high-availability cluster requirement documented? I would like to think storing the data on another tier, e.g. an existing DB cluster would a) be possible, and b) a supported deployment model. That's still 2-tier.

[2016-04-18 15:38] megamorf commented on #115
@iainbrighton As far as I know clustering hasn't been tackled by Microsoft yet. So even though the IIS services can be load balanced the Pull Server db cannot.

[2016-04-18 15:57] ArieHein commented on #115
I initialy went for the 3 tier option as i wasnt sure ESENT supported High-Availability but seeing as its the core under Exchange it might, im not sure. If the driver was SQL based, we might have been able to use a Witness-based replication, not sure LocalDB supports that.

As for the web tier high availability, using ARR (i hate NLB) like @raghushantha did for his PowerShellGallery repo was more

[2016-04-18 16:00] ArieHein commented on #115
Would be intresting to take an existing pull server, change the connection string in the web.config to point to a network path and copy the pull server db to that location

[2016-04-18 16:06] megamorf commented on #115
@ArieHein This issue has drifted off quite a bit. I suggest opening another issue to help everyone involved focus on the original issue :-)

[2016-04-18 17:10] kamranayub commented on #110
Yes, sorry maybe I wasn't clear.  I am using agent registration with
configuration names currently, but when it was working I had been using
configuration ID and partials. Currently, the same node is not working with
agent registration and names.

On Mon, Apr 18, 2016, 07:32 Arie Heinrich <notifications@github.com> wrote:

[2016-04-18 17:53] ArieHein commented on #110
will have to see your pullserver and lcm scripts to see how you set it up to try and figure out why its not registering. I assume youre using 3.9.0.0

[2016-04-18 21:10] Indhukrishna opened #116 "xDSCWebService documentation needs update for AllowUnencryptedTraffic"
While setting up Pull Server, if the user does not want to set up SSL, they can specify "AllowUnencryptedTraffic" as the value for the certificate thumbprint parameter. This information needs to be documented in the sample.

[2016-04-18 21:12] TravisEz13 commented on #116
The description in the MOF and the readme should be updated

[2016-04-18 21:28] NarineM commented on #113
@gigi81
All the transacations history is being stored but you can always delete them. It is safe to just remove the esent files if you no longer need them.

[2016-04-19 14:09] ArieHein opened #118 "ConfigurationNames - Multiple Values"
ConfigurationNames accepts multiple values in the definition but using more then one gave errors.
This was in 3.7.0.0  Is this still the case now ?
If so, is this something you plan on addressing to allow multiple values ?
What was the the reason to only accept it on first registration and not constantly ?

I have opened an idea on UserVoice to change the way ConfigurationNames work to both allow

[2016-04-19 17:11] NarineM commented on #118
Currently we support only one value in ConfigurationNames in full configuration scenarios. Multiple names are only accepted in partial configurations scenario.

[2016-04-19 17:11] #118 closed

[2016-04-20 07:41] jym972 commented on #97
Hi,
I have almost the same problem.

I'm using ConfigurationID as my nodes are not named at the beginning
[DscLocalConfigurationManager()]
Configuration PullClientV2
{
	Param (
		[Parameter(Mandatory = $True)]
		[String]$NodeGUID
	)
	$moduleversion="1.0"

	Settings
	{
		ActionAfterReboot = "ContinueConfiguration"
		AllowModuleOverwrite = $true
		ConfigurationID = $NodeGUID
        ConfigurationMod

[2016-04-20 08:01] jym972 opened #119 "ReportServerWeb - Broken with ConfigurationID"
Hi,
I have almost the same problem as here: https://github.com/PowerShell/xPSDesiredStateConfiguration/issues/97

I'm using ConfigurationID as my nodes are not named at the beginning
[DscLocalConfigurationManager()]
Configuration PullClientV2
{
	Param (
		[Parameter(Mandatory = $True)]
		[String]$NodeGUID
	)
	$moduleversion="1.0"

	Settings
	{
		ActionAfterReboot = "ContinueConfiguration"
		AllowM

[2016-04-20 08:50] ArieHein commented on #119
Have you tried the way described in the online documentation ?

https://msdn.microsoft.com/en-us/powershell/dsc/reportserver

[2016-04-20 13:20] gigi81 commented on #113
There is also a UserVoice for this issue here:
https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/13399740-dsc-esent-database-management

[2016-04-20 13:40] jym972 commented on #119
Hi, yes, I use this documentation but with ConfigurationID, as my VMs have not yet an IP nor a Name

[DscLocalConfigurationManager()]Configuration PullClientV2 {
	Node localhost {
		Settings {
			**ConfigurationID = $NodeGUID**

and my request URI is
$Uri = "$serviceURL/Node(ConfigurationId='$ConfigurationId')/StatusReports"
rather than: $Uri = "$serviceURL/Nodes(AgentId= '$AgentId')/Reports"

**C

[2016-04-20 14:14] ArieHein commented on #118
Partial Configurations isnt supported or possible (atm) via AgentID regsitration though. So i need to use ConfigurationID, but using that means i cant use ConfigurationNames or am i missing something or the documentation is ?

[2016-04-20 15:19] jym972 commented on #119
Same config for server and client here above except:

**Node with ConfigurationID = xxxx without RegistrationKey = xxxx**
WIN-BABJSO5643U a5fcf0a7-0709-11e6-80c4-00155d013228 Consistency   20/04/2016 17:07:52 30/12/1899 00:00:00 ["{\"IPV4Addresses\":[\"10.10.11.101\",\"127.0.0.1\"],\"CurrentChecksum\":\"8F690215FA9679B4B3A8F4A3C5D7C70E9E368C5126C367A1A5C4687CF477123B\",\"MACAddresses\":[\"00-15-5D

[2016-04-20 17:24] kamranayub commented on #110
Yes, 3.9.

The LCM meta config that gets generated (and applied) to the target node is pretty straightforward:

[code]

[2016-04-21 06:42] ArieHein commented on #110
Though its not the scripts needed, and the pull server one is missing, your LCM mof file seems ok,
so i dont think its the LCMs fault. The pullserver script link might help in finding the problem.

Did you delete the old pull server web site, app pool and files (including the devices.mdb local database) from the IIS and rebuilt the pull server ?

Note that according to the LCM mof file you linked,

[2016-04-21 12:50] kamranayub commented on #110
Thanks, I will try playing with it. I enabled Failed Request Tracing and
saw the failed PUT request returning a 404. It's almost as if it is not
trying to register, unless that is what the PUT does.

Yes, I deleted the pull server website files, upgraded to 3.9 and switched
to ESENT, so it is blank.

On Thu, Apr 21, 2016, 01:42 Arie Heinrich <notifications@github.com> wrote:

[2016-04-21 19:33] kamranayub commented on #110
@ArieHein where are the DSC pull server trace events written to? Is it in one of the event logs? I'm referencing the caught exceptions and such. I'm wondering if maybe the pull server can't write to the ESENT database or something deeper.

[2016-04-22 05:11] asmagin opened #120 "xRemoteFile failing due to timeout"
I'm trying to download an asset from a server where an initial response is quite long (doing some preparation of big file), but it is not possible to set a timeout for the operation.

Fixed locally by changing the resource scripts:

[code]

[2016-04-26 04:09] #116 closed

[2016-04-26 18:16] striker24JB opened #121 "Request : xPackage errors out on msiexec exit code 3010 (but shouldn't)"
I was performing an installation and noticed the DSC kept failing because the return code was 3010 instead of 0.

3010 is generated from successful install, but requires reboot.  This appears even if you specify /norestart.

Since 3010 does indicate that the installation succeeded, can we add that value to the returncode list?

[2016-04-26 18:20] iainbrighton commented on #121
You can specify what exit codes you think are valid on a per package basis with the ReturnCode[] property. I'm not sure that this should be a default, but open to other people's thoughts..

[2016-04-26 23:39] striker24JB commented on #121
Awesome! Can't believe I didn't see that was an available argument.  Worked like a charm.

[2016-04-29 03:59] TravisEz13 commented on #121
closed per comments

[2016-04-29 03:59] #121 closed

[2016-05-03 13:12] riponbanik opened #122 "xRemotefile download fails via proxy"
The original reported issue is in the link below -
https://github.com/puppetlabs/puppetlabs-dsc/issues/160#issuecomment-163691226

In summary, the issue is -
The xRemoteFile DSC Resource is a wrapper around the Invoke-WebRequest cmdlet. Invoke-WebRequest does provide parameters to handle proxy details, however xRemoteFile does not expose parameters itself that uses them.

What is the environment c

[2016-05-03 21:38] PlagueHO commented on #122
Hi @riponbanik  - This looks like it would be fairly easy to add proxy settings to the resource. I'll schedule some time to have a look at this this week/weekend.

Thanks!

[2016-05-03 22:03] PlagueHO commented on #120
I'm planning on doing some work on xRemoteFile so I'll take a look at this one as well.

[2016-05-04 06:35] riponbanik commented on #122
That would be great. Thanks for looking it after.

[2016-05-04 22:54] PlagueHO commented on #122
I'm working on this at the moment. I have to bring the resource up to current standards and guidelines while I'm at it so it'll take a day or two more before it's ready. I'll let you know once it's complete.

[2016-05-08 03:39] NarineM commented on #104
@gigi81
IISSelfSignedCertModule.dll is used in the pull scenarios where the nodes (pull clients) are provisioned with registrationKey. This module is not used for setting up self signed certs on the pull server nor in SSL scenario. I understand that the confusion came from the dll name. Let us leave this issue on to-do list . Thanks for reporting it.

[2016-05-09 17:29] kamranayub commented on #110
Turned out to be totally unrelated, our IIS configuration was presenting PUT and DELETE at the application host-level. As soon as I allowed those verbs in the web.config, it worked.

Thanks for your help!

[2016-05-09 17:29] #110 closed

[2016-05-09 21:40] kamranayub opened #124 "Documentation for OData endpoint"
Is there any documentation for how to use the OData endpoint(s) to get node and status information? The only docs talk about how to retrieve a **single** node's report. Specifically I really just need a way to get ALL nodes currently enrolled in the pull server (and ideally, what configuration they are using), so then I can drill down to specific nodes.

I am using the PSDSCPullServer.svc endpoint

[2016-05-09 22:58] theonlyway commented on #124
I raised a question surrounding this a little while back, It should be covered in #98

[2016-05-10 16:03] kamranayub commented on #98
Still no blog post yet... also there's got to be something better than querying individual servers to get their Agent ID. I understand the reason why a get all probably doesn't exist is because if an attacker had access to the endpoint they could enumerate all the agents.

However, it seems like it would be okay to allow passing in the registration key(s) for a pull server to find allow access to

[2016-05-10 20:21] asmagin opened #125 "Missing ALL parameter in cWindowsOptionalFeature"
cWindowsOptionalFeature doesn't support parameter "ALL" that will install all parent features, which may result in errors during installation and require more detailed configurations.
Would be great if this parameter would be added.

[2016-05-10 21:33] NarineM commented on #119
@jym972
Some fields such as ResourcesInDesiredState are missing in StatusData field when you switch from Registration protocol to use ConfigurationID.  This issue is a product bug and it is being fixed. Since it is not a DSC resource bug but it is reported for xPSDesiredStateConfiguration module I will be closing the issue .

[2016-05-10 21:40] NarineM commented on #119
@jym972
Can you file a DSC user voice issue here https://windowsserver.uservoice.com/forums/301869-powershell

and have the user voice link in GitHub here for tracking purposes in case someone else encounters the same issue?

[2016-05-10 22:08] jym972 commented on #119
ok, thanks

[2016-05-10 23:17] theonlyway commented on #98
Although no ideal during my registration process of adding a new machine I write it's agent ID out to a CMDB and just get a list of all the agent ID's from my CMDB. Something I do to keep the CMDB complete but on the flipside something I technically shouldn't need to do if DSC is already keeping all this information in a DB.

[2016-05-11 11:00] gigi81 commented on #119
Hi @NarineM,
What is the status with this issue with ConfigurationId?
I'm still getting bad request events in the event log and this partial status reports as described above.
If it's not a bug in the xPSDesiredStateConfiguration module, what is the product affected by the bug then? To which team we should report this? Is there any change we can have this fixed soon?
Thanks for your help
Luigi

[2016-05-11 17:55] NarineM commented on #119
@gigi81
The issue with reporting data not containing certain fields such as ResourcesInDesiredState along with the ETW bad request events is being fixed. The bug is in WMF DSC. You can report a DSC user voice issue here https://windowsserver.uservoice.com/forums/301869-powershell

[2016-05-11 22:06] gigi81 commented on #119
Hi @NarineM
This is great news! Do you know if the fix is going to be released with a windows update? Thanks

[2016-05-11 22:09] Zuldan commented on #119
@gigi81, my guess is that it will come with WMF 5.1

[2016-05-11 22:11] gigi81 commented on #119
@Zuldan WMF 5.1 is going to be released along with windows 2016 right? And it doesn't have a released date yet. Do you think we will have to wait that much?

[2016-05-11 22:18] Zuldan commented on #119
@gigi81, Microsoft is all about continuous delivery these days. I'll be surprised if 5.1 will be tied to a release of a particular OS version. Also, Keep in mind Windows 10 is the client for Windows 2016 (I'm talking same kernel) so there is no reason not release 5.1 before 2016 arrives.

[2016-05-11 22:20] gigi81 commented on #119
@Zuldan ,
I quote: "When Windows Server 2016 ships we will release WMF 5.1"
from this page:
https://blogs.msdn.microsoft.com/powershell/2016/04/06/windows-management-framework-5-0-updates-and-wmf-5-1/

[2016-05-11 23:33] theonlyway commented on #119
You shouldn't have to wait that long. Had a PFE in last week and he basically said the way Microsoft naming works is they only have the first half of this year to get 2016 out otherwise they are going to have to name it 2017.

[2016-05-12 00:22] Zuldan commented on #119
@gigi81, I hope that article is incorrect.

[2016-05-12 04:58] theonlyway commented on #119
I would probably say it is correct. Going off what a Azure PFE told me last week when I queried him about when 2016 was due (Since it's in TP4) to be released he did say it would have to be before the 1st of July because otherwise they would need to call it Server 2017 instead of 2016.

Granted a WMF update would generally come after the release so hopefully 1-3 more months.

[2016-05-13 08:59] ArieHein commented on #98
As I said in Dougs repo, this is silly. They removed the dependency on ConfigurationID GUID but now I have to record all nodes AgentID ?
Not harrd to implement the GET method to query a list of AgentID from inside the local DB

[2016-05-13 12:47] kamranayub commented on #98
Yeah it's a step backwards from before. If we could pass the registration
key to "secure" the GET call, I'm fine with that.

GET /PSDSCPullServer.svc/Nodes(RegistrationKey = ahagsgzgab755)

Or whatever else would work, if the concern is around security.

On Fri, May 13, 2016, 03:59 Arie Heinrich <notifications@github.com> wrote:

[2016-05-13 14:44] gigi81 opened #126 "xService not updating service configuration"
Once the service has been created, the xService dscresource will not update the service configuration even if one or more service properties are not compliant with the configuration.
For example: depencencies, credentails, displayname, description, etc., even if one or more don't match the current service configuration, they won't be corrected.
The only solution at the moment is to manually delete

[2016-05-13 14:59] gigi81 commented on #126
To be fair, I had a second look at the code, and some of the properties are actually made consistent even if the service already exists, most importantly for me the credentials.
Anyway, there are still other properties that will not be consistent like dependencies and description.

[2016-05-13 17:37] NarineM commented on #124
@kamranayub
Enumerating or getting all nodes is currently not supported. For getting specific node status information you can use the msdn documentation : https://msdn.microsoft.com/en-us/powershell/dsc/reportserver
It has some good examples too.

[2016-05-13 17:38] kamranayub commented on #124
Be great to know when it will be supported, since the previous compliance
endpoint worked.

On Fri, May 13, 2016, 12:37 NarineM <notifications@github.com> wrote:

[2016-05-13 19:26] ArieHein commented on #98
I dont think using the RegistrationKey is a good idea, its something only used for the initial registration and is deleted afterwards.

GET /PSDSCPullServer.svc/Nodes

is enough to iterate

[2016-05-17 00:08] kwirkykat opened #127 "MSFT_xArchive: Fix PSSA Issues"
The PowerShell Script Analyzer issues in MSFT_xArchive need to be fixed.
This is the current result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/15307523/bdac65ea-1b88-11e6-835b-69c0fe13a761.png)
![image](https://cloud.githubusercontent.com/assets/6372220/15307527/d454cc74-1b88-11e6-9f85-3b781e2d5b2f.png)

[2016-05-17 00:10] kwirkykat opened #128 "MSFT_xDSCWebService: Fix PSSA Issues"
The PowerShell Script Analyzer issues in MSFT_xDSCWebService need to be fixed.
This is the current result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/15307549/10b62f28-1b89-11e6-8394-3214bb2f678c.png)

[2016-05-17 00:11] kwirkykat opened #129 "MSFT_xFileUpload: Fix PSSA Issues"
The PowerShell Script Analyzer issues in MSFT_xFileUpload need to be fixed.
This is the current result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/15876208/e1a07196-2cc0-11e6-94e2-94af747b7feb.png)

[2016-05-17 00:14] kwirkykat opened #130 "MSFT_xGroupResource: Fix PSSA Issues"
The PowerShell Script Analyzer issues in MSFT_xGroupResource need to be fixed.
This is the current result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/15307608/7e0b0aee-1b89-11e6-9a85-2ad670b7f54f.png)
![image](https://cloud.githubusercontent.com/assets/6372220/15307611/8acc9f36-1b89-11e6-9d72-c91b53b9a146.png)

[2016-05-17 00:15] kwirkykat opened #131 "MSFT_xPackageResource: Fix PSSA Issues"
The PowerShell Script Analyzer issues in MSFT_xPackageResource need to be fixed.
This is the current result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/15876251/43107fac-2cc1-11e6-929a-c7f3bda688a9.png)
![image](https://cloud.githubusercontent.com/assets/6372220/15876262/502dabf6-2cc1-11e6-997a-b62275c4b933.png)

[2016-05-17 00:17] kwirkykat opened #132 "MSFT_xProcessResource: Fix PSSA Issues"
The PowerShell Script Analyzer issues in MSFT_xProcessResource need to be fixed.
This is the current result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/15307648/f5716452-1b89-11e6-82cf-cfe4bb9856ac.png)
![image](https://cloud.githubusercontent.com/assets/6372220/15307654/029bcb04-1b8a-11e6-9a45-2dbd08eef8f7.png)

[2016-05-17 00:18] kwirkykat opened #133 "MSFT_xPSSessionConfiguration: Fix PSSA Issues"
The PowerShell Script Analyzer issues in MSFT_xPSSessionConfiguration need to be fixed.
This is the current result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/15307675/3e533704-1b8a-11e6-88a4-b1a71a724547.png)

[2016-05-17 00:21] kwirkykat opened #134 "MSFT_xRegistryResource: Fix PSSA Issues"
The PowerShell Script Analyzer issues in MSFT_xRegistryResource need to be fixed.
This is the current result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/15307694/7f05b286-1b8a-11e6-9d17-d5c5c71502a0.png)

[2016-05-17 00:22] kwirkykat opened #135 "MSFT_xRemoteFile: Fix PSSA Issues"
The PowerShell Script Analyzer issues in MSFT_xRemoteFile need to be fixed.
This is the current result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/15307716/b8a65f7c-1b8a-11e6-99b4-7a2ca3a39f89.png)

[2016-05-17 00:23] kwirkykat opened #136 "MSFT_xServiceResource: Fix PSSA Issues"
The PowerShell Script Analyzer issues in MSFT_xServiceResource need to be fixed.
This is the current result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/15307733/e17926f0-1b8a-11e6-99ef-cdedeaff056a.png)

[2016-05-17 00:24] kwirkykat opened #137 "MSFT_xWindowsOptionalFeature: Fix PSSA Issues"
The PowerShell Script Analyzer issues in MSFT_xWindowsOptionalFeature need to be fixed.
This is the current result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/15307741/ff2b5c2c-1b8a-11e6-98a5-49ab0d9c4c9a.png)

[2016-05-20 08:06] spawluk commented on #126
+1

[2016-05-20 08:13] PlagueHO commented on #126
I'll try and look into this over the weekend (or possibly the next) - unless someone else gets to it first.

[2016-05-24 18:51] NarineM commented on #118
hi @ArieHein
Here is an example of meta configuration script that uses multiple configuration names with agent id and partial configurations:

[DscLocalConfigurationManager()]
Configuration RegistrationMetaConfigWithPartials
{
        Settings
        {
            RefreshFrequencyMins = 30;
            RefreshMode = "PULL";
            ConfigurationMode =”ApplyAndAutocorrect“;
            AllowMo

[2016-05-24 20:56] Zuldan commented on #118
@NarineM. Thank you for the example. What would be the naming convention for AgentID partial config mof files? As you know ConfigID partial config mofs are <ConfigName>.<ConfigID>.mof

I'm guessing <ConfigName>.<AgentID>.mof?

[2016-05-24 21:45] NarineM commented on #118
@Zuldan
It would by just ConfigName.mof.

[2016-05-24 22:51] ArieHein commented on #118
Thanks Narine. This was already discussed on powershell.org after a blogger posted his successful results and after another person mentioned it.

It seems it has been fixed between my original post and now.

Thanks for the update in here as well.

[2016-05-27 18:20] PrahlM93 opened #139 "xGroup Throws Error When Using Invoke-DscResource"
Hello,
When running Invoke-DscResource on xGroup when specifying a domain account to include as a member, I get an error stating "You cannot call a method on a null-valued expression". This issue doesn't come up when using local accounts only.

Running xGroup with these same parameters in a compiled MOF file presents no problems, but this issue prevents Chef users from using this resource.

Output

[2016-05-31 20:40] rustyhann opened #140 "Cim Exception in xDSCWebService"
I receive the following error when applying a pull server configuration on a Server 2016 machine from a Windows 10 machine with WMF 5.0. The error can be created with a PS Session or a CimSession. The temporary solution was to roll back to 3.9.0.0. The calling command is:

Start-DscConfiguration -CimSession $computerName -Path pullServer -Wait -Verbose

Error:

VERBOSE: [SERVER]:

[2016-06-01 10:30] SNikalaichyk commented on #140
I can confirm this error. It's reproducible on 3 different server running Windows Server 2012 R2.

**xDSCWebService** fails on first run. An error occurs on an attempt to open the port.
Subsequent attempts are successful. Nevertheless, the port is not opened.

[code]

[2016-06-01 11:19] gigi81 opened #141 "xService Test-Target-Resource return false if no state specified"
I have a dsc xService configuration where I do not specify the "State" parameter.
The service is stopped but I don't really care.
The Test-Target-Resource for the dsc configuration keeps on returning false, unless the service is started.
As long as I never specified the state in the configuration, I expected the test to ignore it and return true.
Am I wrong?

[2016-06-01 11:43] iainbrighton commented on #141
@gigi81 No, you're not wrong and this is a bug.

I can only imagine that the initial implementation of this resource was for a particular use case and managing non-started services was not one of them :(. There are lots of instances of this, but we're slowly picking them off!

[2016-06-01 15:55] rustyhann opened #142 "Incorrect Database type created on Server 2016 in 3.9.0.0"
I'm currently using version 3.9.0.0 due to the issue in #140. After successfully creating the Pull Server on a Server 2016 machine, an mdb file is created instead of an edb file. According to #91 the database type is determined by the operating system of the Pull Server. Because the server in question is 2016 an edb database is expected.

The file system after install:

Directory: C:\Program Files

[2016-06-01 21:21] megamorf commented on #142
The mdb is created either way. The edb will be created when you register your first client.

[2016-06-02 18:54] NarineM commented on #142
@rustyhann
The content of the web.config is the actual type that will be used by your pull server endpoint. The mdb file is always being created. We can look into updating the deployment in such a way it places the mdb file under DSCService folder only when the ole provider is setup in web.config.

[2016-06-02 18:57] NarineM commented on #142
@rustyhann
I have updated the issue description.

[2016-06-03 02:41] rustyhann commented on #142
I like the idea of only creating the mdb file only when the OLE provider is used. When I first saw the mdb I was confused (until I read megamorf's post) because I was expecting an edb file.

[2016-06-03 06:27] NarineM commented on #140
@rustyhann
Thanks for reporting this issue. It has been fixed by https://github.com/PowerShell/xPSDesiredStateConfiguration/pull/143

[2016-06-03 06:27] #140 closed

[2016-06-03 06:28] NarineM commented on #142
@rustyhann
Thanks for reporting this issue. It has been fixed by https://github.com/PowerShell/xPSDesiredStateConfiguration/pull/143. Version 3.11.0.0

[2016-06-03 06:28] #142 closed

[2016-06-03 11:18] gardym opened #146 "xFileUpload is not available as a resource"
After installing the module xFileUpload does not appear in Get-DscResource. When present the Configuration fails with:

Undefined DSC resource 'xFileUpload'. Use Import-DSCResource to import the resource.

(Version 3.10.0.0 from the PowerShell Gallery)

[2016-06-03 18:31] NarineM commented on #113
Closing since there is already a user voice to track this issue.

[2016-06-03 18:31] #113 closed

[2016-06-06 04:12] PlagueHO commented on #139
I'm just looking into this one at the moment. This particular resource doesn't contain any Unit or Integration tests and needs a bit of work (lots of violations of style guidelines) -so any changes should include work on these issues. I'll try and put some work into it over the next few weeks.

[2016-06-06 05:28] PlagueHO commented on #139
After some investigation, the error appears to be occurring in this line:
https://github.com/PowerShell/xPSDesiredStateConfiguration/blob/dev/DSCResources/MSFT_xGroupResource/MSFT_xGroupResource.psm1#L803

This is because $PrincipalContext.ConnectedServer is null in this situation. I'm certain why this is yet, but thought I'd document it now.

[2016-06-06 05:35] PlagueHO commented on #139
Some further information on this: The issue only occurs if the account that is being used to call ```Invoke-DSCResource``` (e.g. $creds) is not a member of the domain that the account being added is a member of.

[2016-06-06 16:16] PrahlM93 commented on #139
@PlagueHO, nice find. Thank you for looking into it.

[2016-06-07 07:47] PlagueHO commented on #139
@PrahlM93 - no worries! I'll get onto submitting a PR for this as well as bringing the resource up to standards later on this week.

[2016-06-07 17:58] rayterrill commented on #98
Is this still an open issue? Agree with all the previous posts - not having some way to iterate registered nodes from the DSC Pull web service seems like big gap.

[2016-06-07 20:13] #108 closed

[2016-06-07 22:17] kwirkykat commented on #131
The error here is fixed in #123

[2016-06-08 07:43] PlagueHO commented on #103
@sssalib42 - The xPackage resource doesn't actually support uninstalling an existing MSI and then installing a newer MSI based on a version number. It could probably be reworked to do so, but I couldn't say how long it would take. Depends on who has time to work on it.

May I suggest you look into using [Chocolatey](https://chocolatey.org/) and the [cChoco DSC resource](https://github.com/PowerShe

[2016-06-08 08:03] PlagueHO commented on #39
Wow! This one is old!

@robwaldron - Have you tried this in the PS 5.0 RTM release from earlier this year? Does it still occur with that version?

I built the above console app in VS 2015 and ran it on a box with PS 5.0 RTM - looks like the problem has been resolved:
![2016-06-08_20-02-00](https://cloud.githubusercontent.com/assets/7589164/15887028/0e2895e2-2db4-11e6-9bb6-c711be243cc8.png)

If it

[2016-06-08 08:10] PlagueHO commented on #69
Hi @nanalakshmanan - I don't think this is the best place to log this issue. The issue is with the WindowsFeature DSC resource which is one of the built in DSC resources (comes built into the PSDesiredStateConfiguration resource module). We don't have access to change the built in DSC resources here. This resource module is xPSDesiredStateConfiguration (the x makes all the difference :smile: ).

P

[2016-06-08 08:23] PlagueHO commented on #52
Sorry about the delay on this one.

This should be possible by simply calling ```return``` after the line:
$global:DSCMachineStatus = 1
at:
https://github.com/PowerShell/xPSDesiredStateConfiguration/blob/dev/DSCResources/MSFT_xPackageResource/MSFT_xPackageResource.psm1#L1021

This check will still fire after the machine is rebooted anyway in Test-TargetResource the next time around and should succ

[2016-06-08 08:39] iainbrighton commented on #52
@PlagueHO We could change line 1024 from an `if` to `elseif`? That would ensure that the remainder of the method runs, but a product check only happens if there is no pending reboot. Returning is more explicit about what's going on, however we miss the remaining verbose messages..

[2016-06-08 08:57] PlagueHO commented on #52
@iainbrighton - good thinking! I'll try and submit a PR for this over the next week - although unit and integration tests should be added at the same time as making any other changes (which makes this a much bigger job).

[2016-06-08 09:47] iainbrighton commented on #52
@PlagueHO Yeah - every time I look at fixing an issue it normally means there are a whole load of test that need authoring. It wouldn't be so bad if the tests were already there and a few failing test cases needed adding.. 😢. I guess we'll get there eventually.

[2016-06-08 15:00] sssalib42 commented on #103
Thank you @PlagueHO, I ended up reading the version number from the setup files directory and then conditionally uninstall it then reinstall it. I do use Chocolatey for installing a couple of packages. It would be great and so "Idempotent!!!" if the `xPackage` does include this capability if someone has the time to work it out, as you mentioned. It can be a simple switch to install if newer versio

[2016-06-08 18:36] #120 closed

[2016-06-08 18:36] #122 closed

[2016-06-09 06:14] PlagueHO commented on #103
@sssalib42 - I'll definitely get onto this as soon as I can! I think I'll be needing the same functionality (version number support) at my own day job as well.

[2016-06-09 08:33] iainbrighton commented on #103
@PlagueHO @sssalib42 I think I understand what you're trying to do here, but I would proceed with caution. Not all installs can be upgraded in place and not all uninstall cleanly. However, if you know the installers/products intimately, then I do see value in this..

[2016-06-09 23:07] kwirkykat opened #151 "xUser: Username and Password parameters need to be changed to one PSCredential"
This was flagged as a PSSA error when the resource was ported to open-source (#150).

The Username and Password parameters for the xUser resource need to be changed to one PSCredential (preferably called Credential). This will improve the security of user credentials when using this resource.

The PSSA rule suppression should be removed from the top of the resource once this is complete.

[2016-06-13 18:16] kamranayub opened #153 "The expression after '&' in a pipeline element produced an object that was not valid."
Seeing this when using 3.10 and xDSCWebService:

[code]

[2016-06-13 22:37] kwirkykat opened #155 "xService throws error when trying to update service without Path"
xService fails when Ensure is set to Present, but Path is not specified because the service already exists. This makes updating a service's settings without re-specifying the Path impossible.

xService should not throw an error in this case. It should update the settings of the named service accordingly.

Updating services with xServiceSet will not work properly until this is fixed.

This is the e

[2016-06-15 15:29] kamranayub commented on #98
Yes it's still open. I've worked around it a little by enumerating our servers nightly and getting their pull server configuration and storing in a DB, but we already had a lot of that infrastructure in place to do that. It's not ideal because it will miss servers that are not in our DB **and** it can be 24 hours behind the truth. I'd definitely rather query the DSC endpoint itself to get the agen

[2016-06-16 12:57] dafuni commented on #153
I experience the same thing. Expecting an update.

[2016-06-16 13:28] RamonPalmieri commented on #153
Me as well. When running it a second time, everything goes well and seems to work fine.
I'm quite sure a saw it with 3.9.0.0 as well.

[2016-06-16 17:46] kamranayub commented on #153
Yeah it appears to be non fatal.

On Thu, Jun 16, 2016, 08:28 RamonPalmieri <notifications@github.com> wrote:

[2016-06-16 18:22] nasheayahu commented on #153
So what do we do in the mean time to get migration working, I'm at a stand still?

[2016-06-16 18:26] NarineM commented on #153
This should have been fixed in the latest version that sits in the dev branch. The change is not yet published to master (v 3.11.0.0), but you can download the latest content from dev.

[2016-06-16 23:25] kwirkykat opened #160 "Make xPSDesiredStateConfiguration a High Quality Resource Module"
xPSDesiredStateConfiguration has been chosen as one of the two modules in the DSC Resource Kit to be updated to an experimental High Quality Resource Module. 'High Quality' here means that you would be willing to use this module in production.

We would love to hear feedback about what you think makes a resource module 'High Quality'.

[2016-06-16 23:36] kwirkykat commented on #32
This is probably related to #19

[2016-06-16 23:40] kwirkykat commented on #39
@robwaldron Any updates?
It looks like you are using the in-box PSDesiredStateConfiguraiton rather than open-source xPSDesiredStateConfiguration.

I will close this tomorrow if there's no update.

[2016-06-17 00:12] kwirkykat commented on #52
I have in-box unit tests for Package that will be ported as part of #160 within the next week

[2016-06-17 00:40] kwirkykat commented on #65
Have you tried adding ``` Force = $true ``` to the File resource?

If that doesn't work, you'll probably have to write a Script resource before the File resource that will check if the file is locked. We have a function getting added in #159 in CommonTestHelper.psm1 under the tests folder called Test-IsFileLocked that tests for a locked file because of this same error.

[2016-06-17 00:41] kwirkykat commented on #66
I will update the documentation

[2016-06-17 00:48] kwirkykat commented on #69
xWindowsFeature was just ported in #148 as part of the HQRM plan (#160) so we should fix it here now.

[2016-06-17 00:57] kwirkykat commented on #71
Get-TargetResource should throw an error if the service does not exist.
This is by design.

This doesn't break configurations because running a configuration doesn't actually run Get-TargetResource. It will call Test-TargetResource to check if the service is compliant and then Set-TargetResource if the Test fails. Get-TargetResource is still required for resources (old design choice), but it won't

[2016-06-17 00:57] #71 closed

[2016-06-17 00:57] kwirkykat commented on #72
Closed in #73

[2016-06-17 00:57] #72 closed

[2016-06-17 00:58] kwirkykat commented on #74
This is not currently available in xService

[2016-06-17 01:00] kwirkykat commented on #77
You should open this as an issue in [UserVoice for PowerShell DSC](https://windowsserver.uservoice.com/forums/301869-powershell/category/148047-desired-state-configuration-dsc).

[2016-06-17 01:00] #77 closed

[2016-06-17 01:02] kwirkykat commented on #78
The GroupName property is the unique key for xGroup.

[2016-06-17 01:02] #78 closed

[2016-06-17 01:03] kwirkykat commented on #83
These will get moved as part of #160

[2016-06-17 01:12] kwirkykat commented on #114
This resource (including the bad code) will get updated as part of #160

[2016-06-17 01:20] kwirkykat commented on #125
This repository doesn't have any control over cWindowsOptionalFeature.
Do you mean xWindowsOptionalFeature?

And I'm not sure what you mean by install all *parent* features. Do you mean install all dependencies?

[2016-06-17 01:21] kwirkykat commented on #126
#159 addresses come of these. Though I'm not sure DisplayName and Description will get updated still

[2016-06-17 01:22] kwirkykat commented on #127
This is part of #160

[2016-06-17 01:22] kwirkykat commented on #128
This is part of #160

[2016-06-17 01:22] kwirkykat commented on #129
This is part of #160

[2016-06-17 01:23] kwirkykat commented on #131
This is part of #160

[2016-06-17 01:23] kwirkykat commented on #130
This is part of #160

[2016-06-17 01:23] kwirkykat commented on #132
This is part of #160

[2016-06-17 01:23] kwirkykat commented on #133
This is part of #160

[2016-06-17 01:23] kwirkykat commented on #134
This is part of #160

[2016-06-17 01:23] kwirkykat commented on #135
This is part of #160

[2016-06-17 01:24] kwirkykat commented on #137
This is part of #160

[2016-06-17 01:24] kwirkykat commented on #136
This is part of #160

[2016-06-17 01:25] kwirkykat commented on #139
Some tests will be added as part of #160

[2016-06-17 01:30] kwirkykat commented on #141
State is currently 'Running' by default in both Set-TargetResource and Test-TargetResource.
You guys are proposing a change to no default?
If so, then yes I agree.

It may be a breaking change for configurations that expect the default though.
Either way please wait until after #159 is merged to make changes to the resource.

[2016-06-17 08:50] ArieHein commented on #160
For start, high quality for me is high performance which means using best practices of PowerShell programming to achieve performance. This means when you write your code, think of someone using a DSC script that has 200 registry key changes, 200 files, 200 user  creation etc and then see how your code reacts to such an amount of items. That is why I initially asked the swap to Switch statements in

[2016-06-17 09:04] iainbrighton commented on #139
@PlagueHO @PrahlM93 Good find! That change seems to fix the ability to add domain accounts to local groups for me.

[2016-06-17 17:18] kwirkykat commented on #160
@ArieHein I agree that the resources should all be scalable and perform as best they can.

We can add performance tests for each resource to make sure they complete within a reasonable amount of time.

We could also add some scalability tests that wouldn't be able to run on each pull request Appveyor run but that perhaps would run more intermittently to test that the resources can handle large scr

[2016-06-17 20:29] #155 closed

[2016-06-17 20:41] rayterrill commented on #98
Ugh. This is asinine to still have open. Thanks for the response, @kamranayub!

We've switched directions and are looking at Chef + DSC currently. Seems like there are too many DIY pieces needed with DSC proper.

[2016-06-18 06:17] PlagueHO commented on #139
@iainbrighton - Awesome! I'll get onto this tomorrow now that I've finished the xADComputer ODJ one.

[2016-06-18 22:25] PlagueHO commented on #139
@kwirkykat - If I add this fix now without creating unit tests, with the understanding that some tests will be added in #160, will the PR be accepted? I can write unit tests for xGroup, but I don't want to conflict with what you're implementing.

[2016-06-23 21:58] kwirkykat commented on #139
@PlagueHO Yes you can submit the PR now without the tests

[2016-06-24 00:16] dcrreynolds opened #163 "xService: Test-TargetResource always returns false when the StartupType of Auomtatic is set"
It looks to be comparing the StartupType parameter 'Automatic' to the actual StartMode of 'Auto'. Below is the automated test case.

It 'Should be true with the automatic StartupType' {
                Set-TargetResource -Name $script:testServiceName -StartupType Automatic
                $testTargetResourceResult = Test-TargetResource -Name $script:testServiceName -StartupType Automatic

[2016-06-24 23:25] PlagueHO commented on #139
Thanks @kwirkykat  - I'll submit it this weekend. Cheers!

[2016-06-27 17:21] #163 closed

[2016-06-28 19:12] mgreenegit opened #165 "xRemoteFile verbose output does not display progress correctly"
When xRemoteFile is in the process of downloading, the verbose output displays bytes transferred but does not display the progress bar or time remaining.

Example output:

[code]

[2016-06-29 17:27] thorne991 commented on #153
Can you be a little more specific.
Is this a branch of PowerShell or EF Core or what, and which branch are you talking about?

[2016-06-29 19:59] PlagueHO commented on #139
Still working on this. I got side tracked. Will try and submit the pr over the next couple of days.

[2016-06-30 03:12] guitarrapc opened #168 "xService Resource Missing Localization Files"
Description of issue
----

xService Resource with latest xPSDesiredStateConfiguration (3.11.0) seems couldn't run on non-English OS.

Reason
----

This is because un-comment out ```Import-LocalizedData  LocalizedData -filename MSFT_xServiceResource.strings.psd1``` with this commit.
https://github.com/PowerShell/xPSDesiredStateConfiguration/commit/463376df047e0f46c28e3b9f3e69fd9db5a9fd6a#diff-4b82d

[2016-06-30 17:43] kwirkykat commented on #168
I will re-comment the localization for now and re-release.

[2016-06-30 21:59] #168 closed

[2016-06-30 23:48] guitarrapc commented on #168
Thank you for prompt action.

[2016-07-01 04:27] guitarrapc opened #172 "Environment Variable set with xEnvironment Resource could not refer with EnvironmentVariableTarget.Process scope."
## Description

Variables set with xEnvironment Resource can be refer from EnvironmentTarget.Machine Scope as desired but not with EnvironmentTarget.Process Scope.

This issue also happen with In-Box Environment Resource.
## Reproduce Procedure

[code]
### Check EnvironmentTarget.Process

Open New PowerShell or cmd or other process and run following C#/PowerShell to see Environment.

[code]

or

[

[2016-07-02 11:52] redoz commented on #65
We're running into the same issue. Forcing the file copy wouldn't solve the problem as we need to cleanly shut down the service as well.

We tried
xService ShutDownAndUninstallService
File CopyServiceFiles
xService InstallAndStartService

But DSC (understandably) doesn't let you configure two conflicting states like that.

We made a custom xUninstallService resource to work around the problem but

[2016-07-02 16:46] TravisEz13 commented on #103
[Msi Patching and Upgrade details](https://msdn.microsoft.com/en-us/library/windows/desktop/aa370579(v=vs.85).aspx)

[2016-07-02 16:48] TravisEz13 commented on #39
In addition to what @kwirkykat, [PowerShell User Voice](https://windowsserver.uservoice.com/forums/301869-powershell) is a better place for reporting issues with inbox PowerShell DSC.

[2016-07-02 16:54] TravisEz13 commented on #165
This is an issue with LCM.  This progress is reported by a built-in CmdLet, Invoke-WebRequest.  This would be better reported in [PowerShell User Voice](https://windowsserver.uservoice.com/forums/301869-powershell)

[2016-07-02 16:58] TravisEz13 commented on #32
FYI, there also are no local groups after a DC promo.  Should xGroup be allowed on a DC?

[2016-07-02 22:01] AceHack commented on #65
@redoz I agree xService is not well designed, it only has the capability to do a fresh install of a brand new service.  When it comes to updating a service you are on your own.  I wrote a custom file copy that will kill the service before it did the copy.  The xService would change the service state back to started once it got to that point in the script.

Just in general I find many of the PowerS

[2016-07-02 22:21] AceHack commented on #65
The biggest problem I see is to solve the problem of a Service Upgrade if I were to take every DSC script Microsoft has released and try to put them together in some way to solve the problem it would not be possible.

#1 This seems very weird given that upgrading a service is so command and such a easy thing to do.

#2 So after getting over my initial frustration of nothing in dsc land being able

[2016-07-03 03:27] PlagueHO commented on #139
Just an update on this: The most recent code commits changed the https://github.com/PowerShell/xPSDesiredStateConfiguration/blob/dev/DSCResources/MSFT_xGroupResource/MSFT_xGroupResource.psm1 significantly. The bug still exists though, so I've got to rework my original fix (the code I originally proposed changing no longer exists).

[2016-07-03 16:11] redoz commented on #65
I think the problem is that we want to specify a sequence of events, and DSC is all about state, I guess that disconnect could explain why it doesn't "fit".

[2016-07-05 17:42] kwirkykat commented on #65
The current xService resource checks if the source file's *path* has changed not if the source file's *content* has changed, so even if the file lock was not an issue, I don't think the service would update if only the contents of the file was changed at the same path.

The in-box Service resource won't update even if the path is changed.

So the only solution available right now is to extract the

[2016-07-05 17:51] #139 closed

[2016-07-05 18:17] redoz commented on #65
@kwirkykat I still don't get it though, we can't replace the service executable while it's in use right? So how will checking the content fix that?
And even if we could forcibly replace the files in use, how will we ensure a clean shutdown of the service?

[2016-07-05 18:43] kwirkykat commented on #65
@redoz It wouldn't fix the issues with replacing the service executable. The file-content-check issue is another problem on top of the issue with replacing the executable.

This scenario requires a significant design enhancement to xService which would have to incorporate both being able to edit the source executable while the service is running and checking that that executable has been changed.

[2016-07-05 18:59] redoz commented on #65
Would creating my own service installer resource using ```Invoke-DscResource``` be a supported path forward? It would let me reuse the current resources, and I would have complete control over the steps needed: Stop Service, Uninstall Service, Copy Files, Update Configuration Files, Install Service, Start Service.

[2016-07-05 20:17] kwirkykat commented on #65
@redoz Sure.
You could create a fork of this repository and make these changes to the resource there and then open a pull request to add those changes to the xService resource (our instructions for contributing to this repository are [here](https://github.com/PowerShell/DscResources/blob/master/CONTRIBUTING.md)).
Or you could just use your fork for your own resources with your own changes.
Or you

[2016-07-05 21:18] redoz commented on #65
@kwirkykat Sorry, let me rephrase: is using ```Invoke-DscResource``` within a script resource acceptable or is that something you would not recommend doing?

Given that DSC is all about describing state, I don't think it will be possible to write a generic xService that does everything that everyone will possibly need with services. What if you need to run a maintenance script after shutting it do

[2016-07-07 02:07] robwaldron commented on #39
Hey guys - Thanks for getting back to me. Ended up coming up with a work around, but yes this now works which is excellent! I'll now continuing trekking down this path.

[2016-07-07 02:07] #39 closed

[2016-07-07 23:00] kwirkykat commented on #65
@redoz ```Invoke-DSCResource``` won't work inside a Script resource in a configuration.
The DSC engine can only run one configuration/resource at a time.
I tried it out and got this error:
[code]

It recommends a 'Force' parameter to override the original call to run the configuration, but there is no 'Force' parameter.

You could import MSFT_xServiceResource.psm1 and/or MSFT_xArchiveResource.psm1

[2016-07-08 09:10] redoz commented on #65
@kwirkykat We'll try the work-around and report back, but it would be nice if DSC had an option where you could reuse resources while ignoring the the "State" part of the equation. Then we could simply use xService twice in sequence while flagging the first one as "This is not actually part of the configuration". Not sure what the best way would to implement this though, maybe some kind of "sequen

[2016-07-08 16:03] wickedave opened #175 "xGroup not modifying group anymore"
I've tried to modify the administrators groups on a server with xGroup. Members are a mix of local and domain group and I'm receiving the error:
Exception calling "Save" with "0" argument(s): "Cannot perform this operation on built-in accounts.
If I put only domain groups, I don't have the error but the Administrators group didn't get modified.

[2016-07-08 20:46] PlagueHO commented on #175
Hi @wickedave - which version of the xPSDesiredStateConfiguration resource are you using?

[2016-07-11 12:04] wickedave commented on #175
I've tried the release 3.11 and 3.12. xGroup was working fine on version 3.10

[2016-07-11 19:36] PlagueHO commented on #175
I'll see if I can replicate this tonight. Are you able to post a snippet of the config that is causing the failure? Thank you!

[2016-07-11 20:00] wickedave commented on #175
You can see here. I've simplified it with only 1 domain group and 1 local user but in my real case, I have multiple domain group.

configuration TestGroup
    {
    param
        (
            [string]$NodeName,

            [Parameter(Mandatory)]
            [ValidateNotNullOrEmpty()]
            [pscredential] $credential
        )

     Import-DSCResource -ModuleName xPSDesiredStateConfiguratio

[2016-07-13 21:51] PlagueHO opened #178 "[New Resource] xPSListener"
This would be used to add, remove or configure WS-Man listeners. The most likely use case for this is to allow creation of an HTTPS WS-Man listener and deleting the HTTP WS-Man listener.

I've already created this resource as [cWSManListener](https://github.com/PlagueHO/cWSMan) in a separate resource module and submitted it to be added to the DSC Community resources, but perhaps it would be better

[2016-07-15 12:21] redoz commented on #65
@kwirkykat I think the only way to make xService truly useful is to give it a source and a destination path and implement something like this:

1. If contents of destination does not equal contents of source
   1. Ensure service is stopped
   2. Uninstall service
   3. Copy files to make destination match source
   4. Install service
2. If service state doesn't match configuration
  1. Set service

[2016-07-17 04:23] PlagueHO commented on #175
Sorry about the delay. Looking into this now.

[2016-07-17 08:34] PlagueHO commented on #175
Quick update: I've managed to replicate the problem. There are actually some other bugs in the current Dev branch that have to be resolved before the bug you're seeing actually shows up.

I think what is happening is that the Administrator principal is being mistakenly removed from the Administrators local group (which is not allowed to happen). I've got to do some further investigation on this.

[2016-07-18 04:35] PlagueHO opened #179 "Correct Sample_xArchive_ExpandArchive"
The sample Sample_xArchive_ExpandArchive contains parameters for xArchive that don't exist (MatchSource) or don't make sense for the example (CompressionLevel).

I'll submit a PR when I get a chance.

[2016-07-18 07:05] hahndorf opened #180 "xGroup fails on group 'Users'"
Very simple resource:

     Node $NodeName
     {
        xGroup GroupUsers
        {
            Ensure = "Present"
            GroupName = "Users"
        }
     }

In Version `3.12.0.0` this gets me the exception:

`Exception calling ".ctor" with "2" argument(s): "Server names cannot contain a space character."`

Interestingly enough, trying the same with Resource `Group (MSFT_GroupResource)` g

[2016-07-18 07:36] PlagueHO commented on #180
Hi @hahndorf  - I'm looking into some other issues with this Resource ATM so I'll take a look at this as well.

[2016-07-18 08:57] PlagueHO commented on #175
Update: I've found the cause of the problem. It is caused by this line:
https://github.com/PowerShell/xPSDesiredStateConfiguration/blob/dev/DSCResources/MSFT_xGroupResource/MSFT_xGroupResource.psm1#L438

This clears the content of a group before adding the members listed in the Members parameter. This causes an error for built-in groups because it tries to delete the Administrator account from it.

[2016-07-18 19:22] bswerdlen opened #181 "xService: Description should allow empty string"
If a service does not have a Description, test and set DSC resource functions both fail even though Description is not a required parameter. Please allow the Description to be an empty string.

Recommend changing the parameter
[System.String]
        [ValidateNotNullOrEmpty()]
        $Description

to
[System.String]
        [ValidateNotNull()]
        $Description

[2016-07-19 10:20] Zuldan commented on #175
@PlagueHO, thank you for spending so much of your personal on adding to and fixing DSC resources. I was planning on upgrading our production to 3.12.0.0 but I think I'll wait until you've done your magic and fixed up xGroup.

[2016-07-19 20:34] PlagueHO commented on #175
Hi @Zuldan! As always, it's a pleasure contributing to the community :smile:  - but I think you're probably best using 3.10 or earlier for the moment. Although you can still use this resource to manage built-in groups if you just use the IncludeMembers and ExcludeMembers parameters to control the group members. It only becomes a problem when using the Members parameter to set the content of Built-

[2016-07-21 17:19] kwirkykat commented on #175
Sorry. Was out for a funeral.

@PlagueHO I can fix [this line] (https://github.com/PowerShell/xPSDesiredStateConfiguration/blob/dev/DSCResources/MSFT_xGroupResource/MSFT_xGroupResource.psm1#L438) to only remove members that are not specified in Members rather than clearing all the members in the group. Are you already working on this?

Style issues will be fixed later as part of #160. Haven't gott

[2016-07-21 19:44] PlagueHO commented on #175
Hi @kwirtykat. I'm so sorry to hear that! My condolences.

I can submit a PR for the issues I've fixed. I haven't worked on the actual bug above yet so you can fix that one if you like?

My main thought is that we really need unit/integration tests in place so we can raise our levels of confidence. I'm happy to put these together if you're not already working on them? I thought I recalled you may

[2016-07-21 19:54] kwirkykat commented on #175
@PlagueHO Sounds good. I would love more tests! I'm not on that part of #160 yet. Currently working on porting the Process resource.

I added a bunch of tests for xGroup [here](https://github.com/PowerShell/xPSDesiredStateConfiguration/blob/dev/Tests/Unit/MSFT_xGroupResource.Tests.ps1). The tests with domain credentials have to be skipped currently though because we don't have domains set up on th

[2016-07-21 20:07] kwirkykat commented on #178
@PlagueHO Since there's also [this resource](https://github.com/PowerShell/DscResources/issues/156) that you posted, I would say this should be in a separate WSManDsc resource module along with that new resource.

@TravisEz13 @KarolKaczmarek What do you think?

[2016-07-21 20:10] kwirkykat commented on #65
@TravisEz13 @KarolKaczmarek
Any thoughts on changing the schema for xService resource to work like this so it can be updated with DSC?

[2016-07-21 23:16] kwirkykat commented on #180
@hahndorf Odd. I can't reproduce this error with xGroup. Added a unit test with an empty group just in case.
What value did you use for $NodeName? Did that have a space?

@PlagueHO Have you been able to repro this error?

[2016-07-22 00:26] PlagueHO commented on #180
@kwirkykat - I haven't looked at this one yet. I'll take a look tomorrow (Saturday) and see if I can replicate.

[2016-07-22 07:03] hahndorf commented on #180
What I tried:

New fresh VM 2012 R2

    Install-Module -Name xPSDesiredStateConfiguration

Created a file: userstest.ps1:

     Configuration MyUserConfig
     {

        Import-DscResource –ModuleName 'xPSDesiredStateConfiguration'
        Node "localhost"
        {
              xGroup GroupUsers
              {
                  Ensure = "Present"
                  GroupName = "Users"

[2016-07-22 17:50] kwirkykat commented on #180
I see this issue now. Looking into it

[2016-07-26 00:09] TravisEz13 commented on #178
xPSListener doesn't seem like the correct name.

[2016-07-26 00:49] PlagueHO commented on #178
@TravisEz13  - I've changed the name of this to:
WSManListener.

Does that sound like a more appropriate name?

[2016-07-26 09:37] PlagueHO commented on #178
I'm going to close this issue as it is covered in this Issue:
https://github.com/PowerShell/DscResources/issues/75

[2016-07-26 09:37] #178 closed

[2016-07-26 18:44] dragon788 opened #183 "Invalid ipmo statement should be import in ResourceDesignerScripts?"
https://github.com/PowerShell/xPSDesiredStateConfiguration/blob/master/ResourceDesignerScripts/New-PSSessionConfigurationResource.ps1

[2016-07-27 20:53] #180 closed

[2016-07-27 20:58] kwirkykat commented on #183
ipmo is a valid alias for Import-Module, so the script should still work. Though alias's can change frequently and are not considered stable, so yes this should be changed to Import-Module.

[2016-08-02 09:03] iainbrighton opened #187 "MSFT_xPackageResource: Reinstate InstalledCheckRegKey check"
Following the merge of the in-box Package resource, the following properties have been removed from the MSFT_xPackageResource resource:
[code]
These need to be added back in, complete with unit tests.

[2016-08-02 17:33] #179 closed

[2016-08-02 17:47] #181 closed

[2016-08-03 12:36] glatzert commented on #19
New Versions support that - thank you 👍

[2016-08-03 12:36] #19 closed

[2016-08-04 08:51] glatzert opened #189 "xGroup: How to handle built-in groups"
Hey,

let's assume I got a user alice@contoso.com and I got tree servers. One server is German, one is English, one is French.

Now I'd like to add Alice@contoso.com to "BUILT-IN\Remote Desktop Users" aka "BUILT-IN\Remotedektopbenutzer" aka "BUILT-IN\<French here>".

Do you see the possibility, that you enable SIDs as group names - at least for the "well known groups"?

[2016-08-04 19:29] bswerdlen commented on #126
I have been dealing with this issue on my end as well, primarily when updating the configuration of other resources within the document. It is breaking all of our builds and appears to be causing larger issues on our servers because DSC thinks it's configuration has failed when it has not.

I have patched this on my end to continue our normal business operations. The intended goal of my change was

[2016-08-06 04:34] AceHack commented on #60
Yes please do this

[2016-08-08 22:37] #183 closed

[2016-08-09 09:04] PlagueHO commented on #131
I'll work on this one if you like, because I need to get a fix through for #52.

[2016-08-09 10:15] PlagueHO opened #190 "Remove Localization Strings in DSC resource PSM1 files"
Most of the resources contain two copies of the localization strings - one in the DSC Resource module file itself and one in the en-us folder in a PSD1 file.

This should not be required if the following code (or some variation) is used to read the localization file:
[code]

[2016-08-09 10:25] PlagueHO commented on #131
I'm working through these and am finding that there is some contention over whether or not the PSUseShouldProcessForStateChangingFunction warning should actually be used:
https://github.com/PowerShell/PSScriptAnalyzer/issues/283

My feeling is that this warning:
1. doesn't make a lot of sense when it is reported in Unit/Integration test code.
2. isn't helpful in the context of DSC Resources
3. is

[2016-08-09 18:12] sameer-kumar opened #191 "Errors while creating new DSC pull server"
I'm trying to create a new DSC web pull server following the sample scripts provided at
https://github.com/PowerShell/Whitepapers/blob/master/PullServerCPIG/PullServerCPIG.md

However, I get following errors:

[code]

And, when I try to run the new pull server in browser, I get this error:

[code]

My environment:

Thanks for your help!

[2016-08-09 20:09] kwirkykat commented on #131
@PlagueHO Yes agreed on that rule. Just posted the [PSSA rule severity list](https://github.com/PowerShell/DscResources/blob/master/PSSARuleSeverities.md) for DSC Resource Kit.
That should help with what rules are allowed to be suppressed/not suppressed.

Haven't implemented this list in tests yet though.
There has been a lot of update to this file since I submitted this issue. Will update the pic

[2016-08-09 20:36] PlagueHO commented on #131
@kwirkykat - oh nice! Good idea on the PSSA List.

As for the remaining rules, those are the only ones I've fixed. I noted the suppression of the PSAvoidGlobalVars one too. I'll submit my PR sometime today/tonight.

Thanks for getting back to me so quick. I'll also get some other PRs through for the warnings on the other resources.

[2016-08-09 20:51] sameer-kumar commented on #191
I realized an issue after debugging directly into the shipped psm1 files. I'm not saying this is directly link to my above reported issue but may have some deeper links.

The problem lies under this block:
https://github.com/PowerShell/xPSDesiredStateConfiguration/blob/dev/DSCResources/MSFT_xDSCWebService/MSFT_xDSCWebService.psm1#L562-L583

If user has both IIS and IIS Express installed on his mac

[2016-08-10 17:28] #187 closed

[2016-08-12 05:15] DamianBis opened #194 "xUser Cannot test password if account is disabled"
$principalContext.ValidateCredentials($UserName, $Password.GetNetworkCredential().Password)) cannot run in the Test target resource  if the account is disabled.. it will always error as you can't validate the credentials of a disabled account

If i try and set the account to disabled WITHOUT a password i get an error

PowerShell DSC resource MSFT_UserResource failed to execute Set-TargetResource f

[2016-08-12 19:26] tehsuk opened #195 "xPackage arguments missing a space"
xPackage is missing a space before the string in the Arguments parameter.

Example DSC that used to work:

[code]

Logged:

[[xPackage]InstallAccessDataBaseEngine_x64] Starting
C:\Windows\system32\msiexec.exe with /i "C:\Install\AceRedist.msi" /quiet/quiet /norestart
VERBOSE: [97561A4CD997]:
[[xPackage]InstallAccessDataBaseEngine_x64] Starting process C:\Windows\system32\msiexec.exe with arguments

[2016-08-12 22:17] tehsuk commented on #195
Also wanted to add that I'm working around this for now by adding a leading space in my argument list.

[2016-08-13 00:26] PlagueHO commented on #195
@Tehsuk - thanks for raising the issue! I'm working on this resource at the moment so I'll include a fix for this too.

[2016-08-15 11:05] Zuldan commented on #195
@PlagueHO, just wondering if you had some time to resolve the issue?

[2016-08-15 19:40] PlagueHO commented on #195
Hi @zuldan, I just needed to submit a PR to fix the pssa errors on the resource. This would then allow me to begin addressing the other issues on it. I'll get going on this after work tonight!  Won't take long

[2016-08-16 01:11] Zuldan commented on #195
@PlagueHO, thank you so much! I've got a dirty hack to get it working for the time being. Looking forward to the full fix. Maybe there should be some sort of Pester test to check parameters are formatted correctly?

This is a bit cheeky of me...but I'm wondering if you would consider adding a feature to xDisk (https://github.com/PowerShell/xStorage/issues/47). I'm wanting to use it in conjunction

[2016-08-16 01:22] tehsuk commented on #195
@Zuldan: I found a relatively 'clean' hack is to put a leading space in the argument list.

eg: replace:
`Arguments = '/quiet /norestart'`
with
`Arguments = ' /quiet /norestart'`

[2016-08-16 08:50] Dan1el42 commented on #137
I'm almost ready to submit a PR for this. Beside the fixes for the PSSA issues I've added an example, an integration test, updated the unit test and fixed long lines.

![image](https://cloud.githubusercontent.com/assets/7493263/17693392/da44fbf8-63c8-11e6-94c8-abb54f0919d4.png)

[2016-08-16 09:29] Dan1el42 commented on #137
PR #198 submitted. AppVeyor build is green on my account (https://ci.appveyor.com/project/Dan1el42/xpsdesiredstateconfiguration/build/3.13.15.0)

[2016-08-16 15:01] AlexandrosIV opened #199 "xDSCWebService error when using a custom RegistrationKeyPath"
When setting a custom path for the registration Key, it works ok, but later all pull client fails with Unauthorized at registration moment.
Using the default path with same registrationkeys.txt works fine

also the RegistrationKeyPath does not update when changed it and pushed again, web.config stay the same.
need to remove the resource and recreate

[2016-08-17 09:25] bytejunkie commented on #104
I'm getting this same issue.
I'm not sure that changing the title is right on this issue. the symptom observed is that the App Pool stops/crashes, so by changing the title you've potentially made this harder to search for.

I could do with some help working out how to change the AcceptSelfSignedCertificates value too.

[2016-08-17 10:04] Dan1el42 commented on #160
@kwirkykat I wonder if it is worth to put any effort into fixing PSSA issues for xFileUpload (a composite resource) and xRemoteFile if the PowerShell team is going to integrate the functionality into the File resource as per the HQRM plan.

[2016-08-17 10:49] bytejunkie commented on #104
This is set in the config for the web server where you generate the original config for the pull server.

    xDscWebService PSDSCPullServer {
    <snip>
            AcceptSelfSignedCertificates = $false
    }

[2016-08-17 10:59] Zuldan commented on #104
Here is a easy temp fix.

[code]

[2016-08-17 17:24] #131 closed

[2016-08-18 12:55] Bertk opened #200 "xPackage uninstall with EXE installer fails"
xPackage starts msiexec.exe instead of the EXE file with uninstall parameters and therefore replacing an old version with a newer package is not possible.

[code]

The installations is OK.

[code]

[2016-08-18 22:38] #49 closed

[2016-08-18 22:41] kwirkykat commented on #53
There is a Checksum parameter on xArchive now

[2016-08-18 22:41] #53 closed

[2016-08-18 22:52] kwirkykat commented on #66
xService documentation was updated in #159

[2016-08-18 22:52] #66 closed

[2016-08-18 22:55] kwirkykat commented on #74
This is similar to #60

[2016-08-18 23:02] kwirkykat commented on #94
This was fixed in #176

[2016-08-18 23:02] #94 closed

[2016-08-18 23:10] #119 closed

[2016-08-18 23:15] #124 closed

[2016-08-18 23:21] kwirkykat commented on #160
@Dan1el42 You're right. There's not much point in updating these resources right now when they aren't going into the HQRM anyway.

[2016-08-18 23:21] kwirkykat commented on #135
Closing per comment in #160. No point in updating this right now when it is not going into the HQRM anyway.

[2016-08-18 23:21] #135 closed

[2016-08-18 23:21] kwirkykat commented on #129
Closing per comment in #160. No point in updating this right now when it is not going into the HQRM anyway.

[2016-08-18 23:21] #129 closed

[2016-08-19 10:54] usrme opened #201 "Nodes not registering in Devices.edb and not pulling configurations"
Greetings,

I've hit a wall with a perplexing issue: I am applying an identical LCM configuration to all my nodes and the LCM applies correctly with no error messages shown, but when I create a configuration, its checksum, and apply it via **Update-DscConfiguration -ComputerName (node) -Wait -Verbose** (just for testing purposes, automatic pulls within the default time frame don't work either) I g

[2016-08-19 13:07] kamranayub commented on #201
One thing you can try that helped me diagnose my issue was enabling Failed Request Tracing in IIS for the endpoint and then pouring over the report. In there, it had the HTTP verb it was using which led me to my solution. I think your problem might be similar to mine where something in IIS is blocking the call, causing it to return a 404.

Are you using SSL? Have you tried removing SSL to isolate

[2016-08-19 14:38] usrme commented on #201
I enabled Failed Request Tracing, but no log files appear in *%SystemDrive%\inetpub\logs\FailedReqLogFiles* as IIS shows; instead I checked *%SystemDrive%:\inetpub\logs\LogFiles\W3SVC1\u_ex160819.log* and saw the following entries, and there were tons more like these:

    2016-08-19 13:20:37 <pull server IP> POST /PSDSCPullServer.svc/Nodes(AgentId='<node1 AgentID>')/SendReport - 443 PSDSCUser <no

[2016-08-19 15:00] kamranayub commented on #201
What's your PSDSC web.config look like? And could you try opening the ESENT database in a viewer like [ESEDatabaseView](http://www.nirsoft.net/utils/ese_database_view.html)?

I would just confirm the agent ID *is* actually registered in the DB.

[2016-08-19 15:18] cdituri opened #202 "Question about xRemoteFile and Invoke-WebRequest"
Is there any specific reason Invoke-WebRequest was chosen to back the implementation of xRemoteFile and, if not, would the team welcome the transition to an implementation using, for instance, the System.Net.WebClient class? or would a new resource, say, xWebClient, be more appropriate for something like this?

Performance is what prompted my questioning: we're using xRemoteFile to download 10s of

[2016-08-19 16:42] usrme commented on #201
I can post the *web.config* tomorrow, but in regards to the ESENT database I mentioned in my original post that both the RegistrationData and StatusReport tables are being populated with meaningful entries, but the Devices table isn't, which is where I would assume the node/agent ID entries would be for the nodes to be able to pull down configurations.

So far I am under the impression that the Re

[2016-08-19 23:46] megamorf commented on #201
I've run into the same issue. @grayzu responded to me on twitter.
From what I know it's fixed in WMF 5.1 which isn't yet available for Server 2012 (R2).

[2016-08-20 03:55] PlagueHO commented on #202
I'm not aware of any specific reason why we're using Invoke-WebRequest over System.Net.WebClient.

However I think the use of built in PS cmdlets is always preferred over .NET classes or other methods. Now that PS is open sourced it might be worth actually looking into any performance difference between IWR and System.Net.WebClient and looking at improving the IWR performance. I'm sure the PS comm

[2016-08-20 04:12] Zuldan commented on #202
BITS support would be good but I don't know if it would work in DSC. I've never been able to get it working outside of a logged in session (EG remoting or scheduled task). It's worth investigating though.

[2016-08-20 04:16] PlagueHO commented on #202
@Zuldan - MSFT made some changes to the BITS cmdlets in WMF5.1 - I wonder if that would help?

I'm not too worried about the BITS though - it would just be "nice to have" for me mostly - but others might use it more.

But as PS is open sources we might have better luck at tracking down issues (more eyes on the code etc). Who knows :smile:

[2016-08-20 04:29] Zuldan commented on #202
You're right, it would just be a nice to have. That's the beauty of PS being open source now. Customers can go investigate the issue directly without having to wait for Microsoft ;-) Awesome.

[2016-08-20 07:38] iainbrighton commented on #202
BITS doesn't like authenticated proxies (from my experience). That shouldn't preclude it from being an option though!

[2016-08-20 10:08] Dan1el42 commented on #202
Not sure if you know that the PowerShell DSC team wants to move the functionality of xRemoteFile into the File resource which is unfortunately closed-source as per the [HQRM plan](https://github.com/PowerShell/xPSDesiredStateConfiguration/blob/dev/HighQualityResourceModulePlan.md#open-source-resources-not-moving-to-hqrm) for this module. I don't know when this will happen. May be @kwirkykat can gi

[2016-08-22 06:03] usrme commented on #201
Here is the *web.config*:

    <?xml version="1.0" encoding="UTF-8"?>
    <configuration>
      <configSections>
        <section name="managementOdata" type="Microsoft.Management.Odata.Core.DSConfiguration, Microsoft.Management.OData, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
      </configSections>
      <managementOdata schemaFileName="PSD

[2016-08-22 15:24] cdituri commented on #202
@PlagueHO - thanks for your response. Great point regarding the implementation of ``IWR`` direct now that Powershell is open-source; I hadn't even considered that! The suggestion on having a "method" attribute makes sense.

@Dan1el42 - most excellent point regarding the HQRM status of the File resource. Will await an official response.

@Zuldan @iainbrighton - thank you both for your input as well

[2016-08-23 00:25] kwirkykat commented on #151
After further consideration and discussion, the current schema has been deemed correct with only Password as a PSCredential and User as a separate string key.

[2016-08-23 00:25] #151 closed

[2016-08-23 00:47] kwirkykat commented on #202
@Dan1el42 I don't have any current or future plans surrounding File/RemoteFile/FileUpload at the moment.

I would open-source File now if I could, but it's actually built directly into DSC/Windows unlike other resources which are "script" (Get/Test/Set), class, or composite resources with editable code.

If you guys would like to start a new xFile resource here in xPSDSC (that perhaps just uses Ne

[2016-08-23 07:35] PlagueHO commented on #202
@cdituri - no worries! @Dan1el42 - good point about the File resource.

So @kwirkykat - if there are no plans around combining File/RemoteFile/FileUpload at the moment, could we just keep them separate? At least for now.

I don't see the benefit in combining these resources into a single resource (especially not xFileUpload).

[2016-08-23 09:05] Dan1el42 commented on #202
@PlagueHO and @kwirkykat  Do you think it would be worth our time to rewrite the composite resource xFileUpload as normal script resource (Get-/Set- and Test-... functions) in the interim?

[2016-08-23 10:08] PlagueHO commented on #202
@Dan1el42 - personally, I'm ok with rewriting the xFileUpload as a script based resource - assuming of course we included full unit/integration tests with it :grinning:

[2016-08-23 13:16] mycjme opened #203 "Unregister Nodes from Pull Server"
Please provide functionality to remove/unregister nodes from a Pull Server.

[2016-08-23 17:03] dragon788 commented on #203
@mycjme I think you basically have to write a new local configuration that tells them to stop talking to the server, since the periodic check-ins all happen client side. You can push this config change from any machine/account that has Administrator access to the client machines.

The nuclear option in this case might be to change the configuration ID/registration key so they no longer trust the s

[2016-08-23 17:16] kwirkykat commented on #202
@PlagueHO Sure. No plans for these resources right now. I won't be touching them.

@Dan1el42 That would be a great idea! I'm not really sure why it was wrapped in a Script resource inside a configuration to begin with...

[2016-08-23 23:46] PlagueHO opened #205 "Feature: Allow xWebService to select Certificate to use for SSL via Subject Name"
This would allow configurations to be created that would use the xCertificate/xCertReq DSC resource to request the certificate to use from a CA and then the DSC Pull Server could locate and consume the certificate.

At the moment there has to be a semi manual process for getting the certificate onto the DSC Pull Server and assigning the thumbprint.

This would require making the CertificateThumbPr

[2016-08-24 06:13] mycjme commented on #203
I was thinking more housekeeping, in a scenario where the pull clients have already been deleted or will be rebuilt. Neither option seems feasible in this scenario

[2016-08-24 12:19] dragon788 commented on #203
In that case I believe the devices.mdb could be queried for machines that
aren't responding or haven't pulled in a while, but I'm not sure the
process for cleaning that up as I'm just getting to the point of rolling
out the pull server config to additional hosts myself.

On Aug 24, 2016 1:13 AM, "mycjme" <notifications@github.com> wrote:

[2016-08-27 09:14] Dan1el42 commented on #132
PR #206 submitted to resolve this issue.

[2016-08-27 10:20] Dan1el42 commented on #134
FYI, I am in the process of fixing the PSSA and style issues for this resource. PR following soon.

[2016-08-28 02:09] Dan1el42 commented on #134
PR #207 submitted.

[2016-08-28 03:03] Dan1el42 commented on #133
I am in the process of fixing the PSSA and style issues of this resource. Should be able to submit a PR soon.

[2016-08-28 04:11] Dan1el42 commented on #133
PR #208 submitted.

[2016-08-28 10:20] Dan1el42 commented on #146
I've recently noticed this problem too. It seems that all composite resources in the xPSDesiredStateConfiguration DSC resource module like xFileUpload, xGroupSet, xProcessSet, etc. are affected, probably since they have been merged from the In-Box resource module.

I will take this issue and submit a PR for review and consideration by the PowerShell DSC team. The fix is to renamed the folders and

[2016-08-28 13:16] Dan1el42 commented on #146
PR #209 submitted.

[2016-08-29 20:33] BerheAbrha commented on #83
@kwirkykat  As part of #160, is there a plan to also setup a pull server using the resource and do basic pull server testing with it ? if there is I can close this one as duplicate.

[2016-08-30 01:02] PlagueHO opened #210 "Feature: Allow xService to enable/disable DesktopInteract"
Some services when they are created/configured may require the DesktopInteract to be enabled/disabled. The DesktopInteract can only be enabled if the service account is LocalSystem.

Changing the Service account to anything other than LocalSystem with this setting enabled results in a "21" error as defined by https://msdn.microsoft.com/en-us/library/aa384901(v=vs.85).aspx.

This setting can be cha

[2016-08-30 01:03] PlagueHO commented on #210
Tagging @SteelCrusaders

[2016-08-30 01:25] kwirkykat commented on #83
@BerheAbrha I'm not sure yet if we will be able to set up a pull server using AppVeyor without revealing secrets (password, keys, etc.), so I would leave this open for now.

[2016-08-30 12:17] glatzert commented on #189
It seems SIDs are (on purpose or not) supported.
Perhaps you can make sure, that using SID for local Groups will not break in the future?

[2016-08-30 19:42] #137 closed

[2016-08-30 21:51] PlagueHO commented on #210
We're working on this now because it is needed by our enterprise.

[2016-08-30 22:20] zhenl-microsoft opened #211 "Pull server should be configured to use only more secured protocols"
The DscPullServer setup configuration should configure DSC pull server to only use more secured TLS protocol, instead of the legacy SSL one.

[2016-08-30 23:52] PlagueHO commented on #210
I've found a problem with the tests for this resource that I'd like to fix:

The _unit tests_ contain components that are actually _integration tests_ and are therefore destructive. Unit tests should be mocked and not depend on creating an actual service (using the actual resource). This is a *destructive* test - unit tests should be non-destructive.

I propose that these tests be corrected (I'll

[2016-08-31 00:03] PlagueHO opened #212 "Fix: xService - Service Restart delayed till next LCM execution cycle"
If a change to a service results in a service needing to be restarted, it is first stopped. It won't be restarted until the next execution of the LCM (15 minutes). Is there a reason for this behavior? If not, the fix is trivial.

This is just a general irritation and not a major issue, but it is easily fixable.

If OK, I'd like to fix as part of #210.

Sorry about all the issues I'm raising, but I

[2016-08-31 01:11] PlagueHO commented on #212
Actually, I think this should be marked as a bug. If applying this resource in push mode it will take two runs before the node actually gets in sync. The first run will look like the configuration was applied just fine, but in fact the service will still be in a stopped state.

[2016-08-31 03:09] PlagueHO opened #213 "Bug: xService Get-TargetResource throws when Ensure is 'Absent'"
Writing full integration and unit tests for this resource has exposed an error (I do love it when good test coverage exposes issues :smile: ) in xService.

If the service does not exist , which it should not when Ensure = 'Absent', then Get-TargetResource throws an exception:
Service 'DscTestService' not found.

If there are no objections  I'll fix this issue as part of #210, #212.

[2016-08-31 04:24] PlagueHO commented on #210
Regarding the "not" unit tests - I'm going to have to basically reconstruct them from scratch so they're actually unit tests (and not some Frankenstein's monster of Unit + Integration tests :grin:). So I'll raise a separate issue for it.

[2016-08-31 04:26] PlagueHO opened #214 "xService Unit Tests are not unit tests but are a "destructive" hybrid"
I have created correct integration tests for this resource using the standard templates and methodology (which have exposed errors in the resource already). But the existing unit tests are not unit tests at all - they are a destructive integration test. There is very little useful coverage for this module (most helper functions are not covered at all).

So I'll re-write the unit tests from scratch

[2016-08-31 09:17] pieterv-icloud-com commented on #51
How did you resolved the DWORD issue?

Currently facing the same issue.

[2016-08-31 11:40] usrme commented on #201
An update: a majority of the hosts get registered under the Devices table in Devices.edb, but even those that are registered there are not able to pull down configurations reliably; 3/7 hosts work as expected and 6/7 are actually registered.

Funnily enough, one of the hosts, which does pull down configurations, is *not* registered under the Devices table...

Any updates from the DSC team would be

[2016-08-31 20:22] PlagueHO commented on #160
Hi @kwirkykat - as I'm working on issues #210, #212, #213 for xServiceResource, I'm actually bringing it up to HQRM at the same time. I'm hoping to submit this tonight or tomorrow- the unit tests are taking a while (trying to get 90% coverage).

[2016-08-31 20:28] kwirkykat commented on #160
@PlagueHO Thanks! :+1:

[2016-09-02 00:17] PlagueHO commented on #214
Nearly completed this. Had network troubles last night so didn't get anything done on this. Aiming for completion tonight.

[2016-09-02 19:43] pshamus commented on #200
I just ran into this issue but with the built-in MSFT_PackageResource. I was thinking a solution could be to have two new parameters: UninstallPath and UninstallArguments. That would take precedence when Ensure = 'Absent'. Thoughts?

[2016-09-03 21:47] PlagueHO opened #215 "xWindowsOptionalFeature - Running tests creates/updates file in repo"
When running the unit tests for xWindowsOptionalFeature, a log file is created in the root of the repo. The file is called "InstallIncorrectWindowsFeatureLog". It should probably be either:
1. created in the Windows Temp folder (```$ENV:Temp```) and cleaned up after tests are complete.
2. or added to the .gitignore file.

This is a very minor issue and is only a problem if you run tests locally be

[2016-09-04 04:28] Dan1el42 commented on #215
Thanks @PlagueHO for catching this.

I will submit a PR to fix the unit tests of xWindowsOptionalFeature to create the log file in `$env:TEMP` instead.

[2016-09-04 05:55] PlagueHO commented on #215
Awesome! Thanks @Dan1el42 :smile:

[2016-09-04 05:57] Dan1el42 commented on #215
No worries. PR #217 submitted.

[2016-09-04 20:03] #215 closed

[2016-09-06 07:16] rfresow opened #219 "xWebsite error on Windows 7"
xWebsite 1.13 returns an error on Windows 7:

_The command Test-TargetResource of the PS module MSFT_xwebsite does not implement the write property LogPath mentioned in the corresponding MOF schema file C:\Program Files\WindowsPowerShell\Modules\xWebAdministration\DscResources\MSFT_xWebsite\MSFT_xWebsite.schema.mof. All write parameters mentioned in the schema file must be implemented by the comma

[2016-09-06 14:22] kamranayub commented on #201
So I spoke too soon because I'm running into this again (same exact error) with nodes that *used* to work in July, and haven't now since Jul 8. I can also get them to register successfully but none of them will pull down configurations :-1:

[2016-09-06 18:29] kwirkykat commented on #219
@rfresow  xWebsite is in the [xWebAdministration](https://github.com/PowerShell/xWebAdministration) module. Please open an issue in that repository for this bug.

From the error message it sounds like the version of xWebSite that you have does not have the LogPath parameter implemented correctly.
Can you please include the PowerShell version you are running when you open up the new bug? (Run $PSVe

[2016-09-06 18:29] #219 closed

[2016-09-06 19:50] #132 closed

[2016-09-07 18:21] #134 closed

[2016-09-08 14:45] CtrlC-Root opened #220 "xService regression with updating binary path"
Using `3.11.0.0` and `3.13.0.0` versions of this module you cannot update the binary path of an `xService` resource because it results in the following error:

![dsc_error](https://cloud.githubusercontent.com/assets/4819590/18353640/cdff84fe-75b0-11e6-9843-3d8130a725d7.PNG)

I suspect this is because you can no longer call WMI methods on CIM objects directly in PowerShell which is how I was callin

[2016-09-08 15:48] iainbrighton opened #221 "xPackage: RunAsCredential Parameter Removed"
It appears that in the v3.13.0.0 release, the `RunAsCredential` has been removed. This breaks installations on WMF 4 where the `PsDscRunAsCredential` is not supported :disappointed:.

@kwirkykat is there any particular reason that this has been removed (before I look at adding it back in)?

[2016-09-09 19:22] PlagueHO commented on #220
Hi @CtrlC-Root - I'm in the process of getting a large PR accepted for this resource ( #216 ) which does do a rework on some of this code. After that has been merged I'll look at this if it still occurs.

However, I can confirm that the current code does correctly call the Change method on the CIM instance using Invoke-CimMethod. However, changing the service executable path is not a scenario that

[2016-09-09 19:34] kamranayub opened #224 "xPackage: Mispelled variable `errLogPath` and inverse conditional (minor)"
Running into some issues with 3.13.0.0 release:
- [Line 1375](https://github.com/PowerShell/xPSDesiredStateConfiguration/blob/dev/DSCResources/MSFT_xPackageResource/MSFT_xPackageResource.psm1#L1375): errLogPath is mispelled. Should be "errorLogPath"
- [Line 467](https://github.com/PowerShell/xPSDesiredStateConfiguration/blob/dev/DSCResources/MSFT_xPackageResource/MSFT_xPackageResource.psm1#L467):

[2016-09-09 20:20] CtrlC-Root commented on #220
It should be supported, since I got a pull request accepted not too long ago adding support for it. It definitely works in the commit I posted above. It appears that immediately after my pull request was accepted something else was committed that broke it.

[2016-09-09 21:10] kwirkykat commented on #221
@iainbrighton Sorry :persevere: I messed this up in the resource merge. My bad. ```RunAsCredential``` should be added back to xPackage for WMF 4 support.

I can fix it over this weekend unless someone else can get to it faster.

[2016-09-09 21:13] kwirkykat commented on #220
@CtrlC-Root Something with the resource merge probably broke it :disappointed:
#216 should be merged before we further investigate this issue though.

[2016-09-09 21:44] #210 closed

[2016-09-09 21:44] #212 closed

[2016-09-09 21:44] #213 closed

[2016-09-09 21:44] #214 closed

[2016-09-09 21:44] #136 closed

[2016-09-09 21:58] kwirkykat commented on #211
Fixed in #223

[2016-09-09 21:58] #211 closed

[2016-09-09 23:12] iainbrighton commented on #221
No worries. I'm happy to submit a PR for this as it's impacting us? Not sure I'll get to it over the weekend though!

[2016-09-09 23:14] iainbrighton commented on #221
@kwirkykat I'm happy to pick this up with #221 if you want?

[2016-09-09 23:22] iainbrighton commented on #224
@kwirkykat<https://github.com/kwirkykat> Oops - wrong issue! I'm happy to pick this up with #221<https://github.com/PowerShell/xPSDesiredStateConfiguration/issues/221> if you want?

[2016-09-09 23:49] kwirkykat commented on #221
@iainbrighton Sure. Thanks :smile:

[2016-09-12 12:09] peterschen commented on #201
I am seeing the same issues. When updating the dbconnectionstr the registration and subsequent pulls work fine.

[2016-09-12 21:31] kwirkykat opened #227 "xService: Add a way to ignore state"
We need a way to ignore the State in the xService resource.
The current default value of the State parameter is 'Running' which makes it impossible to ignore the state of a service in the configuration as stated in #141.

Removing the default value of 'Running' from the State parameter is not an option as this will break scripts that were previously working. (I don't agree with this, but it has be

[2016-09-12 21:43] kwirkykat opened #228 "xService: Resource should update when same Path is provided"
This is probably the same as #126, but I'm creating a new issue for internal tracking.
The issues with #220 probably should also be fixed at the same time.

A service should still update all other properties if the same Path is provided.
Currently, it just writes a verbose message and does not properly update.

[2016-09-12 22:29] kwirkykat opened #229 "BREAKING CHANGE: xWindowsOptionalFeature: Remove the Source parameter"
**Please do not work on this issue until WindowsOptionalFeature has been merged from in-box as part of #160**

In xWindowsOptionalFeature the Source parameter is not used.
It has not been implemented, it's not mandatory, and it is not a key, so it should be removed.

[2016-09-13 06:51] PlagueHO commented on #220
I'll take a look when I can. At least we can now add regression tests to the repo easily enough to ensure it doesn't break again :smile:

[2016-09-13 07:28] megamorf opened #231 "Remove SHA1 from hardened pull server hash algorithm whitelist"
https://github.com/PowerShell/xPSDesiredStateConfiguration/pull/223#discussion_r78288977 added support for a hardened pull server configuration. Right now all it does is change the OS' allowed ciphers, hash algorithms and protocols.

Since this is supposed to be a secure setup wouldn't it make sense to remove SHA1 from the list of hash algorithms - it's supposed to be phased out after all (https:/

[2016-09-13 11:29] Zuldan opened #232 "xGroup: The property 'Count' cannot be found on this object"
xPSDesiredStateConfiguration v3.13.0.0

When trying to add a domain security group to a empty local security group I get "The property 'Count' cannot be found on this object. Verify that the property exists.". I'm pretty sure this is a bug. Maybe a test for this situation is needed for this as well when it's fixed?

[code]

[2016-09-13 11:50] Zuldan commented on #232
Some more info. In the resource config, if I replace 'Members' with 'MembersToInclude' then the resource works perfectly, the domain security group is added to the empty local security group.

[2016-09-13 18:16] johlju commented on #227
Would `State = 'Any'` be an option instead of `ignore`?

[2016-09-13 19:01] jordan-rogers-ge commented on #201
@kamranayub Your solution of switching to the OleDb provider worked great for me. I'm definitely going to have to do this for any new pull server I make from now on.

Can this feature be added: to choose which Db provider to use?

I believe the current Pull Server config automatically chooses based on your OS. Would be great to be able to just set this at creation.

I also like the OleDb provider

[2016-09-13 19:28] kamranayub commented on #201
Yeah, it definitely feels like the Esent provider was hastily added in
newest releases without proper production workloads and testing. I am using
the OleDb provider on a high availability fileshare with two load balanced
pull servers and it's rocking without issues.

On Tue, Sep 13, 2016, 14:01 Jordan Rogers <notifications@github.com> wrote:

[2016-09-13 19:35] kwirkykat commented on #227
@johlju Sure that would work too
@zjalali Is looking at this right now I believe

[2016-09-13 19:54] jordan-rogers-ge opened #235 "Choose which Db provider to use at pull server creation"
As discussed in #201 it would be very helpful to be able to choose which Db provider to use when creating a pull server, instead of having to manually switch.

I want to be able to set up a pull server using the OleDb provider. Currently, I think it just depends on OS version, and the default is ESENT, which causes the C:\Program Files\WindowsPowerShell\DscService\ directory to fill up with tons o

[2016-09-14 00:44] kwirkykat opened #236 "xUser: Set-LocalUser does not have a 'PasswordChangeableDate' parameter"
There is no parameter 'PasswordChangeableDate' on the function Set-LocalUser.
This parameter is being used at [line 767](https://github.com/PowerShell/xPSDesiredStateConfiguration/blob/dev/DSCResources/MSFT_xUserResource/MSFT_xUserResource.psm1#L767) of xUser in the Nano implementation of Set-TargetResource.

It needs to be replaced with a valid way to expire a password on Nano server.

Mariah is

[2016-09-14 08:44] PlagueHO commented on #228
@kwirkykat - having a look at this one tonight.

[2016-09-14 10:57] PlagueHO commented on #220
Working on this one now. Have replicated and identified the problem.

[2016-09-14 10:59] PlagueHO commented on #228
@kwirkykat  - I've reworked the Set-* and Test-* functions to support these workloads. I've also extended the integration tests to cover these scenarios. I've just got to finish the unit tests but I've run out of time tonight. Will try and finish it tomorrow night.

[2016-09-14 17:27] megamorf commented on #235
OLEDB is deprecated and incompatible with server core (requires the GUI to be installed) whereas ESENT works with server core and GUI variants.

[2016-09-15 06:54] PlagueHO commented on #126
I've looked into this problem and I don't think it exists in the latest release (the one I'm about to commit). I've added integration tests that test this scenario and they pass.

[2016-09-15 07:06] usrme commented on #235
@megamorf Well, if you are using a GUI version of Windows Server then indeed you have the option to use either OleDb and ESENT; given the instability issues plus the incessant writing of 128KB log files with ESENT an option should be given to the users on which to use (for the time being at least).

[2016-09-15 07:14] usrme commented on #201
I managed to get the registration working with ESENT through numerous setups of the pull server; deleting all possible traces of DSC from nodes, including deleting registry keys for agent IDs etc. When I first tried to switch to OleDb I got initialization errors when trying to register nodes to it, but I didn't follow the steps you laid out in your second update, @kamranayub, so I will have to see

[2016-09-15 07:14] ArieHein commented on #201
I've seen issues like this on the transition from WMF5 Preview to RTM. This was later fixed on the second release of RTM together with new xPSDSC. if you search uservoice /powershell.org and iirc even this repo you'll see an issue back then with installing on Server Core that had no UI would fail as OLEDB had no GUI dlls to depend on. I haven't seen issues with it on my boxes since.

WMF 5.1 shoul

[2016-09-15 07:44] ArieHein commented on #235
As I commented on the DSC repo, i dont think we should have an option.
The script today checks your OS level and based on that decides if its ESENT or OleDB
and it should stay like that.

The issues with ESENT will somewhat be dealt with in WMF 5.1 and the excess logs you can deal with a schedules task to clean them periodically (not the best solution but its something).

I'm Not a big fan of ESEN

[2016-09-15 09:00] PlagueHO commented on #76
I think this was resolved with #216. @AceHack  - are you able to confirm the fix works for you if you get a chance? You'd need to use the Dev branch until this is released via PS Gallery or the Resource Kit.

[2016-09-15 12:40] kamranayub commented on #201
Are they using esent for Azure Automation though? I doubt it... They must
be using something more robust. I'd love a SQL provider, for example. It
would make it more complex, but at least it would be better for HA
scenarios (which you'd want in production).

On Thu, Sep 15, 2016, 02:14 Arie Heinrich <notifications@github.com> wrote:

[2016-09-15 14:54] ArieHein commented on #201
The "PullServer" on Azure DSC works differently and I think its safe to assume it uses a different meta data store. I wouldn't be surprised if its using a JSON based NoSQL (maybe via DocumentDB) solution.

[2016-09-15 19:28] BrunoReboul commented on #56
Hello
+1
Same issue when changing from HTTP (AllowUnencryptedTraffic) to HTTPS (with a certif thumbprint)

[2016-09-19 17:59] #146 closed

[2016-09-20 01:01] #229 closed

[2016-09-20 22:31] #220 closed

[2016-09-20 22:31] #228 closed

[2016-09-26 08:48] bielawb opened #244 "xArchive test throws exception for locked files."
Recent versions of xArchive started to throw exceptions for locked files. I assume that this is because more strict checksum checks. As a result, we can't really use it for certain scenarios.

Error message:

PowerShell DSC resource MSFT_xArchive  failed to execute Test-TargetResource functionality with error message: System.InvalidOperationException: An error occurred while opening the file C:\Pr

[2016-09-27 04:09] MisterTK commented on #201
@kamranayub Switching to the OleDb provider solved my pull server issues, thank you! I was beating my head against the wall. I now have pull server with partial configs working.

[2016-09-27 18:16] #130 closed

[2016-09-28 21:37] TravisEz13 opened #247 "UseUpToDateSecuritySettings in MSFT_xDSCWebService should be required"
Since not specifying $true can potentially leave the machine in a less secure state.  The property should be required in order to ensure the user wants either the secure or less secure state.

[2016-09-28 21:42] TravisEz13 commented on #247
This is related to #223

[2016-09-29 21:40] TravisEz13 commented on #247
We should rename the property to `EnforceSecurityBestPractices` in order to avoid future breaking changes and add an optional property to disable this such as `RequireSecureCommunicationProtocols'

[2016-09-30 18:26] narrieta commented on #247
Per discussion offline the property will be renamed to EnforceSecurityBestPractices and made mandatory.

[2016-09-30 19:20] kwirkykat commented on #247
On further discussion, we should add a single property named 'SecurityBestPractices' that takes an array of string values specifying which practices to enable. One of these values should be 'All' to indicate that all possible best practices should be enabled. Another value should be 'SecureTLSProtocols' to indicate the current practice that can be enabled.

[2016-10-04 18:02] HelicalSyncromesh opened #248 "xRemoteFile unable to use drive created by xStorage/xDisk as Destination in same pass"
Hi, I'm experiencing an issue that is specific to using xRemoteFile in conjunction with xDisk from xStorage module.  I am deploying VMs to Azure which have an additional data disk; my configuration begins with using xDisk to format this disk and assign a drive letter (ex: F:).  Subsequently, I attempt to download a file to F: and receive an error that the drive doesn't exist.  The File resource ca

[2016-10-04 18:22] mbreakey3 opened #249 "Remove Skips on tests for Nano server once AppVeyor bug is resolved"
Currently xUser and xGroup have tests that have to be skipped on AppVeyor because they don't work. Once this issue is resolved these skips should be removed.

[2016-10-05 07:48] hoppi1804 opened #250 "xGroup - Error if group contains "NT AUTHORITY" members"
If a group that should be modified / monitored by DSC xGroup resource contains a member with "NT AUTHORIY" principal, an exception is thrown.

Repo:
1. create a local group
2. add members "NT AUTHORIY\SYSTEM" or "NT AUTHORITY\NETWORK SERVICE"
3. create and apply a simple xGroup Configuration to edit the group
(e.g.  xGroup xIisUsrs {
            GroupName = "TestGroup";
            MembersToInclud

[2016-10-06 07:42] PlagueHO commented on #248
Hi @HelicalSyncromesh - that is fairly odd. Especially as a folder can be created on it.

I've submitted a large change to xStorage (it hasn't been merged yet though) that contains a new resource called xWaitForVolume. Once this is in place, could you try adding a step that uses the xWaitForVolume for your F: disk and see if this allows it to work?

Also included in this change are some other impr

[2016-10-06 15:52] HelicalSyncromesh commented on #248
Hi @PlagueHO, thanks for the reply.  As I continued on this script I found that xRemoteFile is not the only affected Resource.  Turns out Archive suffers the same issue.  I did find a work around that solves the issue for all Resources;  after xDisk I added a Script resource that uses the following for the TestScript:
{
Get-PSDrive
Return $true
}

Then I reassigned all of my resources that Depende

[2016-10-07 00:34] PlagueHO commented on #248
Hi @HelicalSyncromesh - actually, this sounds very much like this issue (filed in xStorage):
https://github.com/PowerShell/xStorage/issues/58

@gaelcolas had the same problem (but using xMountImage instead of xDisk) and so we created xWaitForVolume that executes Get-PSDrive until the disk is in a completely ready state. So I'm thinking this resource will solve this problem as well.

However, the P

[2016-10-07 20:49] BerheAbrha commented on #247
I have similar idea to Katie. In DSC Signature validation could be turned on/off for specific DSC artifacts. we can use similar schema for the resource here:-

	[Description ("The Security Best practice to apply on the machine.."),
	ValueMap{"TLS", "Foo"},Values{"TLS", "Foo"}]
	string SecurityBestPractice[];

[2016-10-08 01:54] ArieHein commented on #244
softening the requirement is an issue as DSC is about idempotency..means I can run this script a million times and always get the same state. I think failure is actually what I expect it to do and then error out.
You can add a file resource to test or use script resource to find locked files and release prior to archive but I dont think its the archive resource itself that needs to account for it.

[2016-10-08 02:26] ArieHein commented on #203
@kwirkykat This isn't something the community can help with. The REST API for the pull server needs to implement a Remove method, and add a new cmdlets - Remove-DSCNode (param) to be able to remove a node and its matching history...but that's so core that I think its something you should be doing.

[2016-10-10 21:29] mbreakey3 commented on #68
Duplicate of #62 which was fixed

[2016-10-10 21:29] #68 closed

[2016-10-10 22:26] Indhukrishna commented on #247
_Final Design_
[required, Description("This property will ensure that the Pull Server is created with the most secure practices")]
  boolean UseSecurityBestPractices;
 [write,ValueMap{"SecureTLSProtocols"},Values{"SecureTLSProtocols"}] string DisableSecurityBestPractices;

While this issue is being fixed, it will also be good to have a document that explains what each of the values in DisableSecur

[2016-10-11 14:34] bielawb commented on #244
Throwing exceptions from test has nothing to do with idempotency. Test/Get should give you as much information as possible and if it's not possible, worse I would expect is $false. If I modify 100 files, none will be updated because file that matches the source is locked - where is idempotency here?

[2016-10-11 17:34] kamranayub opened #253 "Syncing directory structures with File resource and MatchSource + Recurse"
This is more of a question but to me feels like a bug.

[code]

I assumed using both the `Recurse = $true` and `MatchSource = $true` of the File resource on a Directory will essentally "sync" the structure of the target directory to the source. But that isn't the case--only new files are added, files that exist in the target that don't exist in the source are not cleaned up.

I can understand this

[2016-10-17 23:44] kwirkykat commented on #253
@kamranayub Have you tried adding ```Force = $true```?
I think Force is required to delete anything.

[2016-10-19 19:49] bielawb opened #255 "Error with xArchive when file names contain brackets."
In certain scenarios xArchive will fail. It seems to show up only in set certain scenarios:
-- zip file has a name that contains bracket
-- one of the files in the zip contains bracket, but most files are synced already (e.g. if file in question was removed).

Repro:

[code]

The fix: use -LiteralPath whenever possible. -Path assumes wildcards and shouldn't be used as individual files (rather than

[2016-10-20 23:04] zjalali commented on #227
I believe this is already resolved.

[2016-10-20 23:04] #227 closed

[2016-10-21 01:30] zjalali commented on #250
The failure is actually is `Get-PrincipalContext` function when we want to get a `PrincipalContext` for the current user in the target domain.

[2016-10-21 01:53] zjalali commented on #250
This is the status/repro where we see the failure:

[code]

[2016-10-21 18:41] NickMRamirez opened #257 "Nano: WindowsFeature resource does not work on Nano because Get-WmiObject command not found"
If I try to use the WindowsFeature resource, such as in the following, on a Windows 2016 Nano server:

[code]

On Nano, I get the following error:

[code]

On Nano, the Get-WmiObject command is not defined:

[code]

[2016-10-21 20:44] NickMRamirez commented on #257
We may be able to replace `Get-WmiObject` with `Get-CimInstance`, which is defined on Nano.

[2016-10-24 14:20] jmpetty21 commented on #232
This still appears to be an issue in 4.0.0.0

[2016-10-24 22:17] kwirkykat commented on #257
@NickMRamirez Have you tested this fix on a Nano server?

[2016-10-25 07:53] PlagueHO commented on #232
@Zuldan, @jmpetty21 - could you possibly post your a copy of the config for the step that is failing?

[2016-10-25 19:24] kwirkykat commented on #232
@Zuldan @PlagueHO Can you try this with the current version (4.0.0.0)? This should be fixed now. There was a lot of clean-up in Group for PSDscResources and the code sections on Members was re-worked quite a bit.

[2016-10-25 19:27] jmpetty21 commented on #232
I apologize for the delay in responses. I am re running everything now and will post shortly.

[2016-10-25 19:33] jmpetty21 commented on #232
Configuration TEST{
    Import-DscResource -ModuleName xPSDesiredStateConfiguration
            xgroup administrator{
            Ensure = 'Present'
            GroupName = "Administrators"
            Members = "Domain\Group"
       }
}

Here is the output from running Update-DSCConfiguration -wait -verbose on the client machine (set to pull)
VERBOSE: Perform operation 'Invoke CimMethod' with fol

[2016-10-25 20:43] kwirkykat commented on #232
@jmpetty21 Ah. I think I see the issue in the resource. 😢 If you put the members in an array instead, does it work?

[code]

[2016-10-25 21:39] jmpetty21 commented on #232
Get the exact same result

[2016-10-25 23:03] kwirkykat commented on #203
@mycjme @dragon788 @ArieHein I'll open this issue on the DSC internal side.

[2016-10-26 00:09] alx9r opened #260 "Are there any plans or is anyone working on xFile?"
`PSDesiredStateConfiguration\File` is rather opaque to my usual Pester-based testing techniques, so I'm looking for a more testable implementation of a file resource.  It seems that xFile would fit that bill but it is conspicuously missing from xPSDesiredStateConfiguration.  The only mention of xFile I have found is in #202.  It seems [from that thread](https://github.com/PowerShell/xPSDesiredStat

[2016-10-26 04:54] PlagueHO commented on #232
Thanks @jmpetty21 - I'll try and dig into this tomorrow night.

[2016-10-26 23:38] kwirkykat commented on #260
@alx9r
Short answer: Yes you can write it, just name it something else.

The built-in File resource in PSDesiredStateConfiguration cannot be open-sourced because it is built into DSC/Windows. There is no code/file I can provide to actually edit/see the resource.

I've actually asked the team why we don't implement a more visible/testable version of File, and the answer they gave me for the moment

[2016-10-27 01:10] alx9r commented on #260
@kwirkykat
Thanks for the clear answer.  I share the concerns about replacing `PSDscResources\File`.  If I end up writing another file resource, I'll try to have it meet this project's contribution guidelines so you can consider including it.

There might be another way to address my testability concerns: I'm having success testing the behavior of the other "PowerShell" `PSDscResources` like `Arch

[2016-10-27 18:40] kwirkykat commented on #260
@alx9r The implementation of File is actually a registered CIM class called MSFT_FileDirectoryConfiguration in the root/microsoft/windows/DesiredStateConfiguration namespace.
You can see the class by calling ```Get-CimClass -Namespace root/microsoft/windows/DesiredStateConfiguration -ClassName MSFT_FileDirectoryConfiguration```.

The class then has the three static methods Get-TargetResource, Test

[2016-10-27 21:02] kwirkykat commented on #232
@jmpetty21 You may still have an older version of xPSDesiredStateConfiguration installed on your machine because one of the verbose messages above was edited slightly in 4.0.0.0 but it's still the old version in the output you gave above:

(Your output)
VERBOSE: [2016GUI01]: [[xGroup]administrator] Property Members. The number of provided unique group members 1 is different from the number of actu

[2016-10-28 18:53] alx9r commented on #260
@kwirkykat
Good news!  I have a [proof-of-concept](https://gist.github.com/alx9r/f43bfc214024227d8ad88710c5a7525e) working for direct invocation of the File resource:

![image](https://cloud.githubusercontent.com/assets/11237922/19818268/b5351ad6-9cea-11e6-9790-122f5fc3b151.png)

This means it's possible to test the File resource's behavior as a unit separate from the LCM.

It seems like the `MSFT

[2016-10-28 20:46] kwirkykat commented on #260
@alx9r I'm pretty sure you cannot access the CIM registry without privileged access. Sorry 😕

[2016-10-31 12:40] jmpetty21 commented on #232
@kwirkykat @PlagueHO Sorry for the delay. I was on a mini vacation.

I ran Get-DscResource xgroup and below is the output. It is showing only 1 version of xPSDesiredStateConfiguration installed.

PS C:\Users\me\Documents> Get-DscResource xgroup

ImplementedAs   Name                      ModuleName                     Version    Properties
-------------   ----                      ----------

[2016-10-31 12:42] jmpetty21 commented on #232
Sorry, here is the configuration
Configuration Lab{

Import-DscResource -ModuleName xPSDesiredStateConfiguration

        xgroup administrator{
            Ensure = 'Present'
            GroupName = 'Administrators'
            Members = @('Domain\AdminGroup','LocalAdmin')

    }
}

[2016-11-01 23:16] kwirkykat commented on #247
Closed by #261

[2016-11-01 23:16] #247 closed

[2016-11-03 00:06] kwirkykat commented on #232
@jmpetty21 I figured out where the confusion was here (it was all me, sorry).

We recently released the new module PSDscResources which contains the Group resource. The problem you are describing has been fixed there.
The code from that Group resource was merged into xGroup here as well.
However, we didn't release xPSDesiredStateConfiguration again after that code was merged, but we *did* release

[2016-11-03 00:08] jmpetty21 commented on #232
Great news! I will give it a try tomorrow morning.

On Wednesday, November 2, 2016, Katie Keim <notifications@github.com> wrote:

[2016-11-03 13:04] jmpetty21 commented on #232
@kwirkykat 5.0.0.0 is working great! thanks for your assistance.

[2016-11-04 14:17] usrme opened #263 "Unable to create local user for Windows Server 2016"
I'm trying to create a simple local user for Windows Server 2016, but it fails with the following error message:

[code]
I was able to create a user with this exact configuration on a Windows Server 2012 R2 node just fine, so this leads me to believe there's some sort of difference in how the different versions of the operating system work, but I could very easily be wrong (DSC is still enigmatic

[2016-11-04 15:30] kamranayub commented on #253
@kwirkykat Yes, I've tried all manner of combinations without success. I think perhaps it may be due to the file caching--i.e. if someone changed a file manually, DSC wouldn't replace it or something like that. I believe it's working better on a fresh VM. So closing for now unless I notice this again.

[2016-11-04 15:30] #253 closed

[2016-11-04 15:33] kamranayub opened #264 "Honor OData $skip and $top parameters"
Creating a related issue to #98

Currently the PSDSCPullServer.svc does not support only pulling latest job status via parameters like `$top` or `$skip`. It does honor `$orderby` though.

Currently the response returned by the compliance endpoint for a node that's been enrolled for 6 months is an 18MB JSON response.

[2016-11-04 15:35] kamranayub opened #265 "Have Compliance reporting endpoint return proper JSON responses for `Errors` and `StatusData`"
This is annoying. Right now the PSDSCPullServer.svc will return agent job reports that have a `Errors` and `StatusData` parameters as JSON but the JSON is stringified. This means the client needs to implement a special JSON converter to deserialize these properties appropriately. In JSON.NET, I created a custom `ParseAsJsonConverter` but this is sub-optimal. The endpoint should return JSON appropr

[2016-11-07 20:04] dawilliams opened #266 "xPackage: Is it possible to pass a secure parameter to the Arguments value?"
Hello,

I'm trying using Azure DSC to pass a encrypted parameter to xpackage like so

azureDeploy.json
[code]
configuration.ps1
[code]
However when I do this, the "ADMIN_USER_PASSWORD" value is not set to parameter.  If I passed the same parameter under settings it works.

[2016-11-07 22:41] megamorf commented on #266
Is the missing $ character in your param block a typo?

[2016-11-08 14:27] dawilliams commented on #266
@megamorf That was a typo.  Thank you.  I've updated the 1st post with a little more detail.  However, you answered that question.  How do you keep the password out of the mof file?  Thanks.

[2016-11-08 20:33] corydwood commented on #69
I'm running into this same issue every time I add a 2016 DC to a 2008R2 domain. It appears to occur after the DC has been promoted, rebooted, and the LCM is re-applying the DSC configuration, which re-runs the **Test-TargetResource** function of the **xWindowsFeature** resource.

I've seen that it can take a while after the first reboot following the promotion of a new DC for the DC to be fully fu

[2016-11-09 00:18] #69 closed

[2016-11-10 08:49] usrme commented on #263
Update:

I've created a test pull server that matches the Windows Server 2016 node, and I am still getting the initial error about password complexity. To re-iterate, this was not an issue on a 2012 node.

[2016-11-12 05:57] DamianBis opened #270 "Update xGroup to have a different key"
At the moment the "GroupName" is the key of xgroup.

We have the problem of i can't use xGroup twice in my config because i'm trying to add 2

use case:

We use composite resources, we have a basic config anything that has to be applied to ALL Servers goes in here.

in here we have resource

xGroup AddLocalAdminToAdministrators
{
GroupName = 'Administrators'
Ensure='Present'
MembersToInclude='Comp

[2016-11-15 15:58] usrme commented on #263
**Update 4:**

Having debugged this further I found out that during the `Set-TargetResource` execution, the DSC engine sees the password length as several hundred characters for the Credential object instead of the 15 or so that I am using. This leads me to believe that something has changed in the way credentials are decrypted on Windows Server 2016. The exact same setup for configurations and ce

[2016-11-15 21:41] Persistent13 opened #271 "Reports Are Empty"
Hello,

When pulling the report for a node I'm getting nothing in return.

OS: Server 2012 R2
WMF / PowerShell: v5
LCM: v2
PsDesiredStateConfiguration: v1.1
xPsDesiredStateConfiguration: 4.0.0.0
xWebAdministration: 1.14.0.0

The output looks like:
[code]

I get nothing returned from browsing to the URL either, just the empty report page.

When I explore the EDB I can see jobs logged in the StatusR

[2016-11-16 19:14] TravisEz13 opened #272 "Should document how to make client work with TLS 1.0"
https://github.com/PowerShell/xPSDesiredStateConfiguration/blob/dev/DSCResources/MSFT_xDSCWebService/SecureTLSProtocols.psm1

Older clients would not connect with protocols newer than tls 1.0

[2016-11-16 19:33] megamorf commented on #272
Windows 7 and Server 2008 R2 support TLS 1.1 and isn't WMF4/5 only available for those two and newer OS?

https://technet.microsoft.com/en-us/library/dn786419(v=ws.11).aspx

[2016-11-16 19:56] TravisEz13 commented on #272
@megamorf Even though TLS 1.1 was available on Windows 7, etc, it .NET WinHttp Client did not use it by default.  We need to include TLS 1.0 so the clients can still communicate.

[2016-11-16 20:32] TravisEz13 opened #273 "Write a configuration to setup a SMB pull server"
And make sure that the cmdlets to publish configs and modules work for SMB and Web Pull Servers

[2016-11-17 02:31] ripclawffb commented on #69
I had this same issue. Apparently, when you add a Windows 2012 R2 domain controller, it looks for the following groups after promotion.

S-1-5-32-559 => Performance Log Users
S-1-5-32-573 => Event Log Readers
S-1-5-32-580 => Remote Management Users

In order for these groups to be created, you have to transfer the PDC role to the Windows 2012 R2 domain controller. Once the groups are created, the

[2016-11-17 07:27] skest3qc commented on #272
This helped me a lot.
Had this issue
PullServer is 2016
TargetNode is 2008R2

Error when updating configuration:
Failed to get the action from server PullServer ... InvalidResult: (root/Microsoft/...gurationManager:String)

Eventlog:
Message One or more errors occurred.
HResult -2146233088
StackTrack    at System.Threading.Tasks.Task`1.GetResultCore(Boolean waitCompletionNotification)
   at Micros

[2016-11-17 15:29] TravisEz13 commented on #272
@skest3qc Could you try updating the code?  should be a simple change.  Mention me in the PR if you do.

[2016-11-17 21:44] mbreakey3 commented on #52
Has this issue been resolved? It doesn't look like it has, but if the only change is to switch the 'if' to an 'elseif' around resetting the DSCMachineStatus, then I can add this fix in while I'm cleaning Package.

[2016-11-17 21:56] kwirkykat commented on #263
@usrme
Can you try using 'xUser' rather than 'User'?
This will use the User resource from this repo (much more updated) rather than the in-box version from PSDesiredStateConfiguration.

If the problem still persists, I will ask the PowerShell experts here what's going on with the credential object length.

[2016-11-17 22:18] kwirkykat commented on #270
@DamianBis GroupName is the logical key for a Group so it will not be changed.

This is a limitation of all DSC resources, not just xGroup specifically.
The DSC LCM (engine) doesn't know how to deal with resource conflicts.

Imagine if we allowed you to specify to same Group twice, both with the Members property rather than MembersToInclude.
They would conflict because you were trying to specify t

[2016-11-17 22:22] kwirkykat commented on #271
Maybe this is related to #272?

[2016-11-18 06:22] PlagueHO commented on #52
Hi @mbreakey3 - No, I don't think it has. I meant to do it, and the fix itself is trivial, but I don't like to submit a fix without having tests to validate something else hasn't broken. I meant to create the tests to be safe making this change but just haven't got round to it. Sorry about that. :cry:

[2016-11-18 09:05] iainbrighton commented on #52
@mbreakey3 @PlagueHO I now (finally) have some time to work on #221 and can pick up on this at the same time?

[2016-11-18 12:12] usrme commented on #263
@kwirkykat, I updated my xPSDesiredStateConfiguration module from 3.13.0.0 to 5.0.0.0, re-deployed the module, switched the **User** resource to **xUser**, and I am *still* getting the same error with the only difference being that this time the **xUser** resource fails instead of **User**. The exact same configuration succeeded for Windows Server 2012 R2 nodes.

[2016-11-18 16:16] EpicPhil commented on #272
I may be missing something here, but isn't the whole point of having these secure defaults are so that the pull server would be harder to compromise? Instead of weakening the pull server, can the clients not be updated to use TLS 1.1? From my reading of @TravisEz13's comment, it looks like the functionality is there, it just needs to be enabled. There is also [this update](https://support.microsof

[2016-11-18 18:11] mbreakey3 commented on #52
@iainbrighton - That would be great! Thank you!
@PlagueHO - no worries at all! Just wondering if this had been addressed yet.

[2016-11-18 21:19] PlagueHO commented on #52
@iainbrighton - that would be awesome! :grin:

[2016-11-19 13:25] iainbrighton commented on #195
@Zuldan @tehsuk I'm working on this issue now and, looking through the code of the current (5.0.0.0) release, the `/quiet` parameter is automatically passed for MSI packages. You can see this here: https://github.com/PowerShell/xPSDesiredStateConfiguration/blob/dev/DSCResources/MSFT_xPackageResource/MSFT_xPackageResource.psm1#L1282.

The `/NoRestart` argument is missing and I'll add this in. This

[2016-11-19 20:34] Amedama96 opened #276 "xRegistry: Unable to create binary registry value with data '0x00'"
## Description
I want to create binary registry value with data '0x00', but xRegistry resource set none value.

## Detail
I want to create binary reg value with data zero
![zero](https://cloud.githubusercontent.com/assets/18225518/20457978/7ce8e132-aedb-11e6-9db8-c02d2fb2b8ae.png)

For that, write and exec psdsc configuration like...
[code]
Then, sadly, xRegistry resource create a reg value that h

[2016-11-22 09:17] Zuldan commented on #195
@iainbrighton thanks for the update. Every time a new version xPSDesiredStateConfiguration is released I have to change...

`$startInfo.Arguments += " /quiet"`

to...

`$startInfo.Arguments += " /quiet "`

so that xPackage doesn't get stuck. Really annoying. Probably my fault for not learning how to do a PR.

[2016-11-22 16:27] LiamFisher92 opened #279 "Add 'IncludeManagementTools' to MSFT_xWindowsFeature"
In a bid to cut down the size of configurations I think it would be a good idea to stick IncludeManagementTools into the WindowsFeature resource. What do you guys think?

[2016-11-23 07:44] PlagueHO commented on #279
@LiamFisher92 - I've got no objection to this feature and it does sound pretty useful (although best practice is to not install management tools to servers at all and of course :grin:).

The only thing that might be a challenge is that ```Test-TargetResource``` will need to identify if any "management tools" are missing from a feature or role. So it could be a good idea to look into this.

[2016-11-23 20:41] LiamFisher92 commented on #279
@PlagueHO Ask and you shall receive. 😃  Still some work to go which is why there isn't a PR yet. Let me know if you see anything wrong!
https://github.com/LiamFisher92/xPSDesiredStateConfiguration/tree/IncludeManagementToolsDev

[2016-11-24 06:31] PlagueHO commented on #279
@LiamFisher92 - awesome work! Nicely done! :grin:

I noticed you submitted a PR for this. I'll give you some initial feed back on it.

[2016-11-24 19:32] LiamFisher92 commented on #279
@PlagueHO Thanks 😁 It's a shame that IncludeManagementTools isn't included in Get-WindowsFeature. Would have made life a little easier. Trying to figure out the MSFT_ServerManagerRequestGuid stuff was a little... painful. New-CimInstance did not like the class one bit! Which is why I'm using the [CimInstance]::new ctor. I still don't quite understand what it's doing shifting the bits along by 8 (6

[2016-11-25 07:27] LiamFisher92 commented on #191
Fixed with issue #277. Please close.

[2016-11-25 12:31] HaloX69 commented on #104
I am experiencing the same issue whereby other web application pools get shut down due to the following error "The Module DLL 'C:\Windows\SysWOW64\inetsrv\IISSelfSignedCertModule.dll' could not be loaded due to a configuration problem. The current configuration only supports loading images built for a x86 processor architecture."

Strange thing is there is no loaded IIS module for that assembly.

[2016-11-29 10:33] dijitali commented on #264
I believe this functionality used to exist in a previous version of the compliance server (back when the URL was `Status` rather than `StatusReports`).

From [this blog](http://apprize.info/microsoft/powershell/9.html):

Perhaps this could be added back in?  Just in the lab I've setup with a single pull client that's been running for a week or so it takes 10 seconds to return this report.

[2016-11-29 14:58] kamranayub commented on #264
For me it's at the point where it's incredibly hard to get a response at
all, either TCP Idle timeout or keep alive times out. And I'd rather not
mess with the settings just because this endpoint is broken.

On Tue, Nov 29, 2016, 04:34 Ieuan Jenkins <notifications@github.com> wrote:

[2016-11-30 01:41] TravisEz13 commented on #272
I think we should have the option to enable TLS 1.0 at minimum and document the rest of what you have said.  As @skest3qc has mentioned, without this issue he would not have found a solution, and I opened the issues after working with another customer.

[2016-11-30 08:35] PlagueHO opened #282 "Update Test-IsNanoServer to use reliable method"
The current Test-IsNanoServer function is not using a reliable method of detection of Nano Server.

Please see [this comment](https://github.com/PowerShell/xStorage/pull/70#pullrequestreview-10661354) from @TravisEz13

This is the code we should be using:
[code]

[2016-11-30 13:39] usrme commented on #263
**Update 5:**

Switched to Chef for configuration management with DSC and the user was created successfully. Here's what I used:

[code]

[2016-11-30 13:40] LiamFisher92 commented on #276
Hey @Amedama96, well done with finding this. I don't think the issue is as simple as taking a sub string of the string value. A value with '0x' as a prefix means that the value is a Hexadecimal value (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E, F), so if the value contained any hexadecimal letters, [Int]::TryParse('F') would fail, and you would be in the same situation. The only way I know of get

[2016-11-30 14:22] LiamFisher92 commented on #276
Hey @Amedama96, well done for finding this. After a little investigation, I found the real issue is that you can't assign a RegistryKey from a hexadecimal value. [System.Int32]::TryParse requires a string representation of an integer value. "0x00" is a string representation of a hexadecimal value. Fixing the parsing to allow for hexadecimal values would fix your problem. I've commented on the PR o

[2016-11-30 14:28] LiamFisher92 commented on #232
@kwirkykat, could you close this issue pls? 😛

[2016-11-30 23:52] TravisEz13 commented on #282
FYI test-command just tests to see if the command exists and returns true if it exists and false if it does not.

[2016-12-01 17:11] Johnsonxd4 opened #284 "Desired State Configuration Pull Server with pt-BR Locales"
I was creating a DSC server in pull mode, and I got an error message that tells me that a DLL does not exist in the directory

"C:\Windows\System32\WindowsPowerShell\v1.0\modules\PSDesiredStateConfiguration\PullServer\pt\Microsoft.Powershell.DesiredStateConfiguration.Service.Resources.dll"

I realized that the directory that the module MSFT_xDSCWebService needs to search the DLL is:
"C:\Windows\Sy

[2016-12-01 20:19] TravisEz13 commented on #104
I recommend we set `AcceptSelfSignedCertificates` to $false by default or even remove the option.  I suspect you'll find that self-signed certificates work without this (at least on 5.0 and newer servers.)

[2016-12-01 23:45] zjalexander opened #285 "DSC registry resource support '/' in the registry path."
If you use a path containing a / e.g. "HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\SecurityProviders\SCHANNEL\Ciphers\RC2 40/128" then the builtin registry resource you end up with an error or the wrong registry path being created.

This config will not work. I've have to create my own module to create the folder and then us the registry resource to create the actual key.

[code]
The regis

[2016-12-01 23:56] megamorf commented on #285
Shouldn't the path be `HKLM:\SYSTEM\...` regardless of whether the forward slash isn't handled correctly?

[2016-12-02 18:51] #52 closed

[2016-12-02 18:51] #195 closed

[2016-12-02 18:51] #221 closed

[2016-12-02 18:51] #224 closed

[2016-12-03 04:22] chmadole commented on #285
I was able to repro this using the `Registry` resource, however it looks like the team has already fixed this in the `xRegistry` resource (note the leading x).  I tested the exact code, swapping `Registry` for `xRegistry` and the keys created just fine. I used xPSDesiredStateConfiguration resource 5.0.0.0.

[2016-12-03 19:29] cyruszhang opened #287 "xGroup fails with error Server names cannot contain a space character”"
similar issue here:
https://github.com/PowerShell/xPSDesiredStateConfiguration/issues/180

[2016-12-03 21:02] cyruszhang opened #288 "xGroup fails with error "Server names cannot contain a space character”"
similar issue here:
https://github.com/PowerShell/xPSDesiredStateConfiguration/issues/180

My config for xGroup:
    [String[]]
    $Members = @('sfcmetrics\dmmadev','redmond\cyrusz', 'redmond\xiaohua')
    xGroup  LocalAdmins
        {
            GroupName = 'Administrators'
            Ensure = 'Present'
            Members = $Members
            Credential = $DomainCreds
            PsDscRunAs

[2016-12-04 01:12] cyruszhang commented on #288
local administrators:

PS E:\>  net localgroup administrators
Alias name     administrators
Comment        Administrators have complete and unrestricted access to the computer/domain

Members

-------------------------------------------------------------------------------
**dmmadev
NT SERVICE\SQLIaaSExtension
REDMOND\Domain Admins**
The command completed successfully.

[2016-12-06 22:54] #232 closed

[2016-12-07 04:04] subbunori opened #291 "xService skips Set when trying to change just the password"
I am new to open source, please let me know if this is not the right place to post this question/request.

I have a script for a VM using DSC, I used xService to set up my windows services.
So when I try to run it again to change just the password, the resource skips set.
I think the below logic is doing that, as it only checks for user name change.

So here are my questions
Can we not query for p

[2016-12-08 19:37] #255 closed

[2016-12-08 20:48] TheRealBenForce opened #292 "Unauthorized when registering pull client (401 in IIS)."
My pull server seems like it ready to receive pull requests, I can view xml when I hit my landing URL. I followed [this tutorial ](https://msdn.microsoft.com/en-us/powershell/dsc/pullserver)but did have to stray from it at some times. For instance my web.config was expecting ESENT dbprovider, but Oledb was actually being produced so I had to make updates to the web.config. Also "UseSecurityBestPra

[2016-12-14 10:37] gigi81 commented on #119
I guess it's more 6/7 months! But hopefully it's almost here.
https://blogs.msdn.microsoft.com/powershell/2016/12/06/wmf-5-1-releasing-january-2017/

Did anyone tried the WMF 5.1 preview?

[2016-12-14 10:43] Zuldan commented on #119
I'm pleased to say reporting using ConfigurationID in 5.1 is working perfectly. January can't come soon enough ;-)

[2016-12-14 14:00] TheRealBenForce commented on #292
Issue was resolved after upgrading to version 5.

[2016-12-14 14:00] #292 closed

[2016-12-15 07:24] skest3qc commented on #113
I am having a similar issue. Pullserver is Server 2016 14393.477
I have registered around 80 nodes. I see that after a month of using the server the Devices.edb database is around 1.8GB and also that it takes ages to get a node report for a configuration id.

Code:
    $requestUri = "$serviceURL/Node(ConfigurationId='$ConfigurationId')/StatusReports"

    $request = Invoke-WebRequest -Uri $request

[2016-12-15 08:58] skest3qc opened #296 "DSC Esent Database Devices.edb growing and reporting slow"
Hi,

I am having the following issue.
Pullserver is Server 2016 14393.477
I have registered around 80 nodes. I see that after a month of using the server the Devices.edb database is around 1.8GB and also that it takes ages to get a node report for a configuration id.

Code for getting status report (from MSDN):
$serviceURL ="PullServerURL"
$requestUri = "$serviceURL/Node(ConfigurationId='$Configur

[2016-12-18 04:58] Amedama96 commented on #276
This issue fixed and merged #299 by @kwirkykat

[2016-12-18 04:58] #276 closed

[2016-12-19 13:37] usrme commented on #296
As much as I've used DSC, it does no clean up to the *Devices.edb* file and just keeps growing with every check the LCM does against the pull server. I found no way to delete any rows from the various tables inside *Devices.edb* either.

@jordan-rogers-ge mentioned this as well in issue #201, so you could say it is somewhat known, but more attention is definitely needed. To my knowledge, there is

[2016-12-21 06:54] maxxwizard commented on #165
The progress bar is really broken: the "Number of bytes written" value keeps increasing forever.

I upvoted 2 issues that seem similar to this issue's behavior:
- https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/11087604-add-top-level-progress-information-to-invoke-comma
- https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/11088438-expand-windowsimage-

[2016-12-25 09:29] marcinbojko opened #301 "xRegistry - writing binary data with '00' seems to have strange effects"
When we try to write data using xRegistry like in example:

[code]

Setting registry values has different effect if we are going to use '00' or not.
Let's say we want to set value to: 'aabbccdd'

We'll have:

Let's change our value to: '00bbccdd'

First '00' get's trimmed to ''.
Single '0' instead of '00' ?
Same effect.
What about line of zeroes like: '00000000'?

Value: 'aabbcc00dd000000' - seems

[2016-12-27 11:56] marcinbojko opened #302 "xGroup - problem with 'TEST' and local groups"
Simple config - create new group and add local Administrators:

[code]
Group is created on first run, local Administrators ARE in in.
On second run we fail 'test stage'.
Whole script:

[code]

_>

Test succeeds, but we get an error and "indesiretstate" returns null.

**How to reproduce: add local group and add there local administrators.**

Tested with: computer in AD, computer without AD.
OS: Win

[2016-12-27 19:13] Amedama96 commented on #301
Hi @marcinbojko
I tested all patterns you mentioned.
However, the issue did not reproduce.

please try the following
- If you are using older version of xRegistry, update to 5.1.0.0 or later.
- If you are using PS with another CM tools like Puppet, Try to use pure Powershell only.

This is the PS script I used  for testing
[code]

[2016-12-27 19:37] marcinbojko commented on #301
Hi @Amedama96
I have to use version included in https://github.com/puppetlabs/puppetlabs-dsc, so - can we wait a little longer for their new release? If the issue will not be reproductible in 5.1.0.0 (with mentioned module) - case closed.

[2016-12-28 04:47] Amedama96 commented on #301
I think the issue related in #276 and already fixed in #299

[2016-12-28 07:49] marcinbojko commented on #301
I think you're right. Should we proceed with closing this one, as it is already fixed? Using v.5.0 is just an artefact from puppetlabs-dsc.

[2016-12-29 12:12] Yvand opened #303 "xPackage unable to test if a .msp is already installed"
## Issue description
Hello, I try to use xPackage to install a SharePoint update https://www.microsoft.com/en-us/download/details.aspx?id=54468
Basically this is a .exe that contains a .msp file.
I can install it successfully, but if I run the configuration again, DSC fails with this error:

My config:
[code]

## Troublesooting
I made some troubleshooting and I think this is expected:
When the upd

[2017-01-04 14:26] TheRealBenForce commented on #292
I'm quite certain I was actually experiencing what is described in [Issue 199](https://github.com/PowerShell/xPSDesiredStateConfiguration/issues/199). Upgrading to version 5 didn't actually fix the issue since I began building off the supplied templates. When I later changed my registraion file name to "RegistrationKey.txt" (as opposed to RegistrationKeys.txt since I only have one key), I again ex

[2017-01-04 19:24] J0F3 commented on #296
I have exactly the same issue. Except that I have registered about 150 nodes and the database with its logfiles is now around 46GB big!
This an unacceptable situation and makes the DSC Pullserver or more specific the reporting functionality of the DSC Pullserver absolutely useless for a production environment in real world. 👎 :(

Is there really no solution for cleaning up the tables?
I am also se

[2017-01-09 07:49] J0F3 commented on #296
Hi,

Thanks for your input. I have also implemented the workaround with the scheduled task for now.
After investigating further in this issue, I found different reasons for the unexpected behavior of the Pullserver:

1. The "Microsoft.Powershell.DesiredStateConfiguration.Service.dll" is mounting the EDB File without the CircularLog parameter. Which I think is a bug. That's one reason for the huge