[2019-03-01 16:48] mhendric commented on #575
Hmmmm… perhaps the original method of creating the file ($fileInfo = [System.IO.FileInfo]::new($FullName)) would automatically override the file if it already existed? If that's the case, maybe we just need a -Force switch or something in the new method. Tagging @raandree for comment too since he worked on that commit.

[2019-03-01 16:49] mhendric commented on #575
Also, sounds like we need better Unit or Integration tests in this area.

[2019-03-02 16:25] tmeckel commented on #536
@mhendric after that we finally merged PR #507 I would start working on this here. I would follow @pkoelemij proposal to add an configuration option `[write] boolean ConfigureFirewall` that has a default value of `true` which ensures that the firewall exceptions are configured as if thery're configured today. So no breaking change for currently deployed Pull Server configurations.

With a value of

[2019-03-02 16:27] tmeckel commented on #528
@PlagueHO , @mhendric can one of you guys close this issue because it has been fixed with PR #507

[2019-03-02 16:31] tmeckel commented on #511
@mhendric how do we proceed here? From my point of view we can't leave the code as is because this would create errors on Windows 2012 servers as you already noticed. On the other hand, how likely is it that people deploy a Pull Server on such an old infrastructure? But this is the same discussion we already had about supporting PowerShell 4.

[2019-03-02 16:35] tmeckel commented on #389
This issue will be "fixed" when issue #463 has been addressed by a PR.

[2019-03-02 19:31] #528 closed

[2019-03-02 19:31] PlagueHO commented on #528
Done!

[2019-03-02 21:35] tmeckel commented on #528
Thanks! :-D

[2019-03-03 00:53] mhendric commented on #536
Hey @tmeckel . Sounds good to me. We may also want to add a Write-Warning statement that is triggered when ConfigureFirewall is set to True, which states that the Firewall Configuration functionality has been deprecated and will be removed in the future; consider using the xFirewall (
?) resource. Additionally, we'd probably want to add a new example that shows how you could set this parameter to

[2019-03-03 01:04] mhendric commented on #511
Hey @tmeckel . So... I'm still wondering why this module was made to be a requirement at some point. At one point in the xPSDesiredStateConfiguration lifetime, it was definitely possible to deploy a pull server on Windows 2012 R2 and PS4, which implies IISSelfSignedCertModule wasn't always a requirement. Maybe we can find which PR introduced this and then look at the comments. Perhaps it isn't rea

[2019-03-03 08:33] johlju commented on #536
Agree with both @tmeckel and @mhendric last comments.

[2019-03-03 08:58] tmeckel commented on #536
Okay, then let's go that way. Quick summary for me:

1. Introduce a new Configuration option `[write] boolean ConfigureFirewall` with a default value of true
2. Adding a warning statement that issues a messages that configuring the firewall with the xDSCWebservice is deprecated.
3. Adding a new sample that shows how to configure a firewall exception using the `Firewall` resource from the `Networki

[2019-03-03 09:04] tmeckel commented on #536
Quick question about work organization: Wouldn't it make sense if we would work with assignments? Or doesn't that make sense for community projects?

[2019-03-03 09:26] tmeckel commented on #511
@mhendric  the situation around the Pull Server is unsatisfying in many ways. First we have this issue here where we don't know what's supported on what platform and why code has been introduced. Secondly the PowerShell team decided to stop adding new features to the local Pull Server implementation in favor for Azure Automation DSC. The decision perfectly fits into the strategy of Microsoft and i

[2019-03-03 10:21] tmeckel commented on #389
There is an issue with the created firewall exceptions which do not support multiple port i.e. servers. Thus prevents the deployment of multiple Pull Servers on the same machine.

https://github.com/PowerShell/xPSDesiredStateConfiguration/blob/f4b714e110d2dd131d7dfd949d91d9a1e402b481/DSCResources/MSFT_xDSCWebService/PSWSIISEndpoint.psm1#L464

When issue #536 is solved the creation of firewall exce

[2019-03-03 10:33] johlju commented on #536
@tmeckel If you mean "Assignees" on PR and issues,  it's not possible to assign contributors to issues or PR's, unless the are the author of the issue or PR. At least yet, I sent in a request to GitHub for anyone to be able to be assigned to an issue and PR, but that could take time, if it would ever happen. 😄
What we can do for now is to label it as "in progress" so that other contributors know s

[2019-03-03 10:36] johlju commented on #536
Thinking about it, adding a warning statement (list item 2) might be unnecessary. The point would be to remove the functionality, including the property `ConfigureFirewall` in the future. But that would be a breaking change for anyone using `ConfigureFirewall` set to `$false`.
So I think we could just skip list item 2. What do you think @mhendric?

[2019-03-03 12:39] tmeckel commented on #536
@johlju Thanks for the explanation! @mhendric can you assign the `In progress` label to this issue?

[2019-03-03 12:45] tmeckel commented on #536
Just to inform you guys: I discovered that the implementation of the Firewall exception inside `xDSCWebservice` is a mixture of code using the [NetSecurity PowerShell Module](https://docs.microsoft.com/en-us/powershell/module/netsecurity/) and `netsh` and on top of it it's not modularized into a separate code file or to distinct helper functions.

I'll have to clean this up at first to have a robu

[2019-03-03 12:52] tmeckel commented on #536
@johlju  I would prefer to leave the configuration option as is but later change the default value to `$false` at the next stage of obsolesce. In the end we remove the implementation of the firewall code and issue an error when someone is using $true for `ConfigureFirewall`. This would only be a breaking change for people explicitly used this feature. All other people won't be effected, well okay

[2019-03-03 15:04] johlju commented on #536
Sounds reasonably. Let us go with that. 🙂

[2019-03-03 17:57] mhendric commented on #536
Agree with @tmeckel . If we set the default value to True right now, we're not actually making a breaking change at the moment; the Warning just sets the stage for a future breaking change. However if we set it to False now, that would definitely be a breaking change.

[2019-03-03 18:06] mhendric commented on #511
Interesting observations @tmeckel . I don't think this technology is dead, but it definitely appears to be deprecated. That's stated in the very first paragraph of the document we linked. Which does beg the question, how much effort do we want to spend on something Microsoft plans to cut support for? Perhaps this is another community call discussion. Tagging @PlagueHO and @johlju for thoughts in t

[2019-03-03 18:07] mhendric commented on #389
@tmeckel are you saying this was never an issue, or that it's been resolved since the original post?

[2019-03-03 18:28] tmeckel commented on #511
@mhendric you misunderstood in some way. When I said we must outweigh the efforts we put "...  in this DSC Resource ..." I only meant xDSCWebService not the complete DSC module. The DSC module as a whole will and definitely can provide much help for people using DSC! To make it clear: I doubt we should put much effort in the Pull Server thing here on the long run because Microsoft abandoned suppor

[2019-03-03 18:33] tmeckel commented on #389
@mhendric My statement referred to my original post where I felt that the current implementation of the firewall rules would have a problem with multiple pull server instances. But this is not the case. That's why I left my original statement in there for a complete reference but used strikethrough characters.

[2019-03-03 18:37] schwaizi commented on #389
@tmeckel @mhendric I don’t think this original post have anything to do with firewall (it’s disabled in my case). It’s just about some conflicts in the pool. Being able to specify appPool will fix that (issue #463)

[2019-03-03 18:38] tmeckel commented on #536
@mhendric thanks for adding the 'in progress' label. I implemented the first version but now many unit tests are broken because, as I mentioned, I modularized the Firewall code and added a strict validation on the `-Port` parameter. The `xDSCWebService` resource is a real beast :-D

[2019-03-03 18:38] mhendric commented on #389
Ok. I was trying to figure out if it was being suggested to close the Issue as a whole. Sounds like that's not the case.

[2019-03-03 18:40] mhendric commented on #536
It sure is a beast :) . Kind of a related topic, does anyone know of a free way to generate a UML diagram or something based on existing PowerShell code? It would help my understanding of the resource to be able to visualize all the call flows and dependencies. Might help us see the big picture and optimize too.

[2019-03-03 18:42] schwaizi commented on #389
Since #463 may be the solution i’m fine to close it.

[2019-03-03 18:45] mhendric commented on #389
If it is still an Issue, we should leave it open until #463 actually is checked in and solves it. I'll add a link in #463 back to this one so it happens automatically.

[2019-03-03 18:46] tmeckel commented on #565
@mhendric are those issues are completely fixed now and can the issue been closed?

[2019-03-03 18:47] mhendric commented on #565
@tmeckel , good catch. This one can be closed. Thanks!

[2019-03-03 18:47] #565 closed

[2019-03-03 18:55] johlju commented on #536
Only I know of is https://github.com/Stephanevg/PSClassUtils, But not sure it works for anything other than classes? Not used it at all though, so not sure.

[2019-03-03 19:00] tmeckel commented on #536
@mhendric I created three high level pseudo code markdown documents of the flow structure of the three *-TargetResource functions of `xDSCWebService` to understand what's really going on there and to verify or fix the existing unit tests. I could add them to a branch in my fork if you're interested.

[2019-03-03 19:03] mhendric commented on #536
@tmeckel I wouldn't mind checking that out. Thanks.

[2019-03-03 19:09] tmeckel commented on #389
@mhendric as I already [said to](https://github.com/PowerShell/xPSDesiredStateConfiguration/issues/463#issuecomment-457827458) @PlagueHO  in #463 I can provide a PR for specifying an "externally created" AppPool typically with the [`xWebAppPool`](https://github.com/PowerShell/xWebAdministration#xwebapppool) DSC resource of `xWebAdministration` I already implemented this at a customer site. I've to

[2019-03-03 19:12] mhendric commented on #389
Works for me. Closing as a duplicate of #463. Thanks!

[2019-03-03 19:12] #389 closed

[2019-03-03 19:42] tmeckel commented on #536
@mhendric [there you go](https://github.com/tmeckel/xPSDesiredStateConfiguration/tree/xdscwebservice-flow/Docs) but beware the documents are far from consistent in the notation *LOL* but I think you might grasp the idea quickly. Unfortunately there's currently (as far I know!) no standard notation for this.

[2019-03-04 14:36] tmeckel commented on #463
@mhendric @PlagueHO can someone set the `in progress` label for this issue here? I just imported the code changes into my fork (https://github.com/tmeckel/xPSDesiredStateConfiguration/tree/issue-463). I'll do some integration tests before I'll create a PR though. Secondly ... how can we prevent the bot from marking the issue as stale from now on?

[2019-03-04 14:54] mhendric commented on #463
Done. And I agree on the stale bot; it's a bit aggressive. I'm not sure how to update it though. @PlagueHO  or @johlju ?

[2019-03-04 14:56] johlju commented on #463
See the stale.yml in the .github folder.

[2019-03-04 14:59] johlju commented on #463
Btw. If the label is enhancement, bug, etc. (see stale.yml) it won’t be labeled stale.
It is important to label the issues as soon as the issue been determined that it should be worked on.

[2019-03-04 17:52] mhendric commented on #511
Hey @tmeckel , no problem. A related comment on this is that we should probably test with xDSCWebService works on Windows Server 2019. If it does, then DSC Pull Server is probably not going away anytime soon. We should probably also start testing the Module as a whole on 2019 to see what works and what doesn't.

[2019-03-05 21:15] mhendric opened #577 "Module Support for Windows Server 2019"
Until AppVeyor supports it, it may be a good idea for one or more people to run the Pester tests for this module on Windows Server 2019 and document what works and what doesn't. If and when we can confirm that the module supports 2019, we can update the README to state as much.

[2019-03-06 01:02] mhendric opened #579 "Tests\Unit\MSFT_xPackageResource.Tests.ps1: Many tests are actually Integration tests"
It seems that many of the tests in Tests\Unit\MSFT_xPackageResource.Tests.ps1 are actually Integration tests. They go through full package installations using Set-TargetResource and don't Mock any of the functions that Set-TargetResource calls. I think these should probably be moved to the Integration tests file instead. That allows us to (try to) keep the Unit tests non-destructive. I wanted to s

[2019-03-06 01:07] mhendric opened #580 "Tests\Unit\MSFT_xPackageResource.Tests.ps1: Test Executable Fails When Run from Path Containing Spaces"
#### Details of the scenario you tried and the problem that is occurring
Multiple tests in Tests\Unit\MSFT_xPackageResource.Tests.ps1 require Interactivity. Specifically, the Windows Installer help GUI is getting invoked, and you can't move forward until you hit OK. If this problem is in fact isolated to Windows Server 2019, it's possible that the Windows Installer options have changed. My Windows

[2019-03-06 01:48] mhendric commented on #577
Unit Tests are looking pretty good generally. Only failure, probably related to #580.

[code]

[2019-03-06 02:09] mhendric commented on #577
Integration tests aren't looking so good. I'll parse out the results later and open Issues, but here's the summary:

Tests completed in 898.71s
Tests Passed: 794, Failed: 40, Skipped: 2, Pending: 0, Inconclusive: 0

System Info:
[code]

[2019-03-06 14:51] SteveKeller commented on #512
I have nothing seen in the IIS Logs and still can not solve the forbidden error.
This is a valuable tip with the outdated module, thanks!

I will try to update the module, but it takes some time :)

Thanks a lot for your input!

[2019-03-06 14:51] #512 closed

[2019-03-06 23:05] mhendric opened #581 "Tests\Integration\MSFT_xDSCWebService.Integration.tests.ps1: Tests don't work without pre-existing DSC Certificate"
#### Details of the scenario you tried and the problem that is occurring
The tests in 'Tests\Integration\MSFT_xDSCWebService.Integration.tests.ps1' currently require that a DSC certificate already exist on the server, and that it's path and thumbprint are stored in '$env:DscPublicCertificatePath' and '$env:DscCertificateThumbprint'. This is likely only the case when running via AppVeyor. This test

[2019-03-06 23:07] mhendric opened #582 "Tests\Integration\MSFT_xScriptResource.Integration.Tests.ps1: Doesn't Work Outside of AppVeyor"
#### Details of the scenario you tried and the problem that is occurring
Tests in 'Tests\Integration\MSFT_xScriptResource.Integration.Tests.ps1' currently fail when run from outside of AppVeyor. These tests should be adjusted to run on any supported system.

#### Verbose logs showing the problem
[code]

#### The operating system the target node is running
PS C:\>     Get-ComputerInfo -Property @(

[2019-03-06 23:08] mhendric opened #583 "Tests\Integration\MSFT_xServiceResource.Integration.Tests.ps1: Doesn't Work Outside of AppVeyor"
#### Details of the scenario you tried and the problem that is occurring
Tests in 'Tests\Integration\MSFT_xServiceResource.Integration.Tests.ps1' currently fail when run from outside of AppVeyor. These tests should be adjusted to run on any supported system.

#### Verbose logs showing the problem
[code]

#### The operating system the target node is running
PS C:\>     Get-ComputerInfo -Property @(

[2019-03-06 23:11] mhendric opened #584 "Tests\Integration\MSFT_xWindowsProcess.Integration.Tests.ps1: Doesn't Work Outside of AppVeyor"
#### Details of the scenario you tried and the problem that is occurring
Tests in 'MSFT_xWindowsProcess.Integration.Tests.ps1' currently fail when run from outside of AppVeyor. These tests should be adjusted to run on any supported system.

#### Verbose logs showing the problem
Note that the very last error in this output is the AppVeyor specific error. I'm not yet sure whether the other errors ar

[2019-03-06 23:13] mhendric opened #585 "Tests\Integration\xServiceSet.Integration.Tests.ps1: Doesn't Work Outside of AppVeyor"
#### Details of the scenario you tried and the problem that is occurring
Tests in 'xServiceSet.Integration.Tests.ps1' currently fail when run from outside of AppVeyor. These tests should be adjusted to run on any supported system.

#### Verbose logs showing the problem
[code]

#### The operating system the target node is running
PS C:\>     Get-ComputerInfo -Property @(
        'OsName',
        '

[2019-03-06 23:24] mhendric opened #586 "Tests\Integration\xWindowsOptionalFeatureSet.Integration.Tests.ps1: Broken on Windows Server 2019"
#### Details of the scenario you tried and the problem that is occurring
Tests in 'Tests\Integration\xWindowsOptionalFeatureSet.Integration.Tests.ps1' appear to be broken (at least) on Windows Server 2019. The problem occurs when the tests try to disable a feature. On my test machine, there is a third Disabled state, DisabledWithPayloadRemoved, which these tests are not looking for.

#### Verbose

[2019-03-06 23:43] mhendric commented on #582
I'm willing to work on this one (and the other AppVeyor related issues I opened), but would like to discuss what the best approach to this is. It seems that multiple Tests rely on using admin credentials and knowing the password. Part of this assumes that the tests are running on AppVeyor, which implies a known administrator account name. So the tests go in and randomly change the password on this

[2019-03-06 23:46] mhendric commented on #569
@mgreenegit  , do you know who has access to the AppVeyor project and can make this change? I'd like to make this if no one in the community has objections. Tagging @PlagueHO and @johlju for comment too.

[2019-03-06 23:48] mhendric commented on #586
I got this.

[2019-03-06 23:58] mhendric commented on #580
I got this.

[2019-03-07 00:37] mhendric commented on #580
It looks like this one is not a Windows 2019 specific problem. I was able to reproduce on Windows 2016. It looks like the problem is instead with the test executable, and if it's run from a folder path that contains spaces. I suspect helper function New-TestExecutable is where the problem resides.

[2019-03-07 06:05] johlju commented on #569
It is @keirkykat that has enough power in AppVeyor to make that change.

It sounds like this “rolling builds” should be the default for all repos in DSC Resource Kit to lessen the load on the PowerShell AppVeyor account.

More info about rolling builds https://www.appveyor.com/docs/build-configuration/#rolling-builds.

[2019-03-07 06:07] johlju commented on #569
@gaelcolas maybe you can look into this when you get permission in DSC Resource Kit?

[2019-03-07 06:11] gaelcolas commented on #569
On my radar. It should happen soon, I'm told.

[2019-03-07 15:28] johlju commented on #582
In the integration test template it was added the possibility of using a JSON file for real scenario testing. It would be great if there were a way to pass in the correct admin and password and the configuration creates the account. Not sure how to pass in an already existing account to use in the real scenario testing (outside of  AppVeyor)

[2019-03-07 15:45] mhendric commented on #569
I agree. Or at least on the repo's I help maintain :) . @gaelcolas , can you do this for xExchange and xBitlocker too? I can open Issues in those repos if it will help too. Just let me know.

[2019-03-07 15:58] mhendric opened #589 "Help! Code Reviewers Wanted!"
Sending a request out to the community for help with performing code reviews on Pull Requests in this repository. Code reviewers of all skill sets are welcome. Review what you can, and if you think a second set of eyes is warranted via an additional review, just say so.

Here's some general guidelines and suggestions:

- Be familiar with the [DSC Resource Style Guidelines & Best Practices](https:/

[2019-03-07 15:59] mgreenegit commented on #569
I see no reason not to do this.  @mhendric, enabling for all three of the projects you maintain.  @gaelcolas and @kwirkykat, fyi
![image](https://user-images.githubusercontent.com/5178939/53970092-9983e580-40bf-11e9-8c67-cb5bbf924038.png)

[2019-03-07 16:07] mhendric commented on #569
Sweet. Thanks @mgreenegit !

[2019-03-07 20:57] mhendric opened #590 "Git Pull of DSCResource.Tests is Called 36 Times During a Full Test Job"
#### Details of the scenario you tried and the problem that is occurring
A refresh of the DSCResource.Tests module is currently performed 36 times if you execute all Unit and Integration tests. This makes it far more likely to encounter #505 . This should be fixed to only update DSCResource.Tests a maximum of one time per job.

#### Verbose logs showing the problem
All scripts calling this functio

[2019-03-08 06:51] #580 closed

[2019-03-08 15:56] mhendric opened #592 "CHANGELOG.MD: Move update responsibility to repo maintainers?"
I'm sure this has been discussed elsewhere previously, but I wanted to see what people think about changing the repo responsibilities so that the repo maintainers have to update the CHANGELOG.MD, not the people submitting Pull Requests. We often get in a situation where a handful of PR's have been approved via code review, but only one can be merged at a time since the changes from one merge cause

[2019-03-08 15:58] mhendric commented on #592
Tagging @PlagueHO as the co-maintainer of this module. And also @johlju since he maintains a number of modules himself.

[2019-03-08 20:15] #573 closed

[2019-03-08 23:04] PlagueHO commented on #592
I missed this one and actually commented on this elsewhere.

If you add the each change just under the # Unreleased header then this issue dosesn't occur as often because git can usually fast-foward changes like that.

This actually makes more sense from a chronological perspective (but not at first) - because you'd expect older changes to be closer to the bottom of the file while the most recent

[2019-03-08 23:07] mhendric commented on #592
Ok. Maybe we should update the Pull Request template then to say that the changelog entry must go directly underneath the Unreleased section?

[2019-03-08 23:11] PlagueHO commented on #579
Agreed! Good catch.

[2019-03-08 23:36] PlagueHO commented on #592
We'd probably also need to update the contribution document as well. Might be worth raising this issue over in DSCResources repo instead?

[2019-03-08 23:36] #505 closed

[2019-03-08 23:36] #590 closed

[2019-03-09 00:31] mhendric commented on #592
Sounds good. Also, just for my understanding, are you saying putting entries directly under "Unreleased" would eliminate the need for a rebase, or would eliminate merge conflicts when doing a rebase? My intention here is to eliminate the need for a rebase, not just to make rebasing easier.

[2019-03-09 00:50] PlagueHO commented on #592
It should eliminate the need for the rebase I think because Git will be able to automatically update without a merge conflict. I could be wrong though.

[2019-03-09 01:02] mhendric commented on #592
Right, but it still causes the Pull Request to have to go through Continuous Integration again, which adds another hour before it can be merged. And that's if there aren't other Pull Requests in a similar state, in which case you'll wait a minimum of an hour for each PR. I would like to eliminate this 'Pull Request Queuing' where we keep having to do new commits, and as a result, new tests, just t

[2019-03-09 01:06] PlagueHO commented on #592
You do have to hit the update button. But I think the reality is that we're always going to need a process to do that. Fundamentally the CI must run against the "merged" branch prior to performing the merge. Otherwise we'd likely end up with broken builds in Dev more often.

Perhaps there is an option in AppVeyor to terminate CI runs when a newer commit is present? This is an option in Azure DevOp

[2019-03-09 01:12] mhendric commented on #592
Yeah again, the problem I have isn't really with needing to hit an update button. It's just that we're forcing additional hours upon PR's that are otherwise ready to merge, just because of changed code in a file those PR's weren't even necessarily trying to fix in the first place. I think it would be better if the Pull Requester only ever had to do rebases on files they were specifically updating,

[2019-03-09 01:13] #569 closed

[2019-03-09 01:23] PlagueHO commented on #592
I think I'd rather avoid having to keep the CHANGELOG up-to-date myself for every change as we'd still need to track change in DEV somehow - someplace. I'd love consistency with the CHANGELOG.MD but from what I've seen there isn't any consistency across repos anyway - even with the instructions we provide.

I'd also worry that if a maintainer wasn't around to update the CHANGELOG.MD prior to month

[2019-03-09 01:37] #586 closed

[2019-03-09 01:38] mhendric commented on #592
Not sure if it's possible, but what about if we could configure Appveyor.yml to perform this sort of logic:

-If the immediately prior commit for this PR has run and passed all required tests
-And if the current commit is only modifying a .MD file
-Then only run Meta tests

Would you be open to that? That would speed up the process as well.

[2019-03-09 12:52] johlju commented on #592
I rather not update the change log monthly, that would just be to much work. If we do something like this, we should update release notes and use the GitHub releases instead somehow (automatic). Not possible I think.
I don't see this as a big problem. 🙂 I usually wait until next day and merge next PR if i could resolve the conflicts for the contributor (and let the tests run).

 You can add a 'ski

[2019-03-11 16:12] mhendric commented on #592
Sounds like I'm the only one that thinks this is a good idea, so I'll go ahead and close out for now.

[2019-03-11 16:12] #592 closed

[2019-03-11 20:48] mhendric opened #595 "MSFT_xMsiPackage.Integration.Tests.ps1: Doesn't Work When Executed by Itself in a Fresh Session"
#### Details of the scenario you tried and the problem that is occurring
Tests in 'MSFT_xMsiPackage.Integration.Tests.ps1' currently fail to run if the PowerShell session is fresh and nothing has run before it that imports the MSFT_xMsiPackage module.

#### Verbose logs showing the problem
[code]

#### Suggested solution to the issue
TBD, but possibly move Enter-DscResourceTestEnvironment into the

[2019-03-22 18:24] mhendric opened #597 "xMsiPackage and xPackage: Why two resources?"
Can anyone help educate me on why we have two similar resources, xMsiPackage and xPackage? Does is still make sense to have two resources going forward? Is it plausible that we could merge these into a single resource?

[2019-03-22 23:58] mhendric commented on #546
@PlagueHO , I'm working on a PR for the last two script analyzer categories. Once these are all fixed, I'm wondering if we should make some of these mandatory so that they're flagged in the future. Rules like PSAvoidTrailingWhitespace for instance. What do you think, and if you agree, what's the best way to handle this? Just add them to the appveyor.yml?

[2019-03-23 01:49] PlagueHO commented on #546
@mhendric - I'm in support of adding these. We'd want to do it in the AppVeyor.psm1 though as a new optin (not the .yml). That way other repos could opt in as well (I'd like to :grin:)

[2019-03-23 15:39] #582 closed

[2019-03-23 15:39] #583 closed

[2019-03-23 15:39] #584 closed

[2019-03-23 15:39] #585 closed

[2019-03-23 17:00] mhendric commented on #128
This was resolved a while back. Closing.

[2019-03-23 17:00] #128 closed

[2019-03-23 17:05] mhendric commented on #597
@PlagueHO or @johlju , do either of you know the history on this?

[2019-03-23 19:01] johlju commented on #597
Not sure. Is there any notes in the comment based help? Or an old issue that can explain it? Maybe it is as simple that the MSI one supports (or should) the properties of the MSI installer? While the package one supports .exe parameters?

[2019-03-23 19:22] mhendric commented on #597
At least from the README.MD, it sounds like xPackage has a superset of functionality over xMsiPackage, as xMsiPackage just does .msi's, but xPackage does .msi's and .exe's.

- xMsiPackage provides a mechanism to install and uninstall .msi packages.
- xPackage manages the installation of .msi and .exe packages.

A quick code compare shows that there's a lot of overlapping code between these two res

[2019-03-23 19:25] PlagueHO commented on #597
I'm with @johlju - I'm not 100% sure of the history or reasoning behind this. It seems like you've done a good break down there. It would be good to unify the code bases and make xMsiPackage simply an abstraction later over top of xPackage if possible.

I don't think getting rid of xMsiPackage would be necessary: Just abstract all the code for xPackage into a Module that can be called by both xPac

[2019-03-23 19:29] mhendric commented on #597
Also, it looks like xMsiPackage code is very similar to MSFT_MsiPackage from PSDscResources (they were probably near identical before we started code cleanup in xPSDesiredStateConfiguration recently). Perhaps xMsiPackage is only around to maintain parity with PSDscResources, and xPackage is the experimental resource. If that's the case, I think that would be another reason to get rid of xMsiPackag

[2019-03-23 19:31] mhendric commented on #597
Regarding abstracting these but keeping both around, I think they're different enough at this point, where code exists in one but not the other, that it may be pretty time consuming. Not saying we should do it, but I'm not sure if it's worth the effort when MSFT_MsiPackage and xMsiPackage are currently mostly in alignment.

[2019-03-23 19:40] johlju commented on #597
I think we could move out the msi part from xPackage?  Raking change as well. But I would think they would need different parameters and it would be more intuitive that the xMsiPackage was closer to the msiexec parameter list?

xPackage could manage everything else but .msi?

[2019-03-24 16:01] mhendric opened #600 "PullServerSetupTests.ps1: Not Executed on AppVeyor"
#### Details of the scenario you tried and the problem that is occurring
From what I can tell, tests in PullServerSetupTests.ps1 are not being executed when run on AppVeyor. Further, when I run this outside of AppVeyor, it fails almost immediately due to files being missing.

#### Verbose logs showing the problem
[code]

#### The operating system the target node is running
OsName               : M

[2019-03-24 22:38] mhendric commented on #537
Closing as duplicate of #559

[2019-03-24 22:38] #537 closed

[2019-03-24 22:39] mhendric commented on #549
Closing this issue as no repro. It only happened to me this one time, and I have not seen in it again.

[2019-03-24 22:39] #549 closed

[2019-03-25 13:57] #546 closed

[2019-03-25 14:46] #581 closed

[2019-03-25 16:44] #514 closed

[2019-03-25 17:54] #530 closed

[2019-03-25 20:56] mhendric opened #605 "MSFT_xWindowsProcess.Integration.Tests.ps1: Doesn't work when module path contains spaces"
#### Details of the scenario you tried and the problem that is occurring
Tests in MSFT_xWindowsProcess.Integration.Tests.ps1 currently fail when run from a module path that contains spaces.

#### Verbose logs showing the problem
[code]

#### Suggested solution to the issue
TBD

#### The operating system the target node is running
OsName               : Microsoft Windows Server 2019 Standard
OsOper

[2019-03-28 15:33] cnilak commented on #437
@johlju  is there a DSC resource for Power BI reporting server? thanks!

[2019-03-28 16:16] johlju commented on #437
No, not yet, see issue https://github.com/PowerShell/SqlServerDsc/issues/1309.

[2019-03-28 23:17] rcarpenter79 opened #606 "MSFT_xDSCWebService: Issue with matching certificate when it contains Certificate Template Information"
#### Details of the scenario you tried and the problem that is occurring
When a certificate for the xDSCWebService contains a Certificate Template Information OID it may fail to match the supplied certificate template name when the resource is configured to use a CertificateSubject and Certificate Template Name.

It fails because the formatted template name contains the Template Description Name a

[2019-03-29 18:11] laughtonsm opened #608 "Issue Importing xPSDesiredStateConfiguration - The given assembly name or codebase was invalid"
#### Details of the scenario you tried and the problem that is occurring

Attempting to simply import and use the xPSDesiredStateConfiguration Module.  High-level error generated when compiling a mof (including an xRemoteFile Resource) is:

`The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop: The given assembly name or codebase wa

[2019-03-30 16:46] mhendric commented on #608
Thanks for the submission @laughtonsm . I've marked this as a bug. Any chance you're working on the fix for this too, or should I leave the 'help wanted' label on this?

[2019-04-01 08:51] laughtonsm commented on #608
No problem @mhendric .  I'd appreciate it if you could leave the tag on there please.  I'm going to take a look at this, but likely not in a position to be the person to fix this :)

[2019-04-01 23:21] zjalexander commented on #285
We don't own those templates, but I've found the owner and I'm working with them to get the VS templates updated. Thanks for pointing that out! :)

[2019-04-05 00:27] mhendric opened #611 "Need to Suppress or Resolve: The 'Microsoft.PowerShell.Management' module was not imported because the 'Microsoft.PowerShell.Management' snap-in was already imported."
#### Details of the scenario you tried and the problem that is occurring
The Integration test logs are full of the below Warning messages. In the most recent Integration test job, there were 189 instances of this. This does not occur in the Unit tests however.

The 'Microsoft.PowerShell.Management' module was not imported because the 'Microsoft.PowerShell.Management' snap-in was already imported.

[2019-04-05 01:29] mhendric opened #612 "xWindowsOptionalFeatureSet.Integration.Tests.ps1: Tests fail on first execution due to access of unassigned variable"
#### Details of the scenario you tried and the problem that is occurring
Tests in xWindowsOptionalFeatureSet.Integration.Tests.ps1 fail on the first execution due to an attempt to access the windowsOptionalFeatureName variable before it's been set. Subsequent test runs work just fine.

#### Verbose logs showing the problem
First execution:
[code]

Subsequent executions:
[code]

#### Suggested solu

[2019-04-05 20:13] mhendric commented on #577
Posting a follow up on this Issue. I've been testing the module on Windows 2019 in my lab for the past month, and have been battling a handful of issues (mostly related to the module not being able to handle paths with spaces). My ultimate goal is to try to get a full run of tests through on a non-AppVeyor system. Once I've done this with Windows 2019, I will then run against Windows 2016, and als

[2019-04-05 20:27] PlagueHO commented on #577
Nice work @mhendric! It will definitely be a big help to be able to confidently say it supports 2019. I've got to make some updates to my LabBuilder tool to support 2019 VMs, but I was waiting on the Server team to make the trial 2019 ISO available. It was very delayed.

[2019-04-07 15:47] #612 closed

[2019-04-07 20:52] #605 closed

[2019-04-09 10:58] tmeckel commented on #611
@mhendric The documentation about compiling resources for Azure Automation DSC states the following

https://docs.microsoft.com/en-us/azure/automation/automation-dsc-compile#assets

If you do ask Google about this you'll find numerous places where this issue is mentioned and as far as I can tell (also by taking the stuff that I found via Google) the warning will be issued when you compile a DSC co

[2019-04-09 14:15] tmeckel commented on #608
@laughtonsm please remove the `Import-Module` statements. The `Import-Module` cmdlet isn't required for DSC configurations. The `Import-DscResource` is used here as a replacement.

[2019-04-09 19:08] tmeckel commented on #536
@pkoelemij the PR for fixing your issue #614 is in review. Maybe the PR will make it into the next release.

[2019-04-17 18:43] pkoelemij commented on #536
@tmeckel good news :)

[2019-04-30 19:37] #536 closed

[2019-05-02 15:56] putanginanila opened #618 "xPackage"
### Description

### Proposed properties

### Special considerations or limitations

[2019-05-09 18:57] tmeckel commented on #527
@mhendric @PlagueHO can one of you guys proably add the label 'bug' to this? Well obviously only if you guys think this is a bug :-D This will the stale bot prevent from label the issue as stale.

[2019-05-09 19:38] PlagueHO commented on #527
@tmeckel - done!

[2019-05-09 19:53] mhendric commented on #618
Hi @putanginanila , thanks for the submission. I'm going to mark this one as a Bug. I'm also going to mark as Help Wanted, however if you plan on working on this, I will change to In Progress. Let me know.

[2019-05-12 13:03] tmeckel opened #619 "xDSCWebService: Deprecate IIS ApplicationPool and WebSite support"
#### Details of the scenario you tried and the problem that is occurring

The resource xDSCWebService, which is used to setup a DSC PullServer, handles the creation of the required IIS Application Pool and WebSite object of it's own, although there exists the DSC  [xWebAdministration](https://github.com/PowerShell/xWebAdministration) module, which handles exactly this purpose.

To ease the mainten

[2019-05-12 14:07] tmeckel opened #620 "xDSCWebService: add configuration option to control timeout/waiting values for IIS/Server operations"
#### Details of the scenario you tried and the problem that is occurring

While deploying/retracting a DSC Pullserver the xDSCWebService resource uses IIS and other server objects which might not react instantly when an operation is issued especially when the server is under heavy load or equipped with limited resources like memory or cpu.

Internal (automatic) error (failover) handling routines a

[2019-05-12 14:30] tmeckel opened #621 "xPSDesiredStateConfiguration: Get-DscConfiguration is used in tests without validating the returned values"
#### Details of the scenario you tried and the problem that is occurring

At the following places integration tests for some DSC resources use `Get-DscConfiguration` without validating the returned result about the expected configuration settings:

[code]

#### Verbose logs showing the problem

N/A

#### Suggested solution to the issue

change the affected tests in way that the result from calling

[2019-05-13 20:23] PlagueHO opened #622 "xDSCWebService: Move Strings into Localization File"

[2019-05-13 20:34] PlagueHO opened #623 "xDSCWebService: Update to Meet Style Guidelines"
Module doesn't meet style guidelines.

[2019-05-13 20:46] PlagueHO opened #624 "xDSCWebService: Refactor to remove `Update-Site` Function"
The Update-Site function does not add any value and is also inconsistent with other functions. Remove it.

[2019-05-13 20:53] #463 closed

[2019-05-13 21:04] PlagueHO opened #625 "xDSCWebService\Firewall.psm1: Standardize Firewall Functions"
The firewall functions are a mix of NETSH and native Networking PS cmdlets. The pattern here should be standardized and moved into separate functions for better testability.

[2019-05-21 09:43] ekodian commented on #437
But if 'CreateCheckRegValue' is undefined, it wont check it and assume that resource in undesired state

[code]

[2019-05-21 17:51] joerianto83 commented on #382
hi there, just want to reopen, i have the same error message, but from another perspective.
just trying to run the dscconfiguration file that generates the MOF file, from a Powershell Task in Azure Devops.  Running it from any local powershell prompt or command prompt it's all working fine.

**Issue:** generate LCM MOF or DSC configuration MOF within the Powershell Task in Azure DevOps
![powershel

[2019-05-22 16:55] putanginanila commented on #618
Apologies for the delay. @mhendric  I have a working module with these changes. Do you want me to fork this and put it there or provide directly?

[2019-05-22 17:16] mhendric commented on #618
Hi @putanginanila . No worries. Please submit a Pull Request to this repo with your code changes. See the instructions in here if you need help, and feel free to reach out with questions. Thanks.

https://github.com/PowerShell/DscResources/blob/master/GettingStartedWithGitHub.md

[2019-05-31 17:57] albvar commented on #436
I was just about to report this exact issue. Noticed issue reported on 8/2018, there must be a huge backlog? Anyhow up-voting this, noticed it with version 8.6.0.0.

[2019-06-03 16:59] mhendric commented on #436
@albvar , there has indeed been a huge backlog, as well as a lack of volunteers. I don't suppose you want to volunteer to help with this one? :)

[2019-07-02 13:33] Yvand opened #629 "xRemoteFile: Randomly fails to download files from GitHub with error "The remote name could not be resolved""
#### Details of the scenario you tried and the problem that is occurring

I use resource xRemoteFile from Azure VMs to download release assets hosted on GitHub.
Regularly (about 1 out of 4 times) the download fails with the error "The remote name could not be resolved".
This is very painful because the DSC deployment is part of an ARM template deployment, and when it occurs the whole template depl

[2019-07-03 06:43] Yvand commented on #629
The log below confirms that the retry mechanism works (notice the "YVAND:" log message):

[code]

Should it be implemented in the official resource ? As-is/improved ?
I can submit a PR with this change if you wish.

[2019-07-08 12:47] Yvand commented on #629
Is anybody looking at this?

[2019-07-09 15:22] mhendric commented on #629
Hi @Yvand , sorry, been on vacation. This seems like a good improvement to me. Please, submit a PR.

[2019-07-09 19:16] PlagueHO commented on #629
Good to have you back @mhendric ! I've not been able to keep on top of these. Thanks for submitting this @Yvand .

[2019-07-10 07:21] Yvand commented on #629
Hello @mhendric and @PlagueHO, thank you for your response, I'll submit the PR soon.

[2019-07-10 18:03] Fiander opened #631 "SQL Database fails do to typo in source"
Hi,
in xPSDesiredStateConfiguration/DSCResources/MSFT_xDSCWebService/

on row 464 there is a typo.

  if ($SqlProvider)
    {
        Write-Verbose -Message 'Set values into the web.config that define the SQL Connection'
        PSWSIISEndpoint\Set-AppSettingsInWebconfig -Path $PhysicalPath -Key 'dbprovider' -Value $jet4provider
        PSWSIISEndpoint\Set-AppSettingsInWebconfig -Path $PhysicalPat

[2019-07-10 19:50] mhendric commented on #631
Looks like a bug to me. @johlju , I think you're a SQL guru, do you concur?

[2019-07-10 19:51] mhendric commented on #631
Also, @Fiander , do you have a way to reproduce a problem caused by this typo? Or any error messages caused by the typo?

[2019-07-10 20:06] johlju commented on #631
@mhendric that is application specific. The web application read the connection string from the web.config. So the web application is gonna look for a specific string is my guess. So the correct key could be ‘dbconnectionst’, ‘dbconnectionstr’, or ‘dbconnectionstring’ or something else :)

Would be great to see an error message to see if the actual key is written in the error message.
Or it’s tria

[2019-07-10 21:29] Fiander commented on #631
the problem i was having was that while installing a pull server with a sql backend, the database never gets created, and in the web config the key "dbconnectionst " is present.

when doing refresh of the setup of the pull server, DSC sees that the db string is not correct and tries to fix it.

by changing the web.config and changeing the key to "dbconnectionstr" the database gets created, and DSC

[2019-07-12 08:54] Fiander opened #632 "Manual install not working from nupkg file"
#### Details of the scenario you tried and the problem that is occurring
when doing a download from [https://www.powershellgallery.com/packages/xPSDesiredStateConfiguration/8.8.0.0](url)
and then doing an install-module from my own repository, the module gets installed in the wrong folder.
it gets installed in :
C:\Program Files\WindowsPowerShell\Modules\xPSDesiredStateConfiguration\8.8.0
instead

[2019-07-12 08:57] PlagueHO commented on #632
Thanks for raising this - this is actually a larger issue with Nuget, but it is being tracked over here: https://github.com/PowerShell/DscResources/issues/508

We do still need a fix for this problem, but will require us modifying the deployment process for the modules (which I understand will happen).

[2019-07-12 20:14] mhendric commented on #631
Confirmed that this was in fact changed (and then broken) by this commit:

https://github.com/PowerShell/xPSDesiredStateConfiguration/commit/03c1d58eed03bd2359b34cd6ee433a007645c730#diff-fbf44002358de666e2c0e2f4e2fca2c9

[2019-07-12 20:15] #631 closed

[2019-07-12 22:29] #629 closed

[2019-07-21 23:39] reznet opened #634 "xPackage crashes with NullReferenceException"
#### Details of the scenario you tried and the problem that is occurring
I am trying to install an exe installer using the xPackage resource.  I'm pretty sure it once worked on my machine (and we have been using xPackage successfully in our automation), but something broke and I've been unable to explain what.  I extracted Test-TargetResource from the module and ran it manually and it did not fail

[2019-07-22 00:01] reznet commented on #634
It looks like the problem is related to the LCM.  I tried running `Invoke-DscResource` and it also failed:
[code]

but when I applied an LCM configuration that set Refresh to Disabled:
[code]
I was able to successfully use Invoke-DscResource:
[code]

It's not clear yet how this issue is specific to the xPackage resource, since it did not happen with xEnvironment.

[2019-07-22 00:09] reznet commented on #634
Well, looks like the issue is fixed for now.  When I tried to apply my DSC configuration, it complained that Start-DscConfiguration was not allowed when the LCM Refresh mode is Disabled, so I created a new configuration to set Refresh mode to Push:

[code]
I then applied that to the LCM and tried Start-DscConfiguration again, and it worked!

So if anyone else has trouble with this, Disable refresh

[2019-07-22 00:09] #634 closed

[2019-08-09 19:55] rdavisunr opened #636 "xService - doesn't restart running service after Credential Change"
#### Details of the scenario you tried and the problem that is occurring
When using xService to change the credentials of an existing, running service. The credentials are changed successfully, but the service does not restart. Thus, it continues to run under the context it was running under prior to applying DSC. Thus, it is not in the desired state,

#### Verbose logs showing the problem
[code]

[2019-08-19 15:45] rdavisunr commented on #636
I ended up using a script resource to make this work, but definitely not ideal. Can anyone from the team comment on this issue?

[2019-09-02 16:31] #231 closed

[2019-09-06 12:58] gaelcolas commented on #636
Sorry for the delay.
Yes you're right, your config *should* enforce the service to be running with that credential, so probably best for the resource to restart the service at that point in time, BUT...

Was your new credential using the same Username? If so, the problem is that I don't think we'd have a way to test whether the password is new or not. Without looking at the code, that *could* be y

[2019-09-06 17:41] rdavisunr commented on #636
@gaelcolas - in this case, I was changing the credential from running as LocalSystem to a domain user. So, different username.

Here's the relevant part from the DSC log above:

``
The start name of service OctopusDeploy Tentacle does not match the expected username from the given credential. The expected value is someDomain\someDomainUser. The actual value is LocalSystem.
``

[2019-09-09 22:34] JustinGrote commented on #634
@reznet I had the same problem. I killed the process, manually ran an invoke-dsc test, and then it started working again. Ghost in the machine somewhere...

[2019-09-10 14:01] mhendric commented on #634
Hey Guys, if this happens again, can someone run with -Verbose? That may help track down exactly where in Test-TargetResource the NullReferenceException is occurring so that we can add a proper check for null objects.

[2019-09-10 16:52] JustinGrote commented on #634
@mhendric, I can regularly reproduce it if debug is on, happens every time, turn debug off, it doesn't.

Specifically using the Path and Name parameters, but not ProductID

[2019-09-10 16:56] mhendric commented on #634
@JustinGrote, can you reproduce with Debug and Verbose? There's a bunch of Verbose statements in Test-TargetResource, so I'd like to see how many fire before the NullReferenceException occurs. Thanks.

[2019-09-12 13:42] ricohomewood opened #639 "[xPSEndpoint] Exception thrown with 'Set-DSCMachineRebootRequired' not recognised"
#### Details of the scenario you tried and the problem that is occurring
Using Azure Automation as the pullserver with xPSDesiredStateConfiguration imported.

Setting a PSSessionConfiguration using the xPSEndpoint DSC resource as per below configuration example on an Azure IaaS VM running Windows Server 2016 Core returns an exception on the inital run stating that is cannot find the `Set-DSCMachin

[2019-09-17 07:09] PlagueHO opened #641 "xDSCWebService Test-TargetResource has different defaults to Set-TargetResource"
The `Test-TargetResource` has different defaults to `Set-TargetResource` in xDSCWebService.

Specifically, the parameters:
- `RegistrationKeyPath` has no default in `Test-TargetResource` but is `"$env:PROGRAMFILES\WindowsPowerShell\DscService"` in `Set-TargetResource`
- `AcceptSelfSignedCertificates` has no default in `Test-TargetResource` but is `$true` in `Set-TargetResource`

Correcting this ca

[2019-09-26 14:18] #623 closed

[2019-10-09 06:21] ciberesponce commented on #405
This fixed it--I searched forever, changing WinHTTP settings, Internet Explorer, SChannel.  I should of realized its a .NET setting seeing DSC is PowerShell... thanks for sharing.

[2019-10-10 10:06] X-Guardian opened #644 "xUser: Add PasswordNeverResets property"
#### Details of the scenario you tried and the problem that is occurring

In its current state, `xUser` will create a user account and apply the password if specified. On subsequent runs, this password is re-applied. This behavior is a challenge when applying `xUser` to manage users via code in a production environment.

#### Suggested solution to the issue

As was done with the `ADUser` resource

[2019-10-10 17:02] Brunni opened #645 "Service: Assert-NoStartupTypeStateConflict makes no sense"
The Assert-NoStartupTypeStateConflict in the Service Resource checks, that you cannot use, e.g. State=Stopped with StartupType=Automatic. It is considered a wrong use case.

But when I don't define Automatic but State=Stopped, I can create a new Service, which is Stopped, but still on automatic. (Which is actually what I want.) So I think all combinations should be ok.

What is probably a better i

[2019-10-10 19:30] fullenw1 opened #646 "xRegistry: need to use the Force parameter"
#### Details of the scenario you tried and the problem that is occurring

I am using xRegistry because unlike the native Registry resource it can handle the slash character in key names which is useful for disabling cipher suites.
For example:
HKLM:\SYSTEM\CurrentControlSet\Control\SecurityProviders\SCHANNEL\Ciphers\RC4 128 **/** 128

However, unlike the native **Registry** resource, when the **xR

[2019-10-15 18:24] ronx opened #647 "PublishModulesAndMofsToPullServer: Publish-ModuleToPullServer web config param required"
#### Details of the scenario you tried and the problem that is occurring
I recently mass updated my PS modules and cleaned up old ones, so I'm not sure which version of xPSDesiredStateConfiguration I was using previously. I have always used the Publish-ModuleToPullServer function to conveniently package up custom modules for deployment. However, I just noticed that the PullServerWebConfig paramete

[2019-10-24 19:57] #423 closed

[2019-11-05 20:13] saiprasanthrajavarapu commented on #400
@johlju @rdavisunr  is this still an bug? or is there a work around for that? We are still seeing the issue.

[2019-11-05 22:03] rdavisunr commented on #400
@saiprasanthrajavarapu - I have not tried any versions beyond 8.1.0.0. So, can't confirm myself.

As far as a workaround, I ended up doing something like this:

[code]

[2019-11-30 22:08] #575 closed

[2019-11-30 22:22] PlagueHO commented on #646
Hi @fullenw1 - you definitely make a fair point here.

PSDscResources Registry resource - the replacement for the inbox resources (https://github.com/PowerShell/PSDscResources/blob/dev/DscResources/MSFT_RegistryResource/MSFT_RegistryResource.schema.mof) also uses the Force parameter. So it might make sense to align to that module rather than the older inbox ones. If we were to change `$force` to d

[2019-11-30 22:24] PlagueHO commented on #644
Hi @X-Guardian - this makes sense to me. Happy to get a PR in for this.

[2019-12-24 20:04] PlagueHO opened #650 "Update module to new CI and release process"
Since being migrated to the DSC Community, this module must be updated to use the new CI process and repository structure.

[2019-12-25 05:30] mkht commented on #646
In my use case, I'm always specifying `Force = $true`.
I have never thought it makes sense to specify `$false` for the `Force` parameter.

However, as @PlagueHO points out, changing the default value of the `Force` is a significant breaking change.
I personally want to agree with the change, but it will be difficult. 🤔

[2019-12-25 13:49] mkht commented on #436
It is a disappointment that those who tackle this issue do not appear for a long time.
Now I am working on this and will create a PR soon.

[2019-12-27 07:41] PlagueHO opened #652 "Increase Performance of Test-IsNanoServer"
The cmdlet `Test-IsNanoServer` is used by many of the resources. This cmdlet uses `Get-ComputerInfo` to determine if the machine is Nano server:
[code]

However, `Get-ComputerInfo` is very slow, taking over 2 seconds on average to execute.

This causes the resources to run slow and increases overall test time significantly.

We should find a better way to detect if a machine is Nano Server.

[2019-12-27 08:10] PlagueHO commented on #652
One possible way of increasing performance is to instead use a CIM command to pull the `Win32_OperatingSystem` class (https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/win32-operatingsystem) and use the OperatingSystemSKU property:

[code]

Is there anyone who knows a reason why this would not be a viable alternative? @gaelcolas , @johlju

[2019-12-27 08:48] johlju commented on #652
If the class exist in a Nano server then I don't see an issue using it.

[2019-12-27 08:48] PlagueHO opened #653 "Remove Module Version number from #Requires in Examples"
The example files include the version number of the xPSDesiredStateConfiguration module in the #Requires headers. It should not include this.

It should read:
[code]

[2019-12-29 20:39] #650 closed

[2019-12-29 21:03] PlagueHO opened #656 "Complete Transition to new CI Process"
Update the CI badge information with the build definition ID of 8.

[2020-01-06 21:54] bingbing8 opened #659 "link to sample configurations under does not exist any more"
links to sample configurations under blob does not exist any more. For example: [A Pull Server default configuration](https://github.com/dsccommunity/xPSDesiredStateConfiguration/blob/master/Examples/Sample_xDscWebServiceRegistration_Win2k12and2k12R2.ps1)
Please fix it

[2020-01-06 22:31] PlagueHO commented on #659
Thanks for raising this @bingbing8. This will have happened during migration to the new repo layout. I'll get this corrected ASAP.

[2020-01-06 22:32] PlagueHO opened #660 "Update GitVersion Fix Regex"
Update GitVersion Fixes Regex:
[code]

[2020-01-07 00:35] PlagueHO opened #663 "Set DisplayNames in CI Pipeline Tasks"
See: https://github.com/dsccommunity/xFailOverCluster/pull/225/files

[2020-01-07 04:16] #659 closed

[2020-01-07 09:14] #660 closed

[2020-01-08 02:54] PlagueHO commented on #656
This is completed.

[2020-01-08 02:54] #656 closed

[2020-01-10 08:31] #663 closed

[2020-01-11 05:07] mkht commented on #436
This bug has been fixed in PR #658 . Please close this issue.
@johlju @PlagueHO

[2020-01-11 06:44] gaelcolas commented on #436
Glad it's finally fixed. Thanks for your contribution @mkht !

[2020-01-11 06:44] #436 closed

[2020-01-13 04:36] PlagueHO opened #665 "Update CI Deploy Stage"
Replace with:
[code]

[2020-01-13 04:41] PlagueHO opened #666 "Fix Import-Module in all Tests"
Change to:
[code]

[2020-01-13 16:42] #665 closed

[2020-01-13 16:42] #666 closed

[2020-01-13 23:13] PlagueHO opened #668 "Update CI Deploy Stage"
Replace with:

[code]

[2020-01-14 17:32] #668 closed

[2020-01-18 06:37] mkht opened #671 "xRegistry: Cannot create registry value containing ":" in the path"
### Description
Attempts to create a registry value with ":" (colons) in the path using the xRegistry resource will fail with an exception.

#### The DSC configuration that is used to reproduce the issue
[code]

#### Verbose logs showing the problem
[code]

#### Suggested solution to the issue
The `Get-PathRoot` function has a problem. It does not returns proper root drive when paths containing co

[2020-01-18 07:33] mkht commented on #671
This issue only occurs if we specify the Common registry style for the root of the path like `HKEY_LOCAL_MACHINE\...`. and does not occur when specifying a PSDrive style path like `HKLM:\...`.

#### Sample DSC configuration that has issue.
[code]

#### Sample DSC configuration that has **NOT** issue.
[code]

[2020-01-22 14:39] kscelfo opened #673 "xPSDesiredStateConfiguration version 9.0.0 is no longer exporting commands"
#### Details of the scenario you tried and the problem that is occurring
After updating to xPSDesiredStateConfiguration 9.0.0, I can no longer utilize the Publish-ModuleToPullServer command.

#### Verbose logs showing the problem

Module Type | Version | Name | Exported Commands
-------------- | -------- | ------ | -----------------------
Script | 9.0.0 | xPSDesiredStateConfiguration
Script | 8.10

[2020-01-22 19:05] PlagueHO commented on #673
Hi @kscelfo - thanks for raising this. This must have happened when I migrated the module to the new CI/CD structure. I'll correct this ASAP and get a new release out.

[2020-01-24 08:04] #673 closed

[2020-01-24 21:45] #671 closed

[2020-02-19 19:03] #653 closed

[2020-03-24 04:23] PlagueHO opened #677 "Add Automated Documentation Generation"
Replicate the changes that were made in this PR:
https://github.com/dsccommunity/ComputerManagementDsc/pull/318

[2020-03-27 21:33] RandomNoun7 opened #678 "xService Cannot Manage Failure Actions"
The xService resource cannot currently manage a service's Failure Actions.

The traditional way to set these actions is via sc.exe.

I propose that xService be modified to read the REG_BINARY field FailureActions registry value for the service.

The contents of the field are described in this [Stack Overflow Post](https://stackoverflow.com/questions/36462623/what-reg-binary-to-set-for-failureactio

[2020-03-30 12:34] JipFransen commented on #370
Ok so a very important note that seems to be omitted here is that for the

Ok so a very important note that seems to be omitted here is that:
```CreateCheckRegValue = $true;```
needs to be added for:
[code]
to work.

I just spent a good half hour going through the master code to confirm this.

[2020-03-31 18:29] dotnetcanuck commented on #597
@mhendric @PlagueHO @johlju Afternoon gents,

I've begun my first foray into the world of PowerShell DSC, and I've come across these two resources, `xPackage` and `xMsiPackage`.

I apologize if this has been answered in a piece of documentation somewhere, but has there been any further discussion around this, or is there a 'best practice' on which resource to use if you're trying to install an MSI

[2020-03-31 19:05] PlagueHO commented on #597
Hi @dotnetcanuck ! Welcome to the wonderful world of DSC! :grin:

This does go back quite some time as the team point out. I'd generally recommend using xPackage as it is the more "generic" of the two and handles installation of both .MSI and .EXE files.

There is no best practice here, but I tend to use xPackage for .EXE files and xMsiPackage for .MSI files. So probably best to do that.

Sidenote

[2020-03-31 19:06] PlagueHO commented on #597
@dotnetcanuck - one last thing: Head over to the #DSC channel in the PowerShell Slack org and there is lots of people able to offer advise there: https://dsccommunity.org/help/

[2020-03-31 19:32] johlju commented on #597
I rather see option 4 even if it is a breaking change Then we avoid a potential ping-pong behavior that can happen if both are able to install and uninstall msi packages. Install msi using xPackage and in the same configuration uninstall the msi using xMsiPackages (or vice verse). It is far fetched to do this in different partial configurations but the potential is removed if we split up the tasks

[2020-04-02 06:15] RandomNoun7 commented on #678
So far in the course of testing, I have discovered two new things that will have to be accounted for.

The Recovery Option tab of the services properties dialog can only show you 3 recovery options, but in fact you can have a larger number of them stored in the registry.  I describe the behavior of the recovery options taking into account the larger number of allowed options in [this comment on th

[2020-04-06 11:53] ricohomewood commented on #639
Any update to this bug?

[2020-04-06 19:12] PlagueHO commented on #639
Sorry, @ricohomewood - I misses this. I'll take a look.

[2020-04-06 19:52] PlagueHO commented on #639
Hi @ricohomewood - have you tried with the latest version of this module - 9.1.0? It looks like the problem shouldn't exist there and make have been fixed when the module was updated to the new structure (although there doesn't appear to be an entry - it may have been fixed as a side affect when I got all the tests working).

The function `Set-DscMachineRebootRequired` is declared in the xPSDesire

[2020-04-07 14:17] ricohomewood commented on #639
Thanks @PlagueHO The updated version seems to have cleared that error but another does happen:

`[2020-04-07 14:01:02Z] [web2]:[[xPSEndpoint]RemotePSEndpointConfig] Session configuration SpxRemotePS is absent
[2020-04-07 14:01:02Z] [WARNING] [web2]: [[xPSEndpoint]RemotePSEndpointConfig] When RunAs is enabled in a Windows PowerShell session configuration, the Windows security model cannot enforce a

[2020-04-07 19:24] PlagueHO commented on #639
Hi @ricohomewood - Yes, I'd expect the WS-Man service restart to behave this way, however it isn't ideal that it is throwing an error during the process. It actually appears to be the DSC subsystem that it throwing the error itself, rather than the resource. One thing to note is that the resource suppresses the service WSMan Service restart - instead relying on the machine restart. Which from memo

[2020-04-07 19:26] PlagueHO commented on #678
Thanks for working on this @RandomNoun7  - it is much appreciated. I have been watching your draft PR with interest :grin:

[2020-04-07 19:27] PlagueHO opened #680 "Add Integration Tests for xPSSessionConfiguration"
This resource is missing integration tests and needs them to validate issues like this: https://github.com/dsccommunity/xPSDesiredStateConfiguration/issues/639

Also required to move this module to HQRM:
https://github.com/dsccommunity/xPSDesiredStateConfiguration/issues/160

[2020-04-08 07:45] ricohomewood commented on #639
Thanks for the info ...

This is running as a pull server (Azure Automation) the client running on an Azure Windows 2016 Server Core VM. It was trying to create a new session endpoint BUT what is strange, running it on another VM it didn't error so can't explain that? Maybe a race condition?

I'll run some more on some other new VM's I need to create in Azure and see if that happens again.
Thanks

[2020-04-09 04:01] ChristopherGLewis opened #681 "xPackage: ReturnCode only excepts positive values"
I have a package that uses a non-msi EXE for installation.  It's return codes use negatives as errors

I want to add

[code]

#### Details of the scenario you tried and the problem that is occurring
Installing Kaseya.  Installer returns a -29 when already installed.

#### Verbose logs showing the problem
[code]

#### Suggested solution to the issue

[code]

#### The DSC configuration that is used

[2020-04-14 21:09] PlagueHO commented on #681
Hi @ChristopherGLewis - from a technical perspective, this should be fine I think. The MOF would also need to be changed etc.

This shouldn't be a breaking change.

[2020-04-20 22:03] RandomNoun7 commented on #678
Well, annoyingly, and as hard as this may be to believe, I am only just now running into the fact that DSC really can't deal with hashtables on their own. Now I need to decide if I want to deal with `[Microsoft.Management.Infrastructure.CimInstance[]]` in all of my code, deal with converting back and forth all the time, or just go back to only supporting 3 slots for failure actions so I don't have

[2020-04-21 00:28] PlagueHO commented on #678
Hi @RandomNoun7 - yes, this is a side affect of being dependent on CIM for the MOF. There are two patterns available to solve this:

1. Use a Embedded Instances (like how xWebSite does it): https://github.com/dsccommunity/xWebAdministration/blob/master/source/DSCResources/MSFT_xWebSite/MSFT_xWebSite.schema.mof#L10
1. Use a sub resource (e.g. create a new resource called xServiceFailureAction). @rc

[2020-04-21 14:00] RandomNoun7 commented on #678
I'm not sure that #2 would help me avoid the need for an array? In order to construct the registry key properly I have to know all of the failure actions that will go into the key, their properties, and the order they go in, and whether there is a restart command or a reboot message, all at the same time.

If I have it right, the suggestion for #2 would be to create a resource called xServiceFailu

[2020-04-21 14:11] varnav commented on #288
This fails for me with same error:

[code]

[2020-04-27 20:08] RandomNoun7 commented on #678
I'v hit a bet of speedbump managing the check box for `Enable actions for stops with errors`. Any thoughts or ideas are welcome.
https://stackoverflow.com/questions/61463543/setting-a-windows-services-enable-actions-for-stops-with-errors-check-box-via

[2020-04-27 21:34] PlagueHO opened #682 "Correct Pipeline Include Path in Azure Pipeline Build YAML"
This is because a recent change to Azure DevOps Pipelines has removed the ability to use ** in Include/Exclude paths.

https://docs.microsoft.com/en-us/azure/devops/pipelines/repos/github?view=azure-devops&tabs=yaml#wildcards

dsccommunity/ActiveDirectoryDsc#599

[2020-04-27 21:35] PlagueHO opened #683 "Update to Use Latest Version of ModuleBuilder and merge HISTORIC_CHANGELOG"
Update to use latest version of ModuleBuilder module. This also allows merging the HISTORIC_CHANGELOG.MD into the CHANGELOG.MD.

[2020-04-29 05:47] RandomNoun7 commented on #678
I have found someone that wrote a PInvoke Implementation that seems to manage this flag. I want to test it and if it works and the author consents, to largely change strategy and go with PInvoke for this instead.
https://gist.github.com/jborean93/889288b56087a2c5def7fa49b6a8a0ad

[2020-04-29 06:20] PlagueHO commented on #678
Hi @RandomNoun7 - I think it is OK to use PInvoke method if no other alternative is available (I've used it in CertificateDsc). It is a little bit more difficult to create unit tests for though (it is possible but our CI pipelines don't know to run tests against C#) - so we end up having to rely on integration tests (which is OK if unavoidable).

It seems strange that there is no other way of doin

[2020-04-29 06:22] PlagueHO commented on #678
One thing I'd suggest (that I should have done in CertificateDsc) is put the C# code in a separate .cs file and import that in the Add-Type rather than embedding the code. That way we can potentially run it through linting and other tools.

[2020-04-29 06:26] RandomNoun7 commented on #678
I like the idea of separating out the code file. If I could find another method besides PInvoke I would definitely use it. I'm still searching to figure out how, if not that registry key, this setting is being persisted so I could just manage that, but searching online and a lot of time in PROCMON aren't turning it up. It really seems like the whole idea of this service failure actions business is

[2020-04-29 06:38] PlagueHO commented on #678
It does seem odd that there isn't a straight forward/easy way of doing this. I'll ask around internally to see if I can find anyone who might be in the know here. But failing that we may have to go the PInvoke way...

[2020-04-29 06:39] #682 closed

[2020-04-29 06:39] #683 closed

[2020-04-29 13:28] RandomNoun7 commented on #678
It occurs to me that one way to preserve the unit testability would be to use PInvoke solely for managing that one flag. I could even rip out everything in that code not needed for that specific purpose to make the .cs file itself a litle easier to understand.

I am curious to know that comes of your asking around internally though.

I should mention as well though that I think I was a little unki

[2020-04-29 20:15] PlagueHO commented on #678
I was wondering: could you call SC.EXE to do this flag?
To Set:
[code]

To Get:
[code]

Now, to find the right internal community to ask :) hehe

But I completely agree - this may just have been something that slipped under the radar and/or just wasn't high enough demand (e.g. SC.EXE can handle it). I've occasionally come across small gaps like that and wondered how they slipped through. I'm think

[2020-04-29 20:49] RandomNoun7 commented on #678
I was about to reply that the oversight extends to sc.exe itself, and that it doesn't work either, but then I took a really close look at your code snippets up there.

All of the documentation I had seen up to this point had led me to believe that the syntax for setting this flag was literally something like `& sc.exe failureflag WSearch flag=1`. I see now above though that you aren't passing `fla

[2020-04-29 20:50] RandomNoun7 commented on #678
I would still love to know what sc is doing besides just setting that registry key, but this at leaves gives me a path forward to get the job done.

[2020-05-02 20:13] PlagueHO opened #685 "Convert Module to use DSCResource.Common"
See this PR for example: https://github.com/dsccommunity/NetworkingDsc/pull/453

[2020-05-05 06:00] PlagueHO opened #686 "Improve Integration Test Reliability"
Closing and reopening to kick of the tests again since it failed on. I have seen this when the previous run is to fast to the LCM haven't time to cooldown.

[code]

https://dev.azure.com/dsccommunity/ComputerManagementDsc/_build/results?buildId=1818&view=logs&j=bed57fa5-efa2-5e6c-3967-59915169b168&t=5a0501c2-c194-508e-8f56-358cb6bbc353&l=383

In xWebAdministration and SqlServerDsc I have added the

[2020-05-11 09:12] PlagueHO opened #687 "Correct Build.YML to Support ModuleBuilder 1.7.0"
The ModuleBuilder 1.7.0 release renamed the `CopyDirectories` attribute to `CopyPaths`. Update the `Build.yml` to fix this issue.

[2020-06-04 21:34] HansOMartinsen commented on #652
The class exists on Nanaoserver. Ref: https://docs.microsoft.com/en-us/previous-versions/windows/desktop/legacy/mt588480(v=vs.85)

Any reason not to go ahead and implement this as in "Add Test-IsNanoServer dsccommunity/DscResource.Common#9"?

[2020-06-05 04:47] PlagueHO commented on #652
No reason at all :) Please go ahead @HansOMartinsen !

[2020-06-14 01:10] PlagueHO opened #688 "Fix Build Failures due to Pester 5.x"
Pester 5.x has been released and both Sampler and DSCResource.Test has been updated to support it, however, Code Coverage support is not available. To solve this, pin Pester to 4.10.1.

[2020-06-14 09:51] #467 closed

[2020-06-18 19:41] zlepper commented on #400
I also just encountered this, and just as rdavisunr discovered, it only seems to be a problem with the "set" versions of the resources. The normal resources works fine.

[2020-06-23 16:46] johlju opened #689 "xGroup: resource fails to add and remove user when group has orphaned SIDs"
I am not a good developer for to dare contribute.

I found the issue in the Powershell project on Github : https://github.com/PowerShell/PowerShell/issues/2996

I found a base of solution : https://social.technet.microsoft.com/Forums/windowsserver/en-US/b8973045-3412-4aea-b156-c33c9b8ce44b/adsi-local-groups-users-users-type-etc-?forum=winserverpowershell

I adapted the code for output  is same of

[2020-06-23 16:46] johlju commented on #689
This has been worked on in closed PR https://github.com/dsccommunity/xPSDesiredStateConfiguration/pull/328.

[2020-07-01 08:27] #687 closed

[2020-07-01 08:27] #688 closed

[2020-07-05 20:15] PlagueHO commented on #652
Implementing #685 will resolve this issue. I'll be planning this over the next week.

[2020-07-05 20:18] PlagueHO opened #691 "Fix Build Failures due to Pester 5.x"
Pester 5.x has been released and both Sampler and DSCResource.Test has been updated to support it, however, Code Coverage support is not available. To solve this, pin Pester to 4.10.1.

[2020-07-05 20:18] PlagueHO opened #692 "Correct Build.YML to Support ModuleBuilder 1.7.0"
The ModuleBuilder 1.7.0 release renamed the `CopyDirectories` attribute to `CopyPaths`. Update the `Build.yml` to fix this issue.

[2020-07-05 20:32] #692 closed

[2020-07-05 20:32] #691 closed

[2020-07-06 00:26] PlagueHO opened #694 "Refactor Integration tests to reduce code duplication and adopt standardized structure"
See xWindowsProcess integration test layout for reference:
https://github.com/dsccommunity/xPSDesiredStateConfiguration/blob/master/tests/Integration/DSC_xWindowsProcess.Integration.Tests.ps1

Start by moving the `Start-DscConfigurationAndVerify` function into the TestHelpers and change all integration tests to use it.

[2020-07-11 08:53] #685 closed

[2020-07-11 08:53] #652 closed

[2020-07-11 08:53] #686 closed

[2020-07-23 16:22] msft-jasonparker opened #695 "xGroup: Inconsistent behavior in Azure VM deployments (dscextension)"
### Details of the scenario you tried and the problem that is occurring
Deploying Azure resource (dscextension) on existing VM (is domain joined).  Fairly large DSC configuration (using PSDesiredStateConfiguration, xPSDesiredStateConfiguration, CertificateDsc, and ComputerManagementDsc).  The first section of the local node configuration is xGroup for modifying the local administrators group membe

[2020-08-04 07:32] PlagueHO commented on #695
Hi @msft-jasonparker - it sounds like this could be an intermittent connectivity issue with the DC. Is the DC a VM in Azure or Azure ADDS or an on-prem DC?

You could try adding a `WaitForADDoman` before the call to the `xGroup` resource:
https://github.com/dsccommunity/ActiveDirectoryDsc/wiki/WaitForADDomain

This would first wait for a DC to be contactable before moving on to the `xGroup` resour

[2020-08-06 20:30] PlagueHO opened #696 "Rename master branch to main"
As per [this statement](https://sfconservancy.org/news/2020/jun/23/gitbranchname/).

[2020-08-31 05:14] #622 closed

[2020-09-06 05:20] PlagueHO opened #698 "xArchive: Remove Invoke-NewPSDrive"
xArchive has a function called `Invoke-NewPSDrive` that was required because of a Pester issue: https://github.com/pester/Pester/issues/728 - this has been fixed. Test this and remove the need for this function:

https://github.com/dsccommunity/xPSDesiredStateConfiguration/blob/master/source/DSCResources/DSC_xArchive/DSC_xArchive.psm1#L501

[2020-09-21 06:00] #698 closed

[2020-09-24 07:56] octaviancretu opened #700 "xWindowsFeature: Include optional parameter source path for winsxs folder"
I am trying to use DSC in an environment with no internet. Unfortunately xWindowsFeature does not include the option to install the features from a network share folder.

The equivalent would be Source parameter from Install-WindowsFeature

Reference:
https://docs.microsoft.com/en-us/powershell/module/servermanager/install-windowsfeature?view=winserver2012r2-ps

[2020-11-25 12:40] raandree opened #702 "Bug in xPackage resource: The parameter "Hash" is declared in parameter-set "__AllParameterSets" multiple times."
#### Details of the scenario you tried and the problem that is occurring
When trying to install or uninstall a software package using xPackage and providing a file hash, this error is thrown:

[code]

#### Verbose logs showing the problem
No useful verbose information

#### Suggested solution to the issue
The attribute 'Parameter' was added twice to parameter 'Hash' in 'Assert-FileHashValid'.

###

[2020-11-25 12:57] raandree opened #704 "Bug in xPackage resource: Uninstalling software does not work for .exe and .msi"
#### Details of the scenario you tried and the problem that is occurring
Uninstalling a .exe or .msi hangs forever as the argument handling is incorrect. The Set function calls 'msiexec.exe' and adds the installation arguments to the call. As this does not work, the process hangs waiting for input.

#### Verbose logs showing the problem
[code]

#### Suggested solution to the issue
Use the 'Uninsta

[2020-12-06 06:50] #702 closed

[2020-12-17 05:45] #353 closed

[2020-12-30 18:50] #696 closed

[2021-01-20 08:59] PlagueHO opened #707 "Update GitVersion.yml to use latest pattern"
Update `GitVersion.yml` branches section to:
[code]

As per: https://github.com/dsccommunity/dsccommunity.org/pull/162

[2021-01-20 17:30] #707 closed

[2021-04-09 08:43] PlagueHO opened #710 "Update Sampler Build Tasks"
Update the Sampler Build tasks as per this blog post: https://dsccommunity.org/blog/updating-sampler-github-tasks/

[2021-04-09 10:29] PlagueHO opened #711 "Enable Code Coverage Reporting"
Enable code coverage reporting as per this blog post: https://dsccommunity.org/blog/add-codecov-support-to-repository/

[2021-04-16 22:10] PlagueHO commented on #710
Closed by #712

[2021-04-16 22:10] #710 closed

[2021-04-16 22:29] PlagueHO opened #713 "Fix Publish Failure"
Correct by changing case of task `Publish_Release_to_GitHub` to `Publish_Release_To_GitHub` in `Build.yml`

[2021-04-21 11:18] #711 closed

[2021-04-21 11:18] #713 closed

[2021-05-17 16:29] #527 closed

[2021-05-17 16:30] #619 closed

[2021-05-17 16:30] #620 closed

[2021-05-17 16:30] #621 closed

[2021-05-20 14:00] BITespresso opened #716 "xRemoteFile: Fix inconsistencies in messages for en-us"
#### Details of the scenario you tried and the problem that is occurring

The message string defined in `DSC_xRemoteFile.strings.psd1` have some inconsistencies in quoting and case:

Examples:

`Specified URI is not valid: "{0}". Only http, https or file paths are accepted.`
(uses double quotes and uppercase URI)

vs

`No cache found for DestinationPath '{0}' and Uri '{1}' CacheKey '{2}'.`
(uses s

[2021-05-20 14:01] BITespresso commented on #716
I'd like to resolve this issue.

[2021-05-21 10:15] PlagueHO commented on #716
Hi @BITespresso - your help is greatly appreciated. Please feel free to submit a pull request for this and I'll get onto review this weekend.

[2021-05-21 11:17] BITespresso commented on #716
The pull request should already be here and is complete from my side. Looking forward to your review.

[2021-05-23 04:59] gaelicWizard opened #720 "xUser: unit tests appear not to mock functions"
It seems like the unit tests in xUser actually create/modify/remove users on the testing server? I've only started learning unit testing this past week, so forgive me if I'm just being silly. Should I try writing new unit tests for xUser like there are for xGroup?

[2021-05-23 05:04] #716 closed

[2021-05-30 00:09] PlagueHO commented on #720
I agree @gaelicWizard - we should actually be mocking these calls as it is best practice to not allow unit tests to actually make changes to the underlying platform. What we could do is move these to integration tests and create new ones that mock these. Integration tests are allowed to make changes to the underlying platform.

[2021-05-30 00:10] PlagueHO commented on #477
Closing this because it no longer applies since we've moved to Azure DevOps.

[2021-05-30 00:10] #477 closed

[2021-05-30 00:10] PlagueHO commented on #677
I going to begin working on this so that we can move these resources to HQRM.

[2021-05-30 07:21] PlagueHO opened #721 "Rename xProcessSet to xWndowsProcessSet"
This is to be consistent with the name of the underlying resource.

[2021-06-01 06:19] lavanack opened #722 "New-ZipFromPSModulePath helper function (DscPullServerSetup\DscPullServerSetup.psm1): Bug when renaming the .zip file"
#### Details of the scenario you tried and the problem that is occurring
When using the Publish-DSCModulesAndMof helper function it raises the following error

#### Verbose logs showing the problem
Rename-Item : Cannot rename the specified target, because it represents a path or device name.
At C:\Program Files\WindowsPowerShell\Modules\xPSDesiredStateConfiguration\9.1.0\Modules\DscPullServerSetup

[2021-06-17 07:13] R-Studio commented on #437
I have the same issue. Any news about this?

[2021-07-05 05:59] ShadowXVII opened #723 "When a file exists, and matches checksum, the cache still considers it invalid"
We have a file that gets copied onto a server which becomes locked. We've noticed when deploying a new configuration, it clears the "cache" that's used to maintain whether it's changed or not (as documented).

The `Test-TargetResource` returns $false even though the file may match the checksum. In our case, this is more important than it matching the cache (even though it would if the cache persis

[2021-08-25 19:41] PlagueHO opened #725 "Convert tests to Pester 5"
These tests need to be converted. See an existing converted unit test to see the pattern needed.

Read the blog post to know how Pester 5 tests should look like: https://dsccommunity.org/blog/convert-tests-to-pester5-for-dsc-community-repository/

[2021-08-25 19:42] PlagueHO opened #726 "Add Reason Output to Get-TargetResource"
To better support Azure Policy Guest Configuration, enable Reason array output in `Get-TargetResource` in all resources:
https://docs.microsoft.com/en-us/azure/governance/policy/concepts/guest-configuration-custom#special-requirements-for-get

[2021-08-27 11:27] ekzp opened #727 "xPackage ignores InstalledCheckReg parameters"
Hi,

I am trying to upgrade PowerBI Desktop x64 from 2.88 to 2.96. It is an EXE package with blank/null/no ProductId therefore I wanted to use the InstalledCheckReg* set of parameters along with CreateCheckRegValue = $true to detect whether the desired version of the package has been installed. This is how I would like control the package upgrade process as new versions are released.

The issue is

[2021-09-25 18:29] #677 closed

[2021-09-25 20:13] PlagueHO opened #729 "Add Publish_GitHub_Wiki_Content to Publish Stage of Build Pipeline"
The `build.yaml` publish stage is missing the `Publish_GitHub_Wiki_Content` task.

[2021-09-26 11:49] #729 closed

[2021-10-10 00:01] PlagueHO opened #732 "Update CI Pipeline Files from Latest Pattern"
Copy the latest patterns for the `build.yml`, `build.ps1` and `azure-pipelines.yml` from the PR:
https://github.com/dsccommunity/xExchange/pull/471

# build.yml

[code]

[code]

- Also add updated issue templates and related files:
- .github\ISSUE_TEMPLATE
- .github\CONTRIBUTING.md
- .github\PULL_REQUEST_TEMPLATE.md
- .github\ISSUE_TEMPLATE\General.md
- .github\ISSUE_TEMPLATE\Problem_with_resource

[2021-10-22 06:36] pubsquash opened #734 "xWindowsOptionalFeature - Does not support state "DisabledWithPayloadRemoved""
#### Details of the scenario you tried and the problem that is occurring
Testing on Windows server 2012R2, the feature is disabled and removed, but the test keeps failing as it doesn't have logic for the DisabledWithPayloadRemoved state.

#### Verbose logs showing the problem
Finished Test-TargetResource on the 'SMB1Protocol' feature.
VERBOSE: [DW0991FIAPP046]: LCM:  [ End    Test     ]  [[xWindow

[2021-10-24 13:36] #732 closed, assigned to nobody

[2021-10-24 19:12] PlagueHO opened #735 "Update Azure DevOps Pipeline Images"
The Ubuntu 16.04 and Windows Server 2016 Azure DevOps pipeline hosted images will be deprecated:

https://devblogs.microsoft.com/devops/hosted-pipelines-image-deprecation/

The pipeline stages need to be migrated to newer versions.

[2021-10-25 03:34] #735 closed, assigned to nobody

[2021-10-28 08:00] Abhishekkoraboina opened #737 "GPO to PowerShell DSC"
### Problem description

Issue: to implement the Desired State Config over the newly built standalone servers to implement the Microsoft Security Baseline.
We in our environment have the baseline implemented through GPO – Group Policy Objects. So that whole baseline can be pushed to the domain joined servers.
But for standalone servers we don’t have this option /or to config manually on each serve

[2021-10-30 20:33] CHDAFNI-MSFT opened #738 "xPackage: With Azure KeyVault, Is it possible to pass a secure parameter to the Arguments value? #266"
Its been 5 years since a similar question was asked: [Issue 266](https://github.com/dsccommunity/xPSDesiredStateConfiguration/issues/266)

Using Azure KeyVault, I have 2 Secrets (username, password) I need to pass into an xPackage argument.

How can I pass the parameters as plaintext into the 'arguments' section of an xpackage?

I tried using the Mashall class as an additional parameter that gets

[2021-10-30 21:19] PlagueHO commented on #738
Hi @CHDAFNI-MSFT,

There are a couple of things to consider here:

1. When the MOF above is compiled, even if you pass the parameter in as a SecureString, the value that is set in the Arguments parameter in the resulting MOF will contain the plain text password - you would need to ensure you're using MOF encryption to deal with this: https://docs.microsoft.com/en-us/powershell/scripting/dsc/pull-s

[2021-10-31 17:09] i2bglobal opened #739 "xRemoteFile fails to generate and execute with PowerShell 7"
### Problem description

when running the example configuration to generate MOF

xRemoteFile_DownloadFile_Config -DestinationPath "$env:SystemDrive\fileName.jpg" -Uri 'http://www.contoso.com/image.jpg' -UserAgent [Microsoft.PowerShell.Commands.PSUserAgent]::InternetExplorer -Headers @(@{'Accept-Language' = 'en-US'})

I get this exception:

		 Invalid MOF definition for node 'localhost': Exception

[2021-11-04 00:41] CHDAFNI-MSFT commented on #738
Thanks for responding @PlagueHO
It would be with 5.1.. The Azure DSC extension should take care of encrypting the MOF on the target VM. Unfortunately, managed identities are not possible since they aren't yet available in Azure Stack Hub.

I understand what you're stating which is regardless of how it is passed to the DSC Configuration script (string vs securestring / (assuming settings vs protect

[2021-11-11 18:48] #738 closed

[2022-01-14 10:43] ChristophHannappel opened #740 "xDscWebService: UseSecurityBestPractices sets wrong Enabled Value"
### Problem description

When using the `UseSecurityBestPractices` Parameter with $true the underlying Function `Set-SChannelProtocol` sets a wrong  value for the `Enabled` DWord Property.

Currently the Function sets the value to `0xffffffff`, but based on the documentation it should be `1`
Quote from [TLS 1.1](https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2012-

[2022-01-26 18:59] RobBiddle opened #741 "Version is incorrect in PDS1"
Version shows '0.0.1' instead of '9.1.0.0'
(https://github.com/dsccommunity/xPSDesiredStateConfiguration/blob/9940d6bd5b839773ffc0427047598ef9cb5693f0/source/xPSDesiredStateConfiguration.psd1#L6)

[2022-01-26 20:20] PlagueHO commented on #741
Hi @RobBiddle - This is by design. The moduleVersion is inserted automatically during the build process. Would it help to add a comment to the PSD1 indicating that is automatically generated?

[2022-01-26 21:37] RobBiddle commented on #741
Ahh that makes sense, I wasn't installing from the repository. I just grabbed the source files, which fail to import without modifying the PSD1.

[2022-01-26 22:01] RobBiddle commented on #741
FYI The package from the PS Gallery shows as '9.1.0' which also needs to renamed to be compatible with requirements for DSC modules required naming pattern: https://docs.microsoft.com/en-us/powershell/dsc/pull-server/pullserver?view=dsc-1.1#dsc-resource-module-package-format

[2022-01-26 22:03] #741 closed

[2022-01-26 23:20] RobBiddle opened #742 "Pull Server OS Upgrades"
I have a working DSC Pull Server running 2012R2 (Server Core if that makes a difference).
The Pull Server is configured via **xDSCWebService**
I'm using the latest xPSDesiredStateConfiguration (v. 9.1.0)
Clients are using v2 protocol (AgentID / Named Configurations).
Everything works perfectly on 2012R2.

I've attempted to do an in-place upgrade multiple times now to newer Windows OS (2016, 2019,

[2022-01-27 02:41] PlagueHO commented on #741
Ah right - yes - that will happen. If you want to do that, you can, but just run the sampler build process first and it will produce a local copy for you (although there are a few pre-req's).

[2022-02-05 07:59] IlleNilsson opened #743 "xRemoteFile does not work with PowerShell 7.2.1"
### Problem description

When using Header property of xRemoteFile, creating MOF-file fails.

        Headers = @{ 'Accept-Language' = 'en-US' } # NOTE: This line does not work with newer versions than 5.1 of WindowsPowerShell

### Verbose logs

[code]

### DSC configuration

[code]

### Suggested solution

I have no idea

### Operating system the target node is running

[code]

### PowerShell ver

[2022-02-05 18:52] PlagueHO commented on #743
Hi @IlleNilsson - thank you for raising this.

A few questions to help us diagnose this:

1. Does an error occur when passing the headers or are they just ignored?
2. Is the issue with the specific `Accept-Language` header or any header?

Thank you!

[2022-02-06 07:06] IlleNilsson commented on #743
Hi Daniel,

I have reverted to PS 5.1 and can’t get the exact error message. But it looked like a buffer error saying unable to create mof while writing the headers to it.

I have only tried the header I reported.

BR // Ilian
________________________________
From: Daniel Scott-Raynsford ***@***.***>
Sent: Saturday, February 5, 2022 7:52:38 PM
To: dsccommunity/xPSDesiredStateConfiguration ***@***.

[2022-02-09 01:40] PlagueHO commented on #743
Thanks @IlleNilsson - It sounds like this error was occurring while compiling the MOF, rather than while running the code. Does that sound correct?

[2022-02-09 07:38] IlleNilsson commented on #743
Yes that sound about right
________________________________
From: Daniel Scott-Raynsford ***@***.***>
Sent: Wednesday, February 9, 2022 2:40:26 AM
To: dsccommunity/xPSDesiredStateConfiguration ***@***.***>
Cc: Ilian Nilsson ***@***.***>; Mention ***@***.***>
Subject: Re: [dsccommunity/xPSDesiredStateConfiguration] xRemoteFile does not work with PowerShell 7.2.1 (Issue #743)

Thanks @IlleNilsson<ht

[2022-03-14 20:58] CHDAFNI-MSFT opened #744 "xArchive - During extraction, remove files from destination if not exist in Archive - possible?"
xPSDesiredStateConfiguration - xArchive - Scenario: a versioned Archive zip - Is there a way to remove stale/orphaned files from destination folder that no longer exist in the archive (filename wise)?
Ex:
Initial (v1) Archive.zip -> extracted File1.txt, File2.txt, File3.txt -> C:\temp
(v2) Archive.zip -> extracted File1.txt, File3.txt -> C:\temp
(Goal would be File2.txt to be removed while File1.t

[2022-04-04 16:24] uw-dc opened #745 "xRemoteFile: Key should be URI rather than remote destination?"
### Problem description

The use case of downloading multiple remote files into the same destination path, where the destination path is a directory, seems like it would be a common one.

With that in mind, the [xRemoteFile](https://github.com/dsccommunity/xPSDesiredStateConfiguration/blob/9940d6bd5b839773ffc0427047598ef9cb5693f0/source/DSCResources/DSC_xRemoteFile/DSC_xRemoteFile.schema.mof#L4) r

[2022-04-04 20:18] PlagueHO commented on #745
Hi @uw-dc - thank you for submitting this.

I suspect converting `Uri` to be the Key would break existing DSC configs. For example, when the same file needs to be copied to multiple locations. This is an edge case but could be easily managed by having both `Uri` and `DestinationPath` as keys. That should then support your scenario without breaking existing any existing configurations. What do you

[2022-04-05 08:01] uw-dc commented on #745
Hello @PlagueHO ,

Thanks for the quick response.
That sounds more than reasonable.

I'll go ahead and PR this change?

[2022-04-07 20:26] PlagueHO commented on #745
Hi @uw-dc - sure, would love the PR! If you run into any issues with the pipeline execution etc, please let me know as I've not had much time lately to work on this.

[2022-04-10 05:59] PlagueHO opened #746 "Update GitVersion task in Pipeline"
Update `azure-pipelines.yml` to replace GitVersion task with:
[code]

[2022-04-10 07:50] #746 closed

[2022-04-27 10:07] DanielLettau opened #748 "xRegistryResource: ConvertTo-DWord uses wrong type"
### Problem description

When providing a registry DWORD value above 2147483647 the function exits with an error message:
Value was either too large or too small for an Int32.

However the registry DWORD is of type UInt32 which accept no negative numbers but positivie numbers up to 4294967295.

https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-dtyp/262627d8-3418-4627-9218-4ffe110850b

[2022-08-04 12:37] Luzemin opened #749 "how to stop WINRM service when it stuck at STOP_PENDING state?"
When we execute a PowerShell DSC task, in task, the third-party program tries to stop the WINRM service, but it is stuck at the STOP_PENDING state.

So, after executing the third-party program, the DSC Resource will help it to stop the WINRM service.

the way is that we find the process of the WINRM service, kill it, and restart the WINRM service.

[code]

but, on Windows Server(2012R2/2016), the

[2022-10-04 11:32] danielmiu opened #750 "Group: Unable to add Different forest User to Local Group"
### Problem description

There are two forests with a single domain each, Computer1 is in domainA and user1 is in domainB. There is a full trust relationship between domains, it should be noted that NETBIOS name is not the same as FQDN on either forest.

I am attempting to add User1 to the local administrators group on Computer1. It should be noted that a number of additional users from domainA ar

[2022-10-07 20:42] PlagueHO opened #752 "Remove Windows Server 2016 tests from Pipeline"
The Ubuntu 16.04 and Windows Server 2016 Azure DevOps pipeline hosted images have been deprecated:

https://devblogs.microsoft.com/devops/hosted-pipelines-image-deprecation/

The pipeline stages need to be migrated to newer versions.

Note: Only the Windows Server stages are a problem. The Ubuntu ones have already been fixed in #509.

[2022-11-02 15:54] shreddy99 opened #756 "xGroupSet resource throws errr"
### Problem description

Can someone help with the below error for xGroupSet ?

"PowerShell DSC resource DSC_xGroupResource  failed to execute Set-TargetResource functionality with error message: Exception calling \"Save\" with \"0\" argument(s): \"An unknown directory user object was requested\r\n\" ",

### Verbose logs

[code]

### DSC configuration

[code]

### Suggested solution

n/a

### Oper

[2022-11-25 12:50] Clebam commented on #194
Hi there, I face a similar issue from this portion of code : https://github.com/dsccommunity/xPSDesiredStateConfiguration/blob/main/source/DSCResources/DSC_xUserResource/DSC_xUserResource.psm1#L708

(It generates audit failure with logon failed = account is disabled)

I wonder if we should not skip this test if account is disabled ?

Here is a code sample that could fix the problem
[code]